<div class="pull-right">
  <button class="btn btn-default" data-action="add-new-person">
    <i class="fa fa-user-plus fa-fw"></i>
    Add Person
  </button>
</div>
<form method="GET" action="/person/search">
  <div class="input-group">
    <input class="form-control autofocus" type="text" name="q" value="{{ q }}"
           autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false"
           placeholder="Enter name or other details or scan barcode">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </span>
  </div>
</form>
<hr style="border-color: rgba(0,0,0,0.1)">
<script>
  scat.handleAction('click', 'add-new-person', (ev) => {
    return scat.dialog('/person').then((res) => {
      if (res) { return res.json() }
    }).then((data) => {
      window.location.href= '/person/' + data.id
    })
  })
</script>
