<div class="pull-right">
  <button id="add-new-person" class="btn btn-default">
    Add New Person
  </button>
</div>
<form method="GET" action="/person/search">
  <div class="input-group">
    <input class="form-control autofocus" type="text" name="q" value="{{ q }}"
           autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false"
           placeholder="Enter name or other details or scan barcode">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </span>
  </div>
</form>
<hr style="border-color: rgba(0,0,0,0.1)">
<script>
document.getElementById('add-new-person').addEventListener('click', (ev) => {
  scat.dialog('/person')
})
</script>
