{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  {%- if item -%}
    {{ item.title }}
  {%- elseif product -%}
    {{ product.name }}
  {%- elseif subdept -%}
    {{ subdept.name }}
  {%- elseif dept -%}
    {{ dept.name }}
  {%- else -%}
    Art Supplies
  {%- endif -%}
{% endblock %}

{% block extra_header %}
  <meta property="og:site_name" content="Raw Materials Art Supplies" />
  <meta property="og:title" content="{{ block('title') | e('html_attr') }}" />
  {% if product and not item %}
    <meta property="og:description" content="{{ product.description | e('html_attr') }}" />
    {% set media = product.media %}
    {% if media is not empty %}
      <meta property="og:image" content="{{ media[0].medium }}" />
    {% endif %}
  {% elseif item %}
    <meta property="og:description" content="{{ item.description ?? product.description | e('html_attr') }}" />
    {% set media= item.media ?: product.media %}
    {% if media is not empty %}
      <meta property="og:image" content="{{ media[0].medium }}" />
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  <style>
    nav.breadcrumb {
      padding: 0 1em;
      background: #eee;
      border: var(--border-width) solid #ccc;
      border-radius: var(--border-radius);
    }
    nav.breadcrumb ol {
      padding: 0;
    }
    nav.breadcrumb li {
      display: inline-block;
    }
    nav.breadcrumb li:after {
      content: ' / ';
    }
    nav.breadcrumb li:last-child:after {
      content: '';
    }
    nav.breadcrumb .active > a {
      text-decoration: none;
      color: inherit;
    }
  </style>

  {% block catalog_crumb %}
    {% if dept %}
      <nav class="breadcrumb">
        <ol>
          <li><a href="{{ url_for('catalog') }}">Art Supplies</a></li>
          <li class="{{ not subdept ? 'active' }}">
            <a href="{{ url_for('catalog', { 'dept' : dept.slug }) }}">
              {{ dept.name }}
            </a>
          </li>
          {% if subdept %}
            <li class="{{ not product ? 'active' }}">
              <a style="{{ not subdept.active ? 'text-decoration: line-through' }}"
                 href="{{ url_for('catalog', {'dept': dept.slug,
                                               'subdept': subdept.slug }) }}">
                {{ subdept.name }}
              </a>
            </li>
          {% endif %}
          {% if product %}
            <li class="{{ not item ? 'active' }}">
              <a href="{{ url_for('catalog', { 'dept': dept.slug,
                                                'subdept': subdept.slug,
                                                'product': product.slug}) }}">
                {{ product.name }}
              </a>
            </li>
          {% endif %}
        </ol>
      </nav>
    {% endif %}
  {% endblock %}

<div class="row">
  {% block catalog_content %}
    {% if dept and not subdept  %}
      <h1 class="page-header">
        {{ dept.name }}
      </h1>
      <p>
        {{ dept.description | markdown }}
      </p>
      <div class="smol-grid">
        {% for subdept in subdepts %}
          <div class="card hot">
            <a href="{{ url_for('catalog', subdept.url_params ) }}">
              {{ subdept.name }}
            </a>
            {% set image= subdept.image %}
            <img src="{{ image.medium }}" alt="{{ subdept.name }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if products and not product %}
      <h1 class="page-header">{{ subdept ? subdept.name : dept.name }}</h1>
      {% include 'catalog/products.twig' %}
    {% endif %}

    {% if product and not item %}
      <!-- don't show product link on items, we're already there -->
      <style>a.product-link { display: none; }</style>
      {% include 'catalog/product.twig' %}
      {% if product.brand.warning %}
        <div class="alert alert-danger">
          {{ product.brand.warning }}
        </div>
      {% endif %}
    {% endif %}

    {# Item(s) #}
    {% if items|length %}
      {% include 'catalog/item-list.twig' %}
    {% endif %}

    {% if item %}
      {% include 'catalog/item.twig' %}
    {% endif %}

    {% if not dept %}
      <h1 class="page-header">
        Art Supplies
      </h1>
      {{ page('art-supplies').content | raw }}
      <div class="smol-grid">
        {% for dept in depts %}
          <div class="card hot">
            <a href="{{ url_for('catalog', { dept: dept.slug }) }}">
              {{ dept.name }}
            </a>
            {% set image= dept.image %}
            <img src="{{ image.medium }}" alt="{{ subdept.name }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}

  {% endblock %}
</div>

{% endblock %}

{% block script %}
{% endblock %}
