{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  {%- if product %}
    {{ product.name }}
  {% elseif subdept %}
    {{ subdept.name }}
  {% elseif dept %}
    {{ dept.name }}
  {% else %}
    Art Supplies
  {% endif -%}
{% endblock %}

{% block content %}

  <style>
    nav.breadcrumb {
      padding: 0 1em;
      background: #eee;
      border: var(--border-width) solid #ccc;
      border-radius: var(--border-radius);
    }
    nav.breadcrumb ol {
      padding: 0;
    }
    nav.breadcrumb li {
      display: inline-block;
    }
    nav.breadcrumb li:after {
      content: ' / ';
    }
    nav.breadcrumb li:last-child:after {
      content: '';
    }
    nav.breadcrumb .active > a {
      text-decoration: none;
      color: inherit;
    }
  </style>

  {% block catalog_crumb %}
    {% if dept %}
      <nav class="breadcrumb">
        <ol>
          <li><a href="{{ url_for('catalog') }}">Art Supplies</a></li>
          <li class="{{ not subdept ? 'active' }}">
            <a href="{{ url_for('catalog', { 'dept' : dept.slug }) }}">
              {{ dept.name }}
            </a>
          </li>
          {% if subdept %}
            <li class="{{ not product ? 'active' }}">
              <a style="{{ not subdept.active ? 'text-decoration: line-through' }}"
                 href="{{ url_for('catalog', {'dept': dept.slug,
                                               'subdept': subdept.slug }) }}">
                {{ subdept.name }}
              </a>
            </li>
          {% endif %}
          {% if product %}
            <li class="{{ not item ? 'active' }}">
              <a href="{{ url_for('catalog', { 'dept': dept.slug,
                                                'subdept': subdept.slug,
                                                'product': product.slug}) }}">
                {{ product.name }}
              </a>
            </li>
          {% endif %}
        </ol>
      </nav>
    {% endif %}
  {% endblock %}

<div class="row">
  <div class="col-md-{% block catalog_width "9 col-md-push-3" %}">

<style>
{# TODO move into static css #}
.card {
  --img-ratio: 3/2;

  display: flex;
  flex-direction: column;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.35);
  border-radius: var(--border-radius);
}
.card.hot {
  cursor: pointer;
}

/* Soon we can replace this with: gap: 1rem; */
.card > * + * {
  margin-top: 1rem;
}

.card > img {
  /* Fallback for `aspect-ratio` of defining a height */
  height: max(18vh, 12rem);
  object-fit: cover;
  width: 100%;
}

/* When supported, use `aspect-ratio` */
@supports (aspect-ratio: 1) {
  .card > img {
    aspect-ratio: var(--img-ratio);
    height: auto;
  }
}

.card > img:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card > img:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin-top: auto;
}

.card > :not(img) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card > :not(img):first-child {
  margin-top: 1rem;
}

/* Enhanced `:not()` accepts a selector list,
but as a fallback you can chain `:not()` instead */
.card > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1rem;
}

.card > :not(h2, h3, h4) {
  font-size: 0.9rem;
}

.card > button {
  align-self: center;
}

.card.hot:hover h3 {
  text-decoration: underline;
  color: var(--primary-color);
}
.card.hot:hover {
  box-shadow: 0.25em 0.25em 1em rgba(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b), 0.8);
}
</style>

    {% block catalog_content %}
      {% if dept and not subdept  %}
        <h1 class="page-header">
          {{ dept.name }}
        </h1>
        <p>
          {{ dept.description | markdown }}
        </p>
        <div class="smol-grid">
          {% for subdept in subdepts %}
            <div class="card hot">
              <a href="{{ url_for('catalog', subdept.url_params ) }}">
                {{ subdept.name }}
              </a>
              {% set image= subdept.image %}
              <img src="{{ image.medium }}" alt="{{ subdept.name }}">
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if products and not product %}
        <h1 class="page-header">{{ subdept ? subdept.name : dept.name }}</h1>
        {% include 'catalog/products.twig' %}
      {% endif %}

      {% if product and not item %}
        <!-- don't show product link on items, we're already there -->
        <style>a.product-link { display: none; }</style>
        {% include 'catalog/product.twig' %}
        {% if product.brand.warning %}
          <div class="alert alert-danger">
            {{ product.brand.warning }}
          </div>
        {% endif %}
      {% endif %}

      {# Item(s) #}
      {% if items|length %}
        {% include 'catalog/item-list.twig' %}
      {% endif %}

      {% if item %}
        {% include 'catalog/item.twig' %}
      {% endif %}

      {% if not dept %}
        <h1 class="page-header">
          Art Supplies
        </h1>
        {{ page('art-supplies').content | raw }}
        <div class="smol-grid">
          {% for dept in depts %}
            <div class="card hot">
              <a href="{{ url_for('catalog', { dept: dept.slug }) }}">
                {{ dept.name }}
              </a>
              {% set image= dept.image %}
              <img src="{{ image.medium }}" alt="{{ subdept.name }}">
            </div>
          {% endfor %}
        </div>
      {% endif %}

    {% endblock %}
  </div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
