{% extends 'catalog/page.html' %}

{% block title %}
  Search results for '{{ q }}'
{% endblock %}

{% block catalog_crumb %}
  <nav class="breadcrumb">
    <ol>
      <li><a href="{{ url_for('catalog') }}">Art Supplies</a></li>
      <li>
        Search Results
      </li>
    </ol>
  </nav>
{% endblock %}

{% block catalog_content %}
  <h1 class="title">
    Search results for '{{ q }}'
  </h1>

  {% if original_q %}
    <p>
      <strong>No results were found for your original search terms.</strong>
      We changed it to <code class="highlight">{{ q }}</code>
      and got these results.
    </p>
  {% endif %}

  {% if products %}
    {% include 'catalog/products.twig' %}
  {% else %}
    {% if error %}
      <p>Sorry, there was an error handling your query.</p>
      {% if DEBUG %}
        <code><pre>{{ error }}</pre></code>
      {% endif %}
    {% else %}
      <p>Sorry, we didn't find anything for that search.</p>
    {% endif %}
  {% endif %}

{% endblock %}

{% block script %}
  {% autoescape 'js' %}
    <script>
      zaraz.track('view_search_results', {
        search_term: '{{ q }}',
        original_search_term: '{{ original_q }}',
        search_hits: '{{ products|length }}',
      })
    </script>
  {% endautoescape %}
{% endblock %}
