{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% set shipping_method= txn.shipping_method %}
{% set hazmat = txn.has_hazmat_items() %}

{% if shipping_method == 'next_day' %}
  {% set preferred_rates= {
    'UPS':  [ 'NextDayAir' ],
    'UPS':  [ 'NextDayAirSaver' ],
    'UPSDAP':  [ 'NextDayAir' ],
    'UPSDAP':  [ 'NextDayAirSaver' ],
  } %}
{% elseif shipping_method == 'two_day' %}
  {% set preferred_rates= {
    'UPS':  [ '2ndDayAir' ],
    'UPSDAP':  [ '2ndDayAir' ],
  } %}
{% else %}
  {% if txn.shipping_address.is_po_box() %}
    {% if hazmat %}
      {% set preferred_rates= {
        'USPS': [ 'ParcelSelect' ],
      } %}
    {% else %}
      {% set preferred_rates= {
        'USPS': [ 'First', 'Priority', 'GroundAdvantage' ],
      } %}
    {% endif %}
  {% else %}
    {% if hazmat and txn.shipping_address.state in [ 'AK', 'HI' ] %}
      {% set preferred_rates= {
        'USPS': [ 'ParcelSelect' ],
      } %}
    {% elseif hazmat %}
      {% set preferred_rates= {
        'GSO': [ 'CaliforniaParcelService' ],
        'UPS':  [ 'Ground' ],
        'UPSDAP':  [ 'Ground' ],
      } %}
      {#  'FedEx': [ 'FEDEX_GROUND', 'GROUND_HOME_DELIVERY' ], #}
    {% else %}
      {% set preferred_rates= {
        'USPS': [ 'First', 'Priority', 'GroundAdvantage' ],
        'UPS':  [ 'Ground' ],
        'UPSDAP':  [ 'Ground' ],
      } %}
      {#  'GSO': [ 'CaliforniaParcelService' ], #}
      {#  'FedEx': [ 'FEDEX_GROUND', 'GROUND_HOME_DELIVERY' ], #}
    {% endif %}
  {% endif %}
{% endif %}

{% block title %}
  Add Shipment
  {% if shipping_method == 'next_day' %}
    &mdash; <span class="text-danger">Next Day</span>
  {% elseif shipping_method == 'two_day' %}
    &mdash; <span class="text-danger">Two Day</span>
  {% endif %}
  {% if hazmat %}
    &mdash; <span class="text-danger">Hazardous Materials</span>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="modal-body">
    {% if shipment %}
      {% if easypost %}
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">
            <span class="badge">{{ scat.amount(txn.shipping) }}</span>
            Paid
          </li>
          {% for rate in easypost.rates|sort((a,b) => a.rate <=> b.rate) %}
            <a href="#" data-rate="{{ rate.id }}" class="list-group-item {{ rate.service in preferred_rates[rate.carrier] ? 'preferred' : 'hidden' }} {{ hazmat and rate.service not in [ 'ParcelSelect', 'Ground', 'FEDEX_GROUND', 'GROUND_HOME_DELIVERY', 'CaliforniaParcelService' ] ? 'disabled' }}">
              <span class="badge">{{ scat.amount(rate.rate) }}</span>
              {{ scat.format_shipping_carrier(rate.carrier) }}: {{ rate.service }}
              {% if rate.delivery_days %}
                ({{ rate.delivery_days}} day{{ rate.delivery_days > 0 ? 's' }})
              {% endif %}
            </a>
          {% endfor %}
          <a data-action="show-all" class="list-group-item">
            Show All
          </a>
          <label class="list-group-item">
            <input type="checkbox" value="1" name="no_insurance">
            No Insurance
          </lable>
        </ul>
      {% endif %}
    {% else %}
      <div class="form-group">
        <label for="label_date">Label Date</label>
        <input type="text" class="form-control"
               name="label_date"
               value="{{ label_date ?: "now"|date("Y-m-d") }}">
      </div>

      {# Gift card is always letter #}
      {% if txn.items.where('item_id', 11212).find_one %}
        <input type="hidden" name="predefined_package" value="Letter">
      {% endif %}

      <div class="form-group">
        <label for="weight">Weight</label>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"
                    data-action="read-scale">
              <i class="fa fa-balance-scale fa-fw"></i>
              <span class="sr-only">Read Scale</span>
            </button>
          </span>
          <input type="text" class="form-control autofocus" required
                 name="weight" placeholder="3 lbs">
        </div>
      </div>

      <div class="form-group">
        <label for="dimensions">Dimensions</label>
        <input type="text" class="form-control" required
               name="dimensions" placeholder="15 x 10 x 9">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="hazmat" value="1" {{ (shipment.hazmat or txn.has_hazmat_items()) ? 'checked' }}>
          Contains Hazardous Materials
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_return" value="1">
          Is Return
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="letter" value="1">
          Letter
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="signature" value="1">
          Signature Required
        </label>
      </div>

    {% endif %}

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    {{ shipment ? 'Select' : 'Lookup' }}
  </button>
{% endblock %}

{% block script %}
  form.addEventListener('click', (ev) => {
    let rate= ev.target.closest('[data-rate]')
    if (!rate) return;

    ev.preventDefault()
    ev.stopPropagation()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'
    let rate_id= rate.getAttribute('data-rate')
    let no_insurance= form.elements['no_insurance'].checked ? 1 : 0

    fetch("/sale/{{ txn.id }}/shipment/{{ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify({
        rate_id: rate_id,
        no_insurance: no_insurance
      })
    })
    .then((res) => {
      if (!res.ok) {
        return Promise.reject(new Error(res.statusText))
      }
      return res.json()
    })
    .then((data) => {
      scat.alert('info', 'Added shipment.')
      // TODO don't print if this is a return label
      scat.print('/sale/' + {{ txn.id }} + '/shipment/' + data.id + '/~print-label')
      dialog.resolution= data
      $(dialog).modal('hide')
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'

    let formData= new FormData(form)
    fetch("/sale/{{ txn.id }}/shipment{{ shipment.id ? '/' ~ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData))
    })
    .then((res) => scat._handleResponse(res))
    .then((res) => res.json())
    .then((data) => {
      $(dialog).modal('hide')
      dialog.resolution= scat.dialog('/sale/{{ txn.id }}/shipment/' + data.id)
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  }

  scat.handleActionOn(form, 'click', 'show-all', (act) => {
    act.parentElement.querySelectorAll('.hidden').forEach((el) => {
      el.classList.remove('hidden')
    })
    act.remove()
    return Promise.resolve()
  })

  scat.handleActionOn(form, 'click', 'read-scale', (act) => {
    return fetch('/scale').then((res) => {
      return res.text()
    })
    .then((text) => {
      form.elements['weight'].value= text
      return Promise.resolve()
    })
  })
{% endblock %}
