{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Add New Item
{% endblock %}

{% block body %}
  <div class="modal-body">

    {% if product_id %}
      <input type="hidden" name="product_id" value="{{ product_id }}">
    {% endif %}

    <div class="form-group">
      <label for="code">Code</label>
      <div class="input-group">
        <input type="text" class="form-control" autofocus
               name="code" placeholder="Code"
               value="{{ vendor_item ? vendor_item.code }}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"
                  id="load" title="Load from Vendor">
            <i class="fa fa-upload"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control"
             name="name" placeholder="Name"
             value="{{ vendor_item ? vendor_item.name }}">
    </div>

    <div class="form-group">
      <label for="retail_price">Price</label>
      <input type="text" class="form-control"
             name="retail_price" placeholder="$0.00"
             value="{{ vendor_item ? vendor_item.retail_price }}">
    </div>

    <input type="hidden" name="vendor_item" value="{{ vendor_item.id }}">

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">Add</button>
{% endblock %}

{% block script %}
  form.querySelector('#load').addEventListener('click', (ev) => {
    event.preventDefault()

    let formData= new FormData(form)
    scat.call("/catalog/vendor-item/search", formData)
    .then((res) => res.json())
    .then((data) => {
      // TODO feedback when nothing found
      if (data.id) {
        form.code.value= data.code
        form.name.value= data.name
        form.retail_price.value= data.retail_price
        form.vendor_item.value= data.id
      }
    })
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    let formData= new FormData(event.currentTarget)
    scat.post("/catalog/item", formData)
    .then((res) => {
      if (res.redirected) {
        window.location.href= res.url
      } else {
        alert(res.statusText ? res.statusText : 'An unknown error occured.')
      }
    })
    .catch((err) => {
      alert(err.message)
    })
  }
{% endblock %}
