{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Media for {{ product ? product.name : item.name }}
{% endblock %}

{% block body %}
  <div class="modal-body">

    {% for i in media %}
      <div class="media" data-id="{{ i.id }}">
        <div class="media-left" style="min-width: 128px; min-height: 128px">
          {{ include('carousel.twig', { images: [ i ], thumb: true }) }}
        </div>
        <div class="media-body">
          <h4 class="media-heading" style="overflow-wrap: break-word; max-width: 30ch">{{ i.name }}</h4>
          {{ i.caption }}
        </div>
        <div class="media-right">
          {% if i.id %}
            <a class="btn btn-sm btn-default btn-block" target="_blank"
               href="{{ url_for('media', { id: i.id }) }}">
              <i class="fa fa-fw fa-file-image-o"></i>
              Details
            </a>
            <button role="button" class="btn btn-sm btn-default btn-block"
                    data-action="disconnect-media">
              <i class="fa fa-fw fa-unlink"></i>
              Disconnect
            </button>
          {% else %}
            <button class="btn btn-sm btn-default btn-block" disabled>
              Old Image
            </button>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    {% for i in related %}
      <div class="media" data-id="{{ i.id }}">
        <div class="media-left" style="min-width: 128px; min-height: 128px">
          {{ include('carousel.twig', { images: [ i ], thumb: true }) }}
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ i.name }}</h4>
          {{ i.caption }}
        </div>
        <div class="media-right">
          <a class="btn btn-sm btn-default btn-block" target="_blank"
             href="{{ url_for('media', { id: i.id }) }}">
            <i class="fa fa-fw fa-file-image-o"></i>
            Details
          </a>
          <button role="button" class="btn btn-sm btn-default btn-block"
                  data-action="connect-media">
            <i class="fa fa-fw fa-link"></i>
            Connect
          </button>
        </div>
      </div>
    {% endfor %}
    {% for grab in grabs %}
      <div class="media" data-url="{{ grab.values[0].download_url }}">
        <div class="media-left" style="min-width: 128px; min-height: 128px">
          <img src="{{ grab.values[0].thumbnail_url }}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{ grab.name }}</h4>
        </div>
        <div class="media-right">
          <button role="button" class="btn btn-sm btn-default btn-block"
                  data-action="grab-media">
            <i class="fa fa-fw fa-hand-grab-o"></i>
            Grab
          </button>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}

{% block submit %}
{% endblock %}

{% block script %}
  scat.handleActionOn(form, 'click', 'disconnect-media', (act) => {
    let id= act.closest('[data-id]').getAttribute('data-id')

    return scat.delete('/catalog/{{ product ? 'product/' ~ product.id : 'item/' ~ item.code }}/media/' + id)
      .then((res) => {
        act.closest('[data-id]').remove();
      })
  })

  scat.handleActionOn(form, 'click', 'connect-media', (act) => {
    let id= act.closest('[data-id]').getAttribute('data-id')

    return scat.post('/catalog/{{ product ? 'product/' ~ product.id : 'item/' ~ item.code }}/media', { media_id: id })
      .then((res) => {
        window.location.reload()
      })
  })

  scat.handleActionOn(form, 'click', 'grab-media', (act) => {
    let url= act.closest('[data-url]').getAttribute('data-url')

    let formData= new FormData()
    formData.append('url', url)

    scat.handleFileUpload('/catalog/{{ product ? 'product/' ~ product.id : 'item/' ~ item.code }}/media', formData, true)
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    return
  }
{% endblock %}
