{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block size 'modal-lg' %}

{% block title %}
  {% if parent_id %}
    <a class="load-note">
      <i class="fa fa-fw fa-chevron-left"></i>
    </a>
  {% endif %}
  {% if attach_id %}
    Notes on something
  {% else %}
    Notes
  {% endif %}
{% endblock %}

{% block body %}
  {# TODO hardcoded height in here, should be smarter #}
  <table class="table table-striped"
         style="display: block; width: 100%;
                max-height: 500px; overflow: auto; margin-bottom: 0px">
    {% for note in notes %}
      <tr>
        <td class="text-right" width="20%">
          {% if not note.parent_id %}
            {% if note.kind == 'txn' %}
              {% set txn= note.txn %}
              <a href="{{ url_for('sale', { 'id' : txn.id }) }}">
                Invoice {{ txn.formatted_number }}
              </a>
            {% endif %}
            {% set about= note.about %}
            {% if about %}
              <a class="clearfix" href="{{ url_for('person', { 'id' : about.id() }) }}">
                {{ about.friendly_name }}
              </a>
              {% if about.phone %}
                <a class="clearfix" href="{{ url_for('person', { 'id' : about.id() }) }}">
                  {{ about.phone | phone_number_format }}
                </a>
              {% endif %}
            {% endif %}
            {% if note.kind == 'item' %}
              {% set item= note.item %}
              <a href="{{ url_for('catalog-item', { 'code' : item.code }) }}">
                {{ item.name }}
              </a>
            {% endif %}
          {% endif %}
        </td>
        <td width="100%">
          <small>
            {{ note.added | date("l, F j") }}
            {% set person= note.person.find_one() %}
            {% if person %}
              ({{ person.friendly_name }})
            {% endif %}
          </small>
          {% if note.full_content %}
            <details style="padding-left: 1em">
              <summary>{{ note.content }}</summary>
              <iframe srcdoc="{{ note.full_content }}" width="100%" height="300" sandbox></iframe>
            </details>
          {% else %}
            <p style="padding-left: 1em">{{ note.content }}</p>
          {% endif %}
          {% if not note.parent_id %}
            <div class="small">
              <a class="load-note" data-id="{{ note.id }}">
                {% if note.children %}
                  View {{ note.children }}
                  repl{{ note.children != '1' ? 'ies' : 'y' }}
                {% else %}
                  Reply
                {% endif %}
              </a>
            </div>
          {% endif %}
        </td>
        <td width="10%">
          {% if not note.parent_id %}
            <a data-id="{{ note.id }}" data-todo="{{ note.todo }}"
               class="todo-link label
                      {{ note.todo ? 'label-primary' : 'label-success' }}">
              {{ note.todo ? 'TODO' : 'DONE' }}
            </a>
          {% endif %}
          {% if note.source == 'sms' %}
            <i class="fa fa-lg fa-mobile"></i>
          {% endif %}
          {% if note.source == 'email' %}
            <i class="fa fa-lg fa-envelope-o"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block form_class 'form-inline' %}

{% block footer %}
  <div class="modal-footer">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="content" autofocus
               placeholder="Enter your comment..." size="500">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    {% if parent_id > 0 %}
      Replying...
    {% endif %}
    <input type="hidden" name="parent_id" value="{{ parent_id }}">
    <input type="hidden" name="kind" value="{{ kind }}">
    <input type="hidden" name="attach_id" value="{{ attach_id }}">
    <input type="hidden" name="parent_id" value="{{ parent_id }}">
    <input type="hidden" name="todo" value="1">
    <div class="form-group">
      <select class="form-control input-sm" name="person_id">
        <option value="">Select...</option>
        {% for person in staff %}
          <option value="{{ person.id }}">{{ person.name }}</option>
        {% endfor %}
      </select>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="sms">
          SMS
        </label>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  form.addEventListener('click', (ev) => {
    let todoLink= ev.target.closest('.todo-link')
    if (!todoLink) return

    ev.preventDefault()
    ev.stopPropagation()

    const id= todoLink.attributes['data-id'].value
    const todo= todoLink.attributes['data-todo'].value

    let formData= new FormData();
    fetch('/note/' + id, {
      method: 'PATCH',
      headers: {
        'Content-type': 'application/json',
        'Accept': 'application/json'
      },
      body: JSON.stringify({ todo: todo == '1' ? 0 : 1 })
    })
    .then((res) => {
      return res.json()
    })
    .then((note) => {
      todoLink.attributes['data-todo'].value= note.todo
      todoLink.text= note.todo ? 'TODO' : 'DONE'
      todoLink.classList.remove('label-primary','label-success')
      todoLink.classList.add(note.todo ? 'label-primary' : 'label-success')
    })
  })

  form.loadNotes= (id) => {
    let args= { body_only: 1 }
    {% if attach_id %}
      args.attach_id= '{{ attach_id }}'
    {% endif %}
    {% if attach_id %}
      args.kind= '{{ kind }}'
    {% endif %}
    let params= new URLSearchParams(args)
    fetch('/note' + (id ? '/' + id : '') + '?' + params, {
      method: 'GET',
    })
    .then((res) => {
      if (!res.ok) {
        return Promise.reject(new Error(res.statusText))
      }
      return res.text()
    })
    .then((text) => {
      let body= scat.htmlToElement(text)
      // replace the contents so we don't lose the event handlers
      form.innerHTML= ''
      form.append(...body.childNodes)
    })
  }

  form.addEventListener('click', (ev) => {
    let link= ev.target.closest('.load-note')
    if (link) {
      let id= link.getAttribute('data-id')
      form.loadNotes(id)
      ev.preventDefault()
    }
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    scat.call("/note", formData)
    .then((res) => res.json())
    .then((note) => {
      form.reset()
      form.loadNotes(note.parent_id)
    })
  }
{% endblock %}
