{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block size '' %}

{% block title %}
  Quick Report
{% endblock %}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th style="text-align: right">Sales</th>
      <th style="text-align: right">Average</th>
      <th style="text-align: right">In Person</th>
      <th style="text-align: right">Online</th>
      <th style="text-align: right">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for day in sales %}
      <tr>
        <td>{{ day.raw_date | date("l, F j") }}</td>
        <td align="right">{{ day.transactions }}</td>
        <td align="right">{{ scat.amount(day.total / day.transactions) }}</td>
        <td align="right">{{ scat.amount(day.in_person) }}</td>
        <td align="right">{{ scat.amount(day.online) }}</td>
        <td align="right">{{ scat.amount(day.total) }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
