{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <h2 style="margin-top: 0.05em">{{ person.friendly_name() }}</h2>
    </div>

    <div class="col-sm-5">
      <form action="" class="form">
        <div class="input-group">
          <input type="search" class="form-control"
                 name="q" value="{{ q }}">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value="Search">
          </span>
        </div>
      </form>
    </div>

    <div class="col-sm-1">
      <button type="button" class="btn btn-default bulk-add">
        Bulk Add
      </button>
    </div>
  </div>

  <hr style="border-color: rgba(0,0,0,0.1)">

  <nav aria-label="Controls for Item List">
    <ul class="pager">
      <li class="previous {{ not page ? 'disabled' }}">
        <a href="?page={{ page - 1 }}&amp;q={{ q }}&amp;limit={{ limit }}">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
      <li>
       {{ page * limit + 1 }} -
       {{ min((page + 1) * limit + 1, items[0].total) }}
       of {{ items[0].total }}
      </li>
      <li class="next">
        <a href="?page={{ page + 1 }}&amp;q={{ q }}&amp;limit={{ limit }}">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

  <table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>SKU</th>
      <th>Name</th>
      <th style="text-align: right">Retail</th>
      <th style="text-align: right">Net</th>
      <th style="text-align: right">Promo</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
      <tr data-id="{{ i.id }}" data-item="{{ i.item_id }}">
        <td>
          {% if i.item_id %}
            <a href="{{ url_for('catalog-item', { 'code' : i.item.code}) }}">
              {{- i.item.code -}}
            </a>
          {% else %}
            {{ i.code }}
            <a href="#" class="add-item">
              <i class="fa fa-plus-square-o"></i>
            </a>
          {% endif %}
        </td>
        <td>{{ i.vendor_sku }}</td>
        <td>{{ i.name }}</td>
        <td align="right">{{ scat.amount(i.retail_price) }}</td>
        <td align="right">
          {{ scat.amount(i.net_price) }} /
          {{ i.purchase_quantity }}
        </td>
        <td align="right">
          {% if i.promo_price > 0 and i.promo_price != i.net_price %}
            {{ scat.amount(i.promo_price) }} /
            {{ i.promo_quantity }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}

{% block script %}
  <script>
  {
    document.addEventListener('click', (ev) => {
      if (!ev.target.closest('.add-item')) return;
      ev.preventDefault();

      let id= ev.target.closest('[data-id]').getAttribute('data-id')
      scat.dialog([], '/catalog/item?vendor_item_id=' + id)
    })

    document.addEventListener('click', (ev) => {
      if (!ev.target.closest('.bulk-add')) return;
      ev.preventDefault();

      let items= []
      document.querySelectorAll('[data-id]').forEach((row) => {
        if (row.getAttribute('data-item') == 0) {
          items.push(row.getAttribute('data-id'))
        }
      })

      scat.post('/catalog/item/~bulk-add', { items: items })
      .then((res) => {
        debugger
      })
    })
  }
  </script>
{% endblock %}
