{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block content %}
  <h2>{{ person.friendly_name() }}</h2>

  <nav aria-label="Controls for Item List">
    <ul class="pager">
      <li class="previous {{ not page ? 'disabled' }}">
        <a href="?page={{ page - 1 }}">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      </li>
      <li>
       {{ page * limit + 1 }} -
       {{ min((page + 1) * limit + 1, items[0].total) }}
       of {{ items[0].total }}
      </li>
      <li class="next">
        <a href="?page={{ page + 1 }}">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      </li>
    </ul>
  </nav>

  <table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>SKU</th>
      <th>Name</th>
      <th style="text-align: right">Retail</th>
      <th style="text-align: right">Net</th>
      <th style="text-align: right">Promo</th>
    </tr>
  </thead>
  <tbody>
    {% for i in items %}
      <tr>
        <td>
          {% if i.item %}
            <a href="{{ path_for('catalog-item', { 'code' : i.real_item.code}) }}">
              {{- i.real_item.code -}}
            </a>
          {% else %}
            {{ i.code }}
          {% endif %}
        </td>
        <td>{{ i.vendor_sku }}</td>
        <td>{{ i.name }}</td>
        <td align="right">{{ scat.amount(i.retail_price) }}</td>
        <td align="right">
          {{ scat.amount(i.net_price) }} /
          {{ i.purchase_quantity }}
        </td>
        <td align="right">
          {% if i.promo_price > 0 and i.promo_price != i.net_price %}
            {{ scat.amount(i.promo_price) }} /
            {{ i.promo_quantity }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}
