<?
/* Set to false on a production instance. */
$DEBUG= true;

/* Database configuration */
define('DB_SERVER', 'localhost');
define('DB_USER', 'username');
define('DB_PASSWORD', 'password');
define('DB_SCHEMA', 'scat');

define('LABEL_PRINTER', 'DYMO_LabelWriter_450_Turbo');

/* Default values */
define('DEFAULT_TAX_RATE', 9.00);

/* Printed on till receipts */
define('BANK_DEPOSIT_INFO', 'My Bank<br>CHECKING<br>#1234567890<br>Scat LLC');

/* Key for sending outgoing email */
define('SPARKPOST_KEY', 'Your key from SparkPost.');

/* Bcc: on all outgoing emails */
define('OUTGOING_EMAIL_ADDRESS', 'scat@example.com');

/* Ordure (https://github.com/jimwins/ordure) instance */
define('ORDURE', 'https://ordure.example.com/');
define('ORDURE_KEY', 'YOUR SECRET KEY');
define('ORDURE_STATIC', '//static-content.example.com');
