<?
/* Set to false on a production instance. */
$DEBUG= true;

return [
  'data' => [
    'dsn' => 'mysql:host=localhost;dbname=scat;charset=utf8',
    'options' => [
      'username' => 'username',
      'password' => 'password',
    ],
  ],
];
