{% extends 'layout/page.html' %}

{% block title %}
  Connect to Google
{% endblock %}

{% block content %}
  <form method="post" action="{{ current_url() }}">
    <div class="form-group">
      <label for="client_id">Client ID</label>
      <input type="text" class="form-control" autofocus
             name="client_id" value="{{ client_id }}">
    </div>

    <div class="form-group">
      <label for="client_secret">Client Secret</label>
      <input type="password" class="form-control"
             name="client_secret" value="">
    </div>

    <button type="submit" class="btn btn-primary">
      Save
    </button>

  </form>

  {% if token %}
    <a href="/settings/google?reauthorize=1" class="btn btn-primary">
      Reauthorize
    </a>
  {% endif %}
{% endblock %}
