{% extends 'layout/page.html' %}

{% block title %}
  Wordforms
{% endblock %}

{% block content %}

  <h1 class="page-header">Wordforms</h1>

  <ul class="nav nav-pills">
    <li role="presentation"><a href="/settings">Advanced</a></li>
    <li role="presentation"><a href="/settings/messages">Canned Messages</a></li>
    <li role="presentation"><a href="/settings/address">Shipping Address</a></li>
    <li role="presentation" class="active"><a href="/settings/wordform">Wordforms</a></li>
  </ul>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Source</th>
        <th>Destination</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for wordform in wordforms %}
        <tr data-id="{{ wordform.id }}">
          <td>
            {{- wordform.source -}}
          </td>
          <td>
            {{- wordform.dest -}}
          </td>
          <td>
            {{- wordform.modified ?: wordform.added -}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <td colspan="4">
        <button id="create-new" class="btn btn-primary">
          Create New Wordform
        </button>
    </tfoot>
  </table>

{% endblock %}

{% block script %}
  <script>
    document.querySelectorAll('tbody tr').forEach((el) => {
      el.addEventListener('click', (ev) => {
        const id= el.getAttribute('data-id')
        scat.dialog('/settings/wordform/' + id)
      })
    })

    document.getElementById('create-new').addEventListener('click', (ev) => {
      scat.dialog('/settings/wordform')
    })
  </script>
{% endblock %}
