{% extends 'layout/email.html' %}

{% block title -%}
  {{ sale.name }}, thank you for stopping by
{%- endblock %}

{% block preheader %}
  Still looking? How can we help?
{% endblock %}

{% block content_top %}
  <p>Thanks for stopping by RawMaterialsLA.com.</p>
  <p>Want something new? Check out our freshest finds.</p>
  <p>Need a recommendation? Shop the store’s greatest hits.</p>
  <p>Looking for a sale? Shop our monthly markdowns.</p>
{% endblock %}

{% block call_to_action %}
  back to my cart
{% endblock %}

{% block content_bottom %}
{# TODO make recommendations #}
<p>Why shop at RawMaterialsLA.com?</p>

<p>Save big. Shop anywhere. Achieve more.</p>

<p>Secure checkout. Most payment methods are accepted. We now accept Amazon Pay.</p>

<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><a href="https://rawmaterialsla.com/art-supplies">continue shopping</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>Let’s be besties.</p>

<ul>
  <li><a href="https://www.instagram.com/rawmaterialsartsupplies/">Follow us on Instagram</a></li>
  <li><a href="https://www.facebook.com/RawMaterialsLA">Like us on Facebook</a></li>
  <li><a href="https://www.twitter.com/RawMaterials">Follow us on Twitter</a></li>
  <li><a href="https://www.pinterest.com/rawmaterialsla/">Follow us on Pinterest</a></li>
  <li><a href="https://www.youtube.com/channel/UC8QdVII0oYUnrO5RLAcivSQ">Subscribe to our YouTube channel</a></li>
</ul>

{% endblock %}
