{% extends 'catalog/layout.html' %}

{% block title %}
  {{ brand ? brand.name : 'Brands' }}
{% endblock %}

{% block catalog_crumb %}
  <div class="row">
    <div class="col-xs-11">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
        <li class="{{ not brand ? 'active' }}">
          <a href="{{ url_for('catalog-brand') }}">Brands</a>
        </li>
        {% if brand %}
          <li class="active">
            <a href="{{ url_for('catalog-brand', { 'brand' : brand.slug }) }}">
              {{ brand.name }}
            </a>
          </li>
        {% endif %}
      </ol>
    </div>
    {% if brand %}
      <div class="col-xs-1">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle"
                  type="button" id="settingsMenu" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-cog"></i>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right"
              aria-labelledby="settingsMenu">
            <li>
              <a onclick="scat.dialog(this, '/catalog/brand/{{ brand.slug }}')">
                Edit Brand
              </a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block catalog_content %}

{% if brands|length %}
  <ul style="column-count: 3" class="list-group">
    {% for b in brands %}
      <li class="list-group-item" style="break-inside: avoid-column">
        <a href="{{ url_for('catalog-brand', { 'brand' : b.slug }) }}">
          {{ b.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if brand %}
  <h1 class="title"
      style="{{ not brand.active ? 'text-decoration: line-through' }}">
    {{ brand.name }}
  </h1>
  {% if brand.description %}
    <p>{{ brand.description|markdown }}</p>
    <div class="clearfix"></div>
    <hr>
  {% endif %}
{% endif %}

{% if products %}
  {% include 'catalog/products.twig' %}
{% endif %}

{% endblock %}
