{% extends 'catalog/layout.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Item: {{ item.name }}
{% endblock %}

{% block catalog_crumb_button %}
  {% if item.product_id %}
    {# we undo the styling of x-editable on this button #}
    <style>.editable-noclick { border-bottom: inherit }</style>
    <button class="btn btn-default editable-select2 editable-noclick"
            data-type="select2" data-name="product_id">
      <i class="fa fa-cog"></i>
    </button>
  {% endif %}
{% endblock %}

{% block catalog_crumb %}
  {% if item.product_id %}
    {% set product= item.product %}
    {% set subdept= product.dept %}
    {% set dept= subdept.parent %}
    {{ parent() }}
  {% else %}
    <ol class="breadcrumb">
      <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
      <li>
        <span class="editable-select2"
              data-type="select2"
              data-name="product_id">
          No Product
        </span>
      </li>
    </ol>
  {% endif %}
{% endblock %}

{% block catalog_sidebar %}
{% endblock %}

{% block catalog_width "12" %}

{% block catalog_content %}

  <h2 class="page-header" style="margin-top: 0.5em">
    <span class="editable pull-right text-muted" data-name="code">
      {{- item.code -}}
    </span>
    <span class="editable" data-name="name">
      {{- item.name -}}
    </span>
    <small>
      {{ item.brand.name }}
    </small>
  </h2>

  <div class="row">

    <div class="col-md-3">
      {% block pricing %}
        {% import 'macros.twig' as scat %}
        <div class="panel panel-default" id="pricing">
          <div class="panel-heading">
            <div class="pull-right">
              <button class="btn btn-default btn-xs toggle"
                      data-name="active" data-value="{{ item.active }}">
                <i class="fa fa-fw {{ item.active ? 'fa-check-square-o' : 'fa-square-o' }}"></i>
                Active
              </button>
            </div>
            <h3 class="panel-title">Pricing</h3>
            <div class="clearfix"></div>
          </div>
          <div class="panel-body form-horizontal">
            <div class="well">
              <h3 class="text-center" style="margin: 0px; padding: 0px">
                <span class="editable" data-reload="pricing"
                      data-name="discount"
                      data-value="{{ scat.format_discount(item) }}">
                  {{ scat.amount(item.sale_price) }}
                  {% if item.discount_type in [ 'percentage', 'relative' ] %}
                    <br>
                    <small>{{ scat.format_discount(item) }}</small>
                  {% endif %}
                </span>
              </h3>
            </div>

            <div class="form-group">
              <label for="retail_price" class="col-sm-4 control-label">
                List
              </label>
              <div class="col-sm-8">
                <p class="form-control-static editable"
                   data-reload="pricing"
                   data-name="retail_price">
                  {{ scat.amount(item.retail_price) }}
                </p>
              </div>
            </div>

            {% set overrides= item.price_overrides.find_many %}
            {% if overrides %}
              <div class="form-group">
                <label class="col-sm-4 control-label">Overrides</label>
                <div class="col-sm-8">
                  {% for over in overrides %}
                    <p class="form-control-static">
                      {{ scat.format_discount(over) }}
                      for
                      {{ over.minimum_quantity }}
                    </p>
                  {% endfor %}
                </div>
              </div>
            {% endif %}

          </div>
        </div>

      {% endblock %}

      <!-- Barcodes -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Barcodes</h3>
        </div>
        {% block barcodes %}
          <table id="barcodes" data-reload="barcodes"
                 class="table table-striped">
            <tbody>
              {% for barcode in item.barcodes.find_many %}
                <tr>
                  <td>{{ barcode.code }}</td>
                  <td class="edit-barcode-quantity"
                      data-pk="{{ barcode.code }}"
                      data-name="quantity">
                    {{- barcode.quantity -}}
                  </td>
                  <td>
                    <button type="button"
                            class="btn btn-default btn-xs remove-barcode"
                            data-barcode="{{ barcode.code }}">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endblock %}

        <div class="panel-footer">
          <button id="new-barcode" class="btn btn-default">
            <i class="fa fa-barcode"></i> New
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-default print-barcode">
              <i class="fa fa-print"></i> Print
            </button>
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="print-barcode" data-multiple="1">
                  Multiple
                </a>
              </li>
              <li>
                <a class="print-barcode" data-noprice="1">
                  No price
                </a>
              </li>
              <li>
                <a class="print-barcode" data-multiple="1" data-noprice="1">
                  Multiple, no price
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <!-- Catalog -->
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <a class="btn btn-default btn-xs"
               href="{{ PUBLIC ~ '/' ~ item.code }}"
               target="_blank">
              <i class="fa fa-external-link"></i>
              Website
            </a>
          </div>
          <h3 class="panel-title">Catalog</h3>
          <div class="clearfix"></div>
        </div>

        <div class="panel-body form-horizontal">
          <div class="form-group">
            <label for="short_name" class="col-sm-4 control-label">
              Short Name
            </label>
            <div class="col-sm-8">
              <p class="form-control-static editable"
                 data-name="short_name">
                {{- item.short_name -}}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="variation" class="col-sm-4 control-label">
              Variation
            </label>
            <div class="col-sm-8">
              <p class="form-control-static editable"
                 data-name="variation">
                {{- item.variation -}}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="tic" class="col-sm-4 control-label">
              <abbr class="initialism"
                    title="Taxability Information Code">TIC</abbr>
            </label>
            <div class="col-sm-8">
              <p class="form-control-static editable"
                 data-name="tic">
                {{- item.tic -}}
              </p>
            </div>
          </div>

          {% block color %}
            <div class="form-group" id="color">
              <label for="color" class="col-sm-4 control-label">
                Color
                <span style="{{ item.color ? "background: #" ~ item.color }}">
                  &nbsp; &nbsp; &nbsp;
                </span>
              </label>
              <div class="col-sm-8">
                <p class="form-control-static editable"
                   data-name="color" data-reload="color">
                  {{- item.color -}}
                </p>
              </div>
            </div>
          {% endblock %}

          <div class="form-group">
            <label for="weight" class="col-sm-4 control-label">
              Weight (lbs)
            </label>
            <div class="col-sm-8">
              <p class="form-control-static editable"
                 data-name="weight">
                {{- item.weight -}}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="dimensions" class="col-sm-4 control-label">
              Dimensions
            </label>
            <div class="col-sm-8">
              <p class="form-control-static editable"
                 data-name="dimensions">
                {{- item.dimensions -}}
              </p>
            </div>
          </div>

          <button type="button" class="btn btn-default toggle"
                  data-name="prop65" data-value="{{ item.prop65 }}">
            <i class="fa fa-fw {{ item.prop65 ? 'fa-check-square-o' : 'fa-square-o' }}"></i>
            Prop. 65
          </button>
          <button type="button" class="btn btn-default toggle"
                  data-name="hazmat" data-value="{{ item.hazmat }}">
            <i class="fa fa-fw {{ item.hazmat ? 'fa-check-square-o' : 'fa-square-o' }}"></i>
            Hazardous Material
          </button>
          <button type="button" class="btn btn-default toggle"
                  data-name="oversized" data-value="{{ item.oversized }}">
            <i class="fa fa-fw {{ item.oversized ? 'fa-check-square-o' : 'fa-square-o' }}"></i>
            Oversized
          </button>
        </div>
      </div>
    </div>

    <!-- Inventory -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <button class="btn btn-default btn-xs">
              <i class="fa fa-sticky-note-o"></i> Notes
              <span id="item-notes" class="badge"></span>
            </button>
          </div>
          <h3 class="panel-title">Inventory</h3>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body form-horizontal">

          <div class="form-group">
            <label for="stock" class="col-sm-8 control-label">Currently in Stock</label>
            <div class="col-sm-4">
              <p class="form-control-static editable"
                 data-name="stock">
                {{ item.stock }}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="minimum_quantity" class="col-sm-8 control-label">
              Minimum Quantity
            </label>
            <div class="col-sm-4">
              <p class="form-control-static editable"
                  data-name="minimum_quantity">
                {{ item.minimum_quantity }}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="purchase_quantity" class="col-sm-8 control-label">
              Purchase Quantity
            </label>
            <div class="col-sm-4">
              <p class="form-control-static editable"
                  data-name="purchase_quantity">
                {{ item.purchase_quantity }}
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="inventoried" class="col-sm-8 control-label">
              Inventoried
            </label>
            <div class="col-sm-4">
              <p class="form-control-static">
                {{ item.inventoried ?: 'Not yet' }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Media</h3>
        </div>
        <div class="panel-body form-horizontal">
          {% set media= item.media %}
          {% if media is not empty %}
            {{ include('carousel.twig', { images: media }) }}
          {% endif %}
          {% for i in media %}
            <a href="/media/{{ i.id }}/"><i class="fa fa-file-image-o"></i></a>
          {% endfor %}
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sales</h3>
        </div>
        <div class="panel-body form-horizontal">

          <div class="form-group">
            <label for="quarter" class="col-sm-6 control-label">
             Last 3 Months
            </label>
            <div class="col-sm-6">
              <p class="form-control-static" id="quarter">
                {% set sales= item.recent_sales(90) %}
                {{ scat.amount(sales.gross) }}
                ({{ sales.units }})
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="year" class="col-sm-6 control-label">
             Last Year
            </label>
            <div class="col-sm-6">
              <p class="form-control-static" id="year">
                {% set sales= item.recent_sales(365) %}
                {{ scat.amount(sales.gross) }}
                ({{ sales.units }})
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div><!-- .row -->

  <!-- Vendor Items -->
  <div class="panel-group" id="accordion"
       role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="vendorsHeader">
        <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" href="#vendors" aria-expanded="false" aria-controls="vendors">
          <h4 class="panel-title">Vendors</h4>
        </a>
      </div>
      {% block vendors %}
        {% import 'macros.twig' as scat %}
        <div id="vendors" data-reload="vendors" class="panel-collapse collapse"
             role="tabpanel" aria-labelledby="vendorsHeader">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Company</th>
                <th>Code</th>
                <th>List</th>
                <th>Net</th>
                <th>Promo</th>
                <th>Sale</th>
                <th>Special?</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tfoot>
              {# XXX implement #}
              <tr>
                <td colspan="9">
                  <button class="btn btn-primary"
                          data-action="edit-vendor-item">
                    Add Vendor Item
                  </button>
                  <button class="btn btn-primary"
                          data-action="find-vendor-items">
                    Find Vendor Items
                  </button>
                </td>
              </tr>
            </tfoot>
            <tbody>
              {% for vi in item.vendor_items.find_many() %}
                <tr data-id="{{ vi.id }}">
                  <td>
                    <button type="button" class="btn btn-default btn-xs"
                            data-action="edit-vendor-item">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs"
                            data-action="unlink-vendor-item">
                      <i class="fa fa-unlink"></i>
                    </button>
                    {% if vi.vendor_id in [ 7, 3757 ] %}
                      <button type="button" class="btn btn-default btn-xs"
                            data-action="check-vendor-stock">
                        <i class="fa fa-search"></i>
                      </button>
                    {% endif %}
                  </td>
                  <td>
                    <a href="/person/{{ vi.vendor_id }}">
                      {{ vi.vendor().friendly_name }}
                    </a>
                  </td>
                  <td>{{ vi.code }}</td>
                  <td>{{ scat.amount(vi.retail_price) }}</td>
                  <td>{{ scat.amount(vi.net_price) }}</td>
                  <td>{{ scat.amount(vi.promo_price) }}</td>
                  <td>
                    {{ scat.amount(vi.net_price / 0.6) }} -
                    {{ scat.amount(vi.net_price / 0.5) }}
                  </td>
                  <td>
                    <i class="fa {{ vi.special_order ? 'fa-check-square-o' : 'fa-square-o' }}"></i>
                  </td>
                  <td>{{ vi.purchase_quantity }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endblock %}
    </div>
  </div>

  <!-- History -->
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="historyHeader">
      <a class="accordion-toggle collapsed" role="button" data-toggle="collapse" href="#history" aria-expanded="false" aria-controls="history">
        <h4 class="panel-title">History</h4>
      </a>
    </div>
    <div id="history" class="panel-collapse collapse collapsed" role="tabpanel" aria-labelledby="historyHeader">
      <table class="table table-striped table-header">
        <thead>
          <th class="num">#</th>
          <th>Date</th>
          <th>Transaction</th>
          <th class="text-right">Avg. Price</th>
          <th class="text-right">Quantity</th> 
          <th class="text-right">Running Total</th>
        </thead>
        <tbody>
          {% set running_total= 0 %}
          {% for txn in item.txns.find_many() %}
            <tr>
              <td class="num">{{ loop.index }}</td>
              <td>{{ txn.created }}</td>
              <td>
                <a href="/{{ txn.type == 'customer' ? 'sale' : 'purchase' }}/{{ txn.id }}">
                  {{ txn.friendly_type }}
                  {{ txn.formatted_number }}
                </a>
              </td>
              <td class="text-right">
                {{ scat.amount(txn.sale_price) }}
              </td>
              <td class="text-right">
                {{ txn.quantity }}
              </td>
              <td class="text-right">
                {% set running_total= running_total + txn.quantity %}
                {{ running_total }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <button id="merge-item" class="btn btn-default">
    Merge Item
  </button>

{% endblock %}

{% block script %}
  <style>
    /* Have to force select2 higher than x-editable popup */
    .select2-container {
      z-index: 1080;
    }
    .editable {
      min-width: 10%;
      border-bottom: 1px dashed #900;
    }
  </style>
  <script>
  {
    function reloadBlock(el, def) {
      let reload= el.closest('[data-reload]')
      if (reload) {
        reload= reload.getAttribute('data-reload')
        return fetch('/catalog/item/{{ item.code }}/?block=' + reload)
        .then((res) => {
          return res.text()
        })
        .then ((text) => {
          let html= scat.htmlToElement(text)
          // force panels open
          if (html.classList.contains('collapse'))
            html.classList.add('in')
          let div= document.getElementById(reload)
          div.replaceWith(html)
        })
      } else {
        el.innerText= def
        return Promise.resolve(el)
      }
    }

    function editableContent() {
      let el= this
      let name= el.getAttribute('data-name')
      let value= el.getAttribute('data-value')
      if (!value) {
        value= this.innerText
      }
      let html= scat.htmlToElement('<form><div class="form-group"><div class="input-group"><input type="text" name="" class="form-control" value=""><span class="input-group-btn"><button type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i></button></span><span class="input-group-btn"><button type="button" class="btn btn-danger cancel"><i class="fa fa-fw fa-ban"></i></button></span></div><span class="help-block"></span></div></form>')
      html.querySelector('input').setAttribute('name', name)
      html.querySelector('input').setAttribute('value', value)
      html.addEventListener('submit', (ev) => {
        ev.preventDefault()
        let formData= new FormData(ev.target)

        let btn= ev.target.querySelector('.fa-check')
        btn.classList.remove('fa-check')
        btn.classList.add('fa-spin','fa-spinner')
        scat.patch("/catalog/item/{{ item.code }}", formData)
            .then((res) => {
              if (res.redirected) {
                window.location.href= res.url
                return
              }
              return res.json()
            })
            .then((data) => {
              $(el).popover('hide')
              return reloadBlock(el, data[name])
            })
            .catch((err) => {
              let help= ev.target.querySelector('.help-block')
              help.innerText= err.message
              ev.target
                .querySelector('.form-group')
                .classList.add('has-error')
              btn.classList.remove('fa-spin','fa-spinner')
              btn.classList.add('fa-check')
            })
      })
      html.querySelector('.cancel').addEventListener('click', (ev) => {
        $(el).popover('hide')
      })
      return html
    }

    $('body').popover({
      selector: '.editable',
      content: editableContent,
      container: 'body',
      html: true,
      sanitize: false,
      placement: 'auto right',
    })
    .on('shown.bs.popover', (ev) => {
      // focus on the first input or select element
      let id= ev.target.getAttribute('aria-describedby')
      let popover= document.getElementById(id)
      popover.querySelector('input, select').focus()
    })

    $('.editable-select2').editable({
      pk: '{{ item.code }}',
      url: (params) => {
        return fetch("/catalog/item/" + params.pk, {
          method: 'PATCH',
          headers: {
            'Content-type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify({ [params.name] : params.value })
        })
        .then((res) => res.json())
      },
      tpl: '<select></select>',
      select2: {
        width: '30em',
        ajax: {
          url: "/api/product-find.php",
          dataType: 'json'
        },
      },
      success: (response, newValue) => {
        if (response.error) { return response.error }
        window.location.reload()
      }
    })
    .on('shown', function (e, editable) {
      // Can't just do this directly because $input isn't focused yet
      setTimeout(function() {
        editable.input.$input.select2('focus')
      }, 1)
    });

    let handleToggle= (ev) => {
      let toggle= ev.target
      let current= ev.target.getAttribute('data-value')

      let name= ev.target.getAttribute('data-name')
      let value= current === '1' ? 0 : 1

      let icon= toggle.querySelector('i')
      icon.classList.remove('fa-square-o','fa-check-square-o')
      icon.classList.add('fa-spin','fa-spinner')

      fetch("/catalog/item/{{ item.code }}", {
        method: 'PATCH',
        headers: {
          'Content-type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify({ [name] : value })
      })
      .then((res) => res.json())
      .then((data) => {
        icon.classList.remove('fa-spin','fa-spinner')
        icon.classList.add(data[name] !== 0 ?
                           'fa-check-square-o' : 'fa-square-o')
        toggle.setAttribute('data-value', data[name])
      })
    }

    document.addEventListener('click', (ev) => {
      if (ev.target.classList.contains('toggle')) {
        handleToggle(ev)
      }
    })

    $('.edit-barcode-quantity').editable({
      url: (params) => {
        return fetch("/catalog/item/{{ item.code }}/barcode/" + params.pk, {
          method: 'PATCH',
          headers: {
            'Content-type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify({ [params.name] : params.value })
        })
      },
    })
    .on('shown', function (e, editable) {
      // Can't just do this directly because $input isn't focused yet
      setTimeout(function() {
        editable.input.$input.select()
      }, 1)
    });

    let removeBarcode= (barcode) => {
      return scat.delete("/catalog/item/{{ item.code }}/barcode/" + barcode)
            .then((res) => {
              return reloadBlock(document.getElementById('barcodes'), "")
            })
    }
    document.addEventListener('click', (ev) => {
      if (ev.target.closest('.remove-barcode')) {
        let barcode= ev.target.closest('[data-barcode]')
        return removeBarcode(barcode.getAttribute('data-barcode'))
      }
    })

    document.querySelector('#new-barcode').addEventListener('click', (ev) => {
      let barcode= window.prompt("What's the new barcode?", "")
      if (!barcode) { return }

      scat.call('/catalog/item/{{ item.code }}/barcode', { barcode: barcode })
      .then((res) => {
        reloadBlock(document.getElementById('barcodes'), '')
      })
    })

    let printBarcode= (ev) => {
      let copies= 1
      if (ev.target.getAttribute('data-multiple')) {
        copies= window.prompt("How many?", copies)
        if (!copies) return
      }
      //scat.print('/catalog/item/{{ item.code }}/~print-label',
      scat.print('/print/labels-price.php?id={{ item.id }}',
                 {
                   //copies: copies,
                   quantity: copies,
                   noprice: ev.target.getAttribute('data-noprice')
                 })
    }

    document.querySelectorAll('.print-barcode').forEach((el) => {
      el.addEventListener('click', printBarcode)
    })

    document.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'find-vendor-items') {
        scat.call('/catalog/item/{{ item.code }}/vendor-item', {})
        .then((res) => {
          reloadBlock(act)
        })
      }
    })

    document.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'edit-vendor-item') {
        let vi= ev.target.closest('[data-id]')
        let id= vi ? vi.getAttribute('data-id') : 0
        scat.dialog(ev.target, '/catalog/vendor-item' + (id ? '/' + id : ''), {
          item_id: {{ item.id }}
        })
      }
    })

    document.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'unlink-vendor-item') {
        let id= ev.target.closest('[data-id]').getAttribute('data-id')
        return scat.delete("/catalog/item/{{ item.code }}/vendor-item/" + id)
                    .then((res) => {
                      reloadBlock(act)
                    })
      }
    })

    document.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'check-vendor-stock') {
        let id= ev.target.closest('[data-id]').getAttribute('data-id')
        return scat.get('/catalog/vendor-item/' + id + '/stock')
        .then((res) => res.json())
        .then((data) => {
          message= "";
          for (const [key, value] of Object.entries(data)) {
            message+= `${value} in ${key}` + "\n";
          }
          alert(message);
        })
      }
    })

    document.getElementById('merge-item').addEventListener('click', (ev) => {
      let to= window.prompt("What item should we merge this into?", "")
      if (to) {
        scat.post('/catalog/item/' + to + '/~merge',
                  { from: '{{ item.code }}' })
            .then((res) => res.json())
            .then((data) => {
              window.location.href= data.code
            })
            .catch((err) => {
              scat.alert('danger', err.message)
            })
      }
    })

  }
  </script>

  {{ scat.file_upload('/catalog/item/' ~ item.code ~ '/media') }}
{% endblock %}
