<form method="GET" action="/catalog/search">
  <div class="pull-right" style="padding-left: 1em">
    {% if items %}
      <button class="btn btn-default toggle-select" type="button">
        Select
      </button>
      <button class="btn btn-default bulk-edit" type="button">
        Bulk Edit
      </button>
      <div class="btn-group hidden-print">
        <button type="button" class="btn btn-default print-labels">
          <i class="fa fa-print"></i> Print Labels
        </button>
        <button type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="print-labels" data-size="half" data-trim="ask">
              Half-size price labels
            </a>
          </li>
          <li>
            <a class="print-labels" data-noprice="1">
              No price
            </a>
          </li>
          <li>
            <a class="print-labels" data-trim="ask">
              Trim name
            </a>
          </li>
          <li>
            <a class="print-labels" data-trim="yes" data-noprice="1">
              Trim name, no price
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventory <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="inventory-print" href="#">
              <i class="fa fa-print"></i> Print
            </a>
          </li>
          <li>
            <a class="inventory-done" href="#">
              <i class="fa fa-check-circle"></i> Done
            </a>
          </li>
        </ul>
      </div>
    {% endif %}

    <button class="btn btn-default add-item" type="button">
      Add Item
    </button>

  </div>
  <div class="input-group">
    <input class="form-control" type="text" name="q" value="{{ q }}" autofocus
           autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false"
           placeholder="Enter keywords or an item number or scan barcode">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </span>
  </div>
  {# critical that <script> be inside div so currentScript.parentNode works #}
  <script>
    let form= document.currentScript.parentNode

    {% if items %}
      let collectItems= (list) => {
        let items= list.querySelectorAll('.item-list tr[data-id]')
        return Array.from(items)
                    .filter((el) => {
                      return !!el.querySelector(':checked')
                    })
                    .map((el) => { return el.attributes['data-id'].value })
                    .join(',')
      }

      form.querySelector('.toggle-select').addEventListener('click', (ev) => {
        document.querySelectorAll('.item-list .item-select').forEach((item) => {
          item.classList.toggle('visible')
        })
      })

      form.querySelector('.bulk-edit').addEventListener('click', (ev) => {
        scat.dialog([], '/dialog/bulk-edit.html')
      })

      form.querySelectorAll('.print-labels').forEach((btn) => {
        btn.addEventListener('click', (ev) => {
          // Get selected items and other options
          let doc= (ev.target.getAttribute('data-size') == 'half' ?
                    'labels-price-brush' : 'labels-price')
          let items= collectItems(list)
          let noprice= ev.target.getAttribute('data-noprice')
          let trim= ev.target.getAttribute('data-trim')
          if (trim == 'ask') {
            trim= window.prompt("Please enter the part of the name to trim from the labels", "");
          }
          // trim, noprice, size
          scat.printDocument(doc, { items: items, noprice: noprice, trim: trim })
        })
      })

      form.querySelector('.inventory-print').addEventListener('click', (ev) => {
        let items= collectItems(list)
        scat.printDocument('inventory', { items: items })
      })
      form.querySelector('.inventory-done').addEventListener('click', (ev) => {
        let items= collectItems(list)

        scat.api('item-mark-inventoried', { items: items })
            .then((res) => {
              return res.json()
            })
            .then((data) => {
              alert("Marked " + data.count + " item(s) inventoried.")
            })
      })
    {% endif %}

    form.querySelector('.add-item').addEventListener('click', (ev) => {
      scat.dialog([], '/dialog/add-item.html')
    })

  </script>
</form>
