{% extends 'layout/print.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  {% if product %}
    {{ product.name }}
  {% else %}
    Inventory
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      {% if use_short_name and use_variation %}
        <th>Variation</th>
      {% endif %}
      <th>Name</th>
      <th align="center">Stock</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.code }}</td>
        {% if use_short_name and use_variation %}
          <td>{{ item.variation }}</td>
        {% endif %}
        <td>
          {{ use_short_name and item.short_name ? item.short_name : item.name }}
        </td>
        <td align="center">{{ item.stock }}</td>
        <td>&nbsp;</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
