{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Shipping Analysis
{% endblock %}

{% block content %}

  <ul class="nav nav-tabs">
    <li role="presentation" class="{{ rates ? 'active' }}">
      <a href="analyze?rates=1">Rates</a>
    </li>
    <li role="presentation" class="{{ sizes ? 'active' }}">
      <a href="analyze?sizes=1">Sizes</a>
    </li>
  </ul>

  {% if rates|length %}
    <table class="table table-striped table-hover">
      <thead>
        <th>Parcel</th>
        <th>State</th>
        <th>Carrier</th>
        <th>Service</th>
        <th>Rate</th>
      </thead>
      <tbody>
        {% for rate in rates %}
          <tr>
            <td>{{ rate.parcel }}</td>
            <td>{{ rate.address }}</td>
            <td>{{ scat.format_shipping_carrier(rate.carrier) }}</td>
            <td>{{ rate.service }}</td>
            <td>{{ scat.amount(rate.rate) }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if sizes|length %}
    <table class="table table-striped table-hover">
      <thead>
        <th>Name</th>
        <th>Count</th>
        <th>Median</th>
        <th>Maximum</th>
      </thead>
      <tbody>
        {% for size in sizes %}
          <tr>
            <td>{{ size.name }}</td>
            <td>{{ size.count }}</td>
            <td>{{ size.median }}</td>
            <td>{{ size.maximum }}</td>
          </tr>
        {% endfor %}
    </table>

    <ul class="list-group">
      {% for size in box_sizes %}
        <li class="list-group-item">
          {{ size|join(" × ") }} =
          {{ "%.2f"|format(((size[0] + 0.25) * (size[1] + 0.25) * (size[2] + 0.5)) / 1728) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
