{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Shipments
{% endblock %}

{% block controls %}
  <nav aria-label="Controls for Activity List">
    <ul class="pager">
      {% if page %}
        <li class="previous">
          <a href="?page={{ page - 1 }}&status={{ status }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <span><span aria-hidden="true">&larr;</span> Previous</span>
        </li>
      {% endif %}
      <li>
        {{ page * page_size + 1 }} -
        {{ min((page + 1) * page_size, shipments[0].records) }}
        of {{ shipments[0].records }}
      </li>
      {% if ((page + 1) * page_size) < shipments[0].records %}
        <li class="next">
          <a href="?page={{ page + 1 }}&status={{ status }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <span>
            Next <span aria-hidden="true">&rarr;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block content %}

  {% if q and not shipments %}
    <p class="lead">
      <strong>No results found.</strong>
      Nothing was found for those search parameters.
      {% if not (q matches '/active:0/') %}
        <a href="{{ current_url(true) ~ ' active:0' }}">Try again with inactive people.</a>
      {% endif %}
    </p>
  {% endif %}

  {% if shipments %}
    {{ block('controls') }}
    <table id="shipments" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Created</th>
          <th>Modified</th>
          <th>Status</th>
          <th>Transaction</th>
          <th>Recipient</th>
          <th>Carrier</th>
          <th>Service</th>
          <th>Rate (Insurance)</th>
        </tr>
      </thead>
      <tbody>
      {% for shipment in shipments %}
        <tr>
          <td class="num">
            <a href="/shipment/{{ shipment.id }}">{{ loop.index }}</a>
          </td>
          <td>
            <a href="/shipment/{{ shipment.id }}">{{ shipment.created | date('Y-m-d') }}</a>
          </td>
          <td>
            <a href="/shipment/{{ shipment.id }}">{{ shipment.modified | date('Y-m-d') }}</a>
          </td>
          <td>
            {{ shipment.status }}
          </td>
          <td>
            <a href="/sale/{{ shipment.txn_id }}">
              {{ shipment.txn.friendly_type }}
              {{ shipment.txn.formatted_number }}
            </a>
          </td>
          <td>
            {{ shipment.txn.shipping_address.name }} /
            {{ shipment.txn.shipping_address.city }},
            {{ shipment.txn.shipping_address.state }}
          </td>
          <td>
            {{ shipment.carrier }}
          </td>
          <td>
            {{ shipment.service }}
          </td>
          <td>
            {{ scat.amount(shipment.rate) }}
            {% if shipment.insurance %}
              ({{ scat.amount(max(shipment.insurance * 0.01, 1)) }})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <style>
      #shipments a { display: block }
    </style>
    {{ block('controls') }}
  {% endif %}
{% endblock %}
