body {
 padding-bottom: 28px;
 font-variant-numeric: tabular-nums;
}

#page-footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  color: #666;
  background: rgb(210, 192, 159);
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 4px 16px;
  z-index: 1030; /* same as top nav */
}
#page-footer #time {
  float: right;
}

/* prettier tables */
td.num {
  vertical-align:middle;
  font:small-caps bold x-small sans-serif;
  text-align: center;
}
td.dollar, td.right, td.bool, td.order {
  text-align: center;
}
td.percent:after {
  content: '%';
}

/* Fix layout of type="search" inputs */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* Add chevrons to accordion toggles */
.panel-heading .accordion-toggle .panel-title:after {
    /* symbol for "opening" panels */
    font-family: 'ForkAwesome', 'FontAwesome';
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed .panel-title:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/* Remove gradient on carousel (ugly when small) */
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}

/* Better style for select on Firefox. https://stackoverflow.com/a/38187626 */
@-moz-document url-prefix() {
  select.form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,\
      <svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='12px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none;
  }
}

/* Help for old reference to glyphicons */
.icon-arrow-left, .icon-arrow-right {
  display: inline-block;
  font: normal normal normal 14px/1 ForkAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before {
  content: "\f053";
}
.icon-arrow-right:before {
  content: "\f054";
}

.responsive-thumbnail {
  position: relative;
  width: 100%;
  border: none;
}
.responsive-thumbnail:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.responsive-thumbnail a {
  margin: 0; padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.responsive-thumbnail a img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.responsive-thumbnail .caption {
  width: 100%;
  height: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: scroll;
  background: rgba(0,0,0,0.3);
  color: #eee;
  font-size: 80%;
}
.responsive-thumbnail .caption:empty {
  display: none;
}

.page-header {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

@media print {
  a[href]:after {
    content: none !important;
  }

  footer {
    display: none;
  }
}
