:root {
  --text-color: #000;

  --primary-color: #e66a25;
  --primary-color-r: 230;
  --primary-color-g: 106;
  --primary-color-b: 37;
  --link-color: #2c679b;

  --light-primary-color: rgba(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b), 0.2);

  --input-border: #e66a25;
  --input-focus-h: 21;
  --input-focus-s: 79%;
  --input-focus-l: 52%;

  --border-width: 2px;
  --border-radius: 8px;
}

/* default layout, @media (max-width: 600px), basically */
body {
  padding: 1em 2em;
}
header {
  margin-bottom: 0.5em;
}
nav {
  display: grid;
  grid-gap: 0.5em;
}
nav > div {
  text-align: center;
}
nav form {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr auto;
}
nav form input {
  width: 100%;
}
nav #info-and-cart, nav #site-name {
  display: grid;
  grid-template-columns: auto auto;
}
footer {
  text-align: center;
}
footer ul {
  padding: 0;
}
footer ul li {
  display: inline-block;
  text-align: left;
}
footer li:after {
  content: '\00a0\00a0\2022\00a0\00a0';
}
footer li:last-child:after {
  content: '';
}

/* special rules for only small size */
@media (max-width: 599.98px) {
  nav details#info > div {
    left: 0; right: 0;
    transform-origin: 50% 0%;
  }
}

/* horizontal phone, tablet */
@media (min-width: 600px) {
  nav {
    grid-template-columns: auto auto;
  }
  #site-name {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }
  #search-form {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  #info-and-cart {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
  }

  footer #links-and-address {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
  }
  footer #address {
    padding: 1rem;
  }
}

/* horizontal tablet, desktop window */
@media (min-width: 900px) {
  nav {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
  }
  #site-name {
    grid-column: unset;
    grid-row: unset;
  }
  #search-form {
    grid-column: unset;
    grid-row: unset;
  }
  #info-and-cart {
    grid-column: unset;
    grid-row: unset;
  }
}

/* desktop */
@media (min-width: 1200px) {
}

/* big honking desktop */
@media (min-width: 1800px) {
}

body {
  min-height: 100vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
}

/* https://stackoverflow.com/a/62109988 */
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}

body > * {
  --max-width: 1070px;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}
img.icon {
  width: 16px;
}

#site-name img {
  max-width: 324px;
  max-height: 34px;
}

i.lni {
  margin: 0 0.25em;
}

main {
}

footer {
  margin-bottom: 0.5rem;
  font-size: smaller;

  border: var(--border-width) solid #ccc;
  border-radius: var(--border-radius);
}
footer > div {
  padding: 0.5rem;
}
address {
  font-style: inherit;
}
footer > div:last-child {
  background: #eee;
  border-top: var(--border-width) solid #ccc;
  padding: 0 1rem;
  border-bottom-right-radius: calc(var(--border-radius) - 1px);
  border-bottom-left-radius: calc(var(--border-radius) - 1px);
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: var(--border-width) solid var(--input-border);
  border-radius: var(--border-radius);
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

textarea.input {
  resize: vertical;
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

.input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.input + label {
  margin-top: 2rem;
}

button, summary {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}
@media screen and (-ms-high-contrast: active) {
  button, summary {
    border: 2px solid currentcolor;
  }
}

a.button,
button,
summary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 36px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms all ease-in-out;
}
a.button.min,
button.min,
summary.min {
  min-width: inherit;
}
a.button:hover, a.button:active,
.card.hot:hover a.button,
button:hover,
button:active,
.card.hot:hover button,
summary:hover,
summary:active,
.card.hot:hover summary {
  text-decoration: underline;
  background-color: #c05316;
}
a.button:focus,
button:focus,
summary:focus {
  outline-style: solid;
  outline-color: transparent;
  box-shadow: 0 0 0 4px #903e10;
}
a.button:link, a.button:visited {
  color: #fff;
}
a.button.small,
button.small,
summary.small {
  font-size: 0.85rem;
}
a.button.block,
.button.block,
.summary.block {
  width: 100%;
}

button.outline, summary.outline {
  background-color: #fff;
  color: var(--primary-color);
}

.account {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 1em;

  line-height: 1;
  height: 2.25rem;

}

a:link, a:visited {
  color: var(--link-color);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--primary-color);
  text-decoration: underline;
}

.account a {
  color: #333;
}
.account a:hover {
  color: var(--input-border);
}

.badge {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  border-radius: calc(var(--border-radius) / 2);
  font-size: 0.8rem;
  color: var(--input-border);
  background-color: #fff;
}
.badge:empty {
  display: none;
}

.list-horizontal {
  padding: 0;
}
.list-horizontal li {
  display: inline-block;
}
.list-horizontal:not(.no-separator) li:after {
  content: '\00a0\00a0\2022\00a0\00a0';
}
.list-horizontal li:last-child:after {
  content: '';
}

details {
  display: inline;
  list-style: none;
  position: relative;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
details > div {
  position: absolute;
  right: 0;
  width: max-content;

  z-index: 100;

  background-color: #fff;

  border: var(--border-width) solid var(--primary-color);
  border-radius: var(--border-radius);

  padding: 1rem;

  margin-top: 0.5rem;

  animation: scale 0.25s ease;
  transform-origin: 100% 0%;

  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.5);
}
@media (prefers-reduced-motion) {
  details > div {
    animation: dissolve;
  }
}
details.left > div {
  left: 0;
  right: auto;
  transform-origin: 0% 0%;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

#department-nav summary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  margin-right: 0.5em;
  background: #fff;
  box-shadow: none;
}
#department-nav h2 {
  margin-top: 0;
}
#department-nav li::marker {
  color: var(--primary-color);
}

hr {
  width: 100%;
  border-color: rgba(var(--primary-color-r),
                      var(--primary-color-g),
                      var(--primary-color-b),
                      0.2);
}

.pull-right {
  float: right;
}

/* from clrs.cc */
.text-navy { color: #001F3F; }
.text-blue { color: #0074D9; }
.text-aqua { color: #7FDBFF; }
.text-teal { color: #39CCCC; }
.text-olive { color: #3D9970; }
.text-green { color: #2ECC40; }
.text-lime { color: #01FF70; }
.text-yellow { color: #FFDC00; }
.text-orange { color: #FF851B; }
.text-red { color: #FF4136; }
.text-fuchsia { color: #F012BE; }
.text-purple { color: #B10DC9; }
.text-maroon { color: #85144B; }
.text-white { color: #FFFFFF; }
.text-silver { color: #DDDDDD; }
.text-gray { color: #AAAAAA; }
.text-black { color: #111111; }
