{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}
{% if type == 'vendor' %}
  {% set variations= {
      'new': 'New',
      'filled': 'Filled',
      'template': 'Template'
   } %}
{% else %}
  {% set variations= {
      'new': 'New',
      'filled': 'Filled',
      'paid': 'Paid',
      'processing': 'Processing',
      'waitingforitems': 'Waiting for Items',
      'readyforpickup': 'Ready for Pickup',
      'shipping': 'Shipping',
      'shipped': 'Shipped',
      'complete': 'Complete',
      'template': 'Template'
    } %}
{% endif %}

{% block title %}
  {{ type == 'vendor' ? 'Purchases' : 'Sales' }}
  {% if status != '' %}
    ({{ variations[status] }})
  {% endif %}
{% endblock %}

{% block controls %}
  <nav aria-label="Controls for Activity List">
    <ul class="pager">
      {% if page %}
        <li class="previous">
          <a href="?page={{ page - 1 }}&status={{ status }}&q={{ q }}">
            <span aria-hidden="true">&larr;</span> Previous
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <span><span aria-hidden="true">&larr;</span> Previous</span>
        </li>
      {% endif %}
      <li>
        {{ page * limit + 1 }} -
        {{ min((page + 1) * limit, txns[0].records) }}
        of {{ txns[0].records }}
      </li>
      {% if ((page + 1) * limit) < txns[0].records %}
        <li class="next">
          <a href="?page={{ page + 1 }}&status={{ status }}&q={{ q }}">
            Next <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <span>
            Next <span aria-hidden="true">&rarr;</span>
          </span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-2">
      <form method="GET"
            action="/{{ txn.type == 'vendor' ? 'purchase' : 'sale' }}">
        <div class="input-group">
          <input type="hidden" name="status" value="{{ status }}">
          <input type="text" class="form-control" autofocus
                  name="q" value="{{ q }}">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <i class="fa fa-search"></i>
              <span class="sr-only">Search</span>
            </button>
          </span>
        </div>
      </form>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li {{ '' == status ? 'class="active"' }}>
          <a href="?">All</a>
        </li>
        {% for s,label in variations %}
          <li {{ s == status ? 'class="active"' }}>
            <a href="?status={{ s }}&q={{ q }}">{{ label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-10">
      {{ block('controls') }}
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="num">#</th>
            <th>Number</th>
            <th>Status</th>
            <th>Created / Filled</th>
            <th>Person</th>
            <th>Ordered</th>
            <th>Allocated</th>
            <th class="text-right">Total</th>
            <th class="text-right">Paid</th>
          </tr>
        </thead>
        <tbody>
          {% for txn in txns %}
            <tr>
              <td class="num">
                {{ (page * limit) + loop.index }}
                {% if txn.shipping_address_id %}
                  <br><i class="fa {{ txn.shipping_address_id == 1 ? 'fa-building': 'fa-truck' }}"></i>
                {% endif %}
              </td>
              <td>
                <a href="/{{ txn.type == 'vendor' ? 'purchase' : 'sale' }}/{{ txn.id }}">
                  {{ txn.formatted_number }}
                  {% if txn.online_sale_id %}
                    <br><small>({{ "%07d"|format(txn.online_sale_id) }})</small>
                  {% endif %}
                </a>
              </td>
              <td>
                {{ scat.format_txn_status(txn.status) }}<br>
                <small>
                  {% if txn.shipping_address.id > 1 %}
                    {% for shipment in txn.shipments().find_many() %}
                      <a href="/sale/{{ txn.id }}/shipment/{{ shipment.id }}/track" target="_blank"><i class="fa fa-truck"></i></a>
                    {% endfor %}
                  {% endif %}
                </small>
              </td>
              <td>
                {{ txn.created | date('n/j/y G:i') }}<br>
                {{ txn.filled | date('n/j/y G:i') }}
              </td>
              <td>
                {% if txn.person_id %}
                  <a href="/person/{{ txn.person_id }}">
                    {{ txn.person.friendly_name }}
                  </a>
                {% endif %}
              </td>
              <td align="center">{{ txn.ordered }}</td>
              <td align="center">{{ txn.allocated }}</td>
              <td class="text-right">{{ scat.amount(txn.total) }}</td>
              <td class="text-right">{{ scat.amount(txn.total_paid) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {{ block('controls') }}
    </div>
  </div>
{% endblock %}
