<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title -%}
      Raw Materials Art Supplies - Downtown Los Angeles
    {%- endblock %}
    {% if not (block('title') matches '/Raw Materials Art Supplies/') %}
      @ Raw Materials Art Supplies
    {% endif %}
  </title>

  <link rel="stylesheet" type="text/css" href="/css/web.css?{{ current_release() }}">

  {% if DEBUG %}
    <script src="/js/dummy-zaraz.js"></script>
  {% else %}
    <link rel="preconnect" href="https://rawmats.gumlet.io">
    <link rel="preconnect" href="https://accessibilityserver.org">
  {% endif %}

  {% block extra_header %}{% endblock %}
</head>

<body>

  {% set banner= config('banner') %}
  {% if banner %}
    <style>
      .top-banner {
        position: sticky;
        top: 0; left: 0;
        border: 1px solid red;
        padding: 0.25em 1em;
        background: #fee;
        z-index: 300;
      }
    </style>
    <div class="top-banner">
      {{ banner | raw }}
    </div>
  {% endif %}

  <header>
    <nav id="site-navigation">
      <a id="site-dept-menu" class="button nav-button"
          data-toggle="panel" data-target="site-depts"
          href="/art-supplies">
        {{ bootstrap_icon('list') }}
        <span class="visually-hidden">Departments</span>
      </a>
      <a id="site-name" href="/">
        <img class="responsive" src="https://rawmats.gumlet.io/i/o/619408b8005c11013ca45b7b75.png?w=302&h=32&mode=fit&fm=auto" srcset="https://rawmats.gumlet.io/i/o/619408b8005c11013ca45b7b75.png?w=302&h=32&mode=fit&fm=auto 1x, https://rawmats.gumlet.io/i/o/619408b8005c11013ca45b7b75.png?w=604&h=64&mode=fit&fm=auto 2x, https://rawmats.gumlet.io/i/o/619408b8005c11013ca45b7b75.png?w=906&h=96&mode=fit&fm=auto 3x" alt="Raw Materials Art Supplies" width="302" height="32">
      </a>
      <label class="visually-hidden" for="q">
        Search Terms
      </label>
      <form id="site-search" action="/art-supplies/search">
	<input class="input" type="text" name="q" id="q"
		placeholder="Search our online catalog"
		value="{{ q }}">
	<button class="button" type="submit">
	  Search
	</button>
      </form>
      <div id="site-info">
        <a class="button nav-button"
            data-toggle="panel" data-target="site-about"
            href="/about">
          {{ bootstrap_icon('geo-alt') }}
          <span class="label">About</span>
        </a>
      </div>
      <div id="site-cart">
        <a class="button"
            href="/cart">
          {{ bootstrap_icon('cart') }}
          <span class="visually-hidden">Shopping Cart</span>
          <span class="badge"></span>
        </a>
      </div>
      <div id="site-featured-depts">
        <ul id="departments">
          {% for dept in topDepartments(true) %}
            <li>
              <a href="{{ url_for('catalog', { dept: dept.slug }) }}">
                {{ dept.name }}
              </a>
            </li>
          {% endfor %}
          <li>
            <a href="{{ url_for('catalog') }}">
              <b>More Departments &rarr;</b>
            </a>
          </li>
        </ul>
      </div>
      <div id="site-depts">
        <ul id="departments">
          <li><b>Departments</b></li>
          <li>
            <a href="{{ url_for('catalog-whats-new') }}">
              What's New
            </a>
          </li>
          {% for dept in topDepartments() %}
            <li>
              <a href="{{ url_for('catalog', { dept: dept.slug }) }}">
                {{ dept.name }}
              </a>
            </li>
          {% endfor %}
          <li>
            <a href="{{ url_for('catalog-brand') }}">
              Brands
            </a>
          </li>
        </ul>
      </div>
      <div id="site-about" class="panel">
        <a href="https://www.google.com/maps?cid=10837226433205632471&amp;hl=en" title="Find our location">645 South Los Angeles Street<br>
        Los Angeles, CA 90014</a><br>
        <strong><a href="tel:+18007297060">(800) 729-7060</a></strong><br>
        <a href="/contact">info@rawmaterialsla.com</a><br>
        Monday - Saturday, 10am to 6pm <br>
        Closed Sundays
        <ul class="list-horizontal no-separator">
          <li><a href="http://twitter.com/RawMaterials" title="Follow us on Twitter">{{ bootstrap_icon('twitter', { class: 'bi-lg' }) }}</a></li>
          <li><a href="http://facebook.com/RawMaterialsLA" title="Like us on Facebook">{{ bootstrap_icon('facebook', { class: 'bi-lg' }) }}</a></li>
          <li><a href="http://instagram.com/rawmaterialsartsupplies" title="Follow us on Instagram">{{ bootstrap_icon('instagram', { class: 'bi-lg' }) }}</a></li>
          <li><a href="https://www.pinterest.com/rawmaterialsla/" title="Follow us on Pinterest">{{ bootstrap_icon('pinterest', { class: 'bi-lg' }) }}</a></li>
          <li><a href="https://www.youtube.com/channel/UC8QdVII0oYUnrO5RLAcivSQ" title="Subscribe to our YouTube channel">{{ bootstrap_icon('youtube', { class: 'bi-lg' }) }}</a></li>
        </ul>
      </div>
    </nav>

  </header>

  <style>
/* Based on
 * https://moderncss.dev/3-popular-website-heroes-created-with-css-grid-layout/
 * */
.hero {
  display: grid;
  grid-template-areas: "hero";
  align-items: center;
  height: fit-content(65vh);
  max-height: 600px;
  background: #eee;
  border-radius: var(--border-radius);
}
.hero > * {
  grid-area: hero;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  height: min(65vh, 600px);
  width: 80%;
  transition: 180ms width ease-in;
  justify-self: end;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
@media (min-width: 60rem) {
  .hero img {
    width: 60%;
  }
}
.hero .hero__content {
  margin: 1rem 0 1rem 5%;
  max-width: 50%;
  min-width: 30ch;
  z-index: 1;
  background-color: rgba(238,238,238,0.8);
  border-radius: var(--border-radius);
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: none;
}
.hero .hero__content h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 1rem;
}
.hero .hero__content p {
  font-size: 1.75rem;
}
  </style>

  <main>
    {% block content -%}
    {%- endblock %}
  </main>

  <footer>
    <div id="links-and-address">
      <div>
        <ul id="links">
          <li><a href="/">Home</a>
          <li><a href="/art-supplies">Art Supplies</a>
          <li><a href="/workshops">Workshops, Classes &amp; Events</a>
          <li><a href="/blog/">Blog</a>
          <li><a href="/jobs">Jobs</a>
          <li><a href="/rewards">Rewards Program</a>
          <li><a href="/buy-gift-card">Buy a Gift Card</a>
        </ul>
      </div>
      <div id="address">
        <address>
          645 South Los Angeles Street &bull;
          Los Angeles, CA 90014 &bull;
          <strong><a href="tel:+18007297060">(800) 729-7060</a></strong> &bull;
          <a href="/contact">info@rawmaterialsla.com</a> &bull;
          Monday - Saturday, 10am to 6pm &bull;
          Closed Sundays
        </address>
      </div>
    </div>

    <div id="fine-print">
      <ul id="policies">
        <li><a href="/terms">Terms of Use</a>
        <li><a href="/privacy-policy">Privacy Policy</a>
        <li><a href="/shipping">Shipping</a>
        <li><a href="/return-policy">Return Policy</a>
        <li><a href="/sales-tax-policy">Sales Tax Policy</a>
        <li><a href="/accessibility">Accessibility Statement</a>
      </ul>
      <ul id="payment-marks">
        <li><img src="/payment-marks/four-cards.svg" width="108" height="24" alt="American Express / Mastercard / Visa / Discover">
        <li><img src="/payment-marks/amazonpay.svg" width="38" height="24" alt="Amazon Pay">
        <li><img src="/payment-marks/paypal.jpg" width="38" height="24" alt="PayPal">
      </ul>
      <div id="copyright">
        Copyright &copy; 2022 Imperial Dog, Inc.
      </div>
    </div>
  </footer>

  <script>
    let togglePanel= (ev) => {
      ev.preventDefault(); ev.stopPropagation();
      let id= ev.currentTarget.dataset.target
      document.querySelectorAll('.open-panel').forEach((panel) => {
        if (panel.id != id) {
          panel.style.display= 'none';
          panel.open= false
          panel.dispatchEvent(new Event('toggle'))
        }
      })
      let panel= document.getElementById(id)
      if (panel.style.display == 'block') {
        panel.style.display= 'none'
        panel.classList.remove('open-panel')
        panel.open= false
      } else {
        panel.style.display= 'block'
        panel.classList.add('open-panel')
        panel.open= true
      }
      panel.dispatchEvent(new Event('toggle'))
    }

    document.querySelectorAll('[data-toggle="panel"]').forEach((button) => {
      button.addEventListener('click', togglePanel);
    })

    window.getCookie= function(name) {
      var match= document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
      if (match) return decodeURIComponent(match[2]);
    }

    /* Fill in cart details */
    var details= getCookie('cartDetails');
    if (details) {
      try {
        details= JSON.parse(details)
        if (details.items > 0) {
          /*
          var icon= document.querySelector('#site-cart .bi-cart')
          icon.classList.remove('bi-cart')
          icon.classList.add('bi-cart-fill')
          */
          var badge= document.querySelector('#site-cart .badge')
          badge.innerText= details.items
        }
      } catch (err) {
        // don't care
      }
    }

    /* Progressive enhancement: make whole .card clickable */
    function handleCardClick(ev) {
      const isTextSelected = window.getSelection().toString();
      if (!isTextSelected) {
        ev.currentTarget.querySelector('a').click()
      }
    }

    document.querySelectorAll('.card').forEach((card) => {
      if (!card.classList.contains('cold')) {
        card.addEventListener("click", handleCardClick)
        card.classList.add('hot')
      }
    })

    let recordAddToCart= (ev) => {
      let formData= new FormData(ev.currentTarget)
      zaraz.ecommerce('Product Added', {
        product_id: formData.get('item'),
        name: formData.get('name'),
        brand: formData.get('brand'),
        category: formData.get('category'),
        price: formData.get('sale_price'),
        currency: 'usd',
        quantity: formData.get('quantity'),
      })
    }

    document.querySelectorAll('form.add-item').forEach((form) => {
      form.addEventListener('submit', recordAddToCart)
    })

    let recordRemoveFromCart= (ev) => {
      let data= ev.currentTarget.dataset
      zaraz.ecommerce('Product Removed', {
        product_id: data.code,
        quantity: data.quantity
      })
      return true
    }

    document.querySelectorAll('a.remove-item').forEach((a) => {
      a.addEventListener('click', recordRemoveFromCart)
    })
  </script>

  {% block script %}{% endblock %}
</body>
</html>
