<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% block title -%}
      Raw Materials Art Supplies - Downtown Los Angeles
    {%- endblock %}
    {% if not (block('title') matches '/Raw Materials Art Supplies/') %}
      @ Raw Materials Art Supplies
    {% endif %}
  </title>

  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons-1.8.2/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="/css/web.css">

  {% block extra_header %}{% endblock %}
</head>

<body>

  <header>
    <nav id="site-navigation">
      <a id="site-dept-menu" class="button nav-button"
          data-toggle="panel" data-target="site-depts"
          href="/art-supplies">
        <i class="bi bi-list"></i>
      </a>
      <a id="site-name" href="/">
        <img src="https://rawmats.gumlet.io/i/o/619408b8005c11013ca45b7b75.png?w=622&h=69&mode=fit&fm=auto" alt="Raw Materials Art Supplies">
      </a>
      <form id="site-search" action="/art-supplies/search">
	<input class="input" type="text" name="q"
		placeholder="Search our online catalog"
		value="{{ q }}">
	<button class="button" type="submit">
	  Search
	</button>
      </form>
      <div id="site-info">
        <a class="button nav-button"
            data-toggle="panel" data-target="site-about"
            href="/about">
          <i class="bi bi-geo-alt"></i>
          <span class="label">About</span>
        </a>
      </div>
      <div id="site-cart">
        <a class="button"
            href="/cart">
          <i class="bi bi-cart"></i>
          <span class="badge"></span>
        </a>
      </div>
      <div id="site-depts">
        <ul id="departments">
          <li><b>Departments</b></li>
          {% for dept in topDepartments() %}
            <li>
              <a href="{{ url_for('catalog', { dept: dept.slug }) }}">
                {{ dept.name }}
              </a>
            </li>
          {% endfor %}
          <li>
            <a href="{{ url_for('catalog-brand') }}">
              Brands
            </a>
          </li>
        </ul>
      </div>
      <div id="site-about" class="panel">
        <a href="https://www.google.com/maps?cid=10837226433205632471&amp;hl=en" title="Find our location">645 South Los Angeles Street<br>
        Los Angeles, CA 90014</a><br>
        <strong><a href="tel:+18007297060">(800) 729-7060</a></strong><br>
        <a href="/contact">info@rawmaterialsla.com</a><br>
        Monday - Saturday, 10am to 6pm <br>
        Closed Sundays
        <ul class="list-horizontal no-separator">
          <li><a href="http://twitter.com/RawMaterials" title="Follow us on Twitter"><i class="bi bi-lg bi-twitter"></i></a></li>
          <li><a href="http://facebook.com/RawMaterialsLA" title="Like us on Facebook"><i class="bi bi-lg bi-facebook"></i></a></li>
          <li><a href="http://instagram.com/rawmaterialsartsupplies" title="Follow us on Instagram"><i class="bi bi-lg bi-instagram"></i></a></li>
          <li><a href="https://www.pinterest.com/rawmaterialsla/" title="Follow us on Pinterest"><i class="bi bi-lg bi-pinterest"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UC8QdVII0oYUnrO5RLAcivSQ" title="Subscribe to our YouTube channel"><i class="bi bi-lg bi-youtube"></i></a></li>
        </ul>
      </div>
    </nav>

  </header>

  <style>
/* Based on
 * https://moderncss.dev/3-popular-website-heroes-created-with-css-grid-layout/
 * */
.hero {
  display: grid;
  grid-template-areas: "hero";
  align-items: center;
  height: fit-content(65vh);
  max-height: 600px;
  background: #eee;
  border-radius: var(--border-radius);
}
.hero > * {
  grid-area: hero;
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  height: min(65vh, 600px);
  width: 80%;
  transition: 180ms width ease-in;
  justify-self: end;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
@media (min-width: 60rem) {
  .hero img {
    width: 60%;
  }
}
.hero .hero__content {
  margin: 1rem 0 1rem 5%;
  max-width: 50%;
  min-width: 30ch;
  z-index: 1;
  background-color: rgba(238,238,238,0.8);
  border-radius: var(--border-radius);
  padding: 1rem 2rem 2rem 2rem;
  box-shadow: none;
}
.hero .hero__content h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 1rem;
}
.hero .hero__content p {
  font-size: 1.75rem;
}
  </style>

  <main>
    {% block content -%}
    {%- endblock %}
  </main>

  <footer>
    <div id="links-and-address">
      <div>
        <ul id="links">
          <li><a href="/">Home</a>
          <li><a href="/art-supplies">Art Supplies</a>
          <li><a href="/workshops">Workshops, Classes &amp; Events</a>
          <li><a href="/blog/">Blog</a>
          <li><a href="/jobs">Jobs</a>
          <li><a href="/newsletter">Newsletter</a>
          <li><a href="/buy-gift-card">Buy a Gift Card</a>
        </ul>
      </div>
      <div id="address">
        <address>
          645 South Los Angeles Street &bull;
          Los Angeles, CA 90014 &bull;
          <strong><a href="tel:+18007297060">(800) 729-7060</a></strong> &bull;
          <a href="/contact">info@rawmaterialsla.com</a> &bull;
          Monday - Saturday, 10am to 6pm &bull;
          Closed Sundays
        </address>
      </div>
    </div>

    <div id="fine-print">
      <ul id="policies">
        <li><a href="/terms">Terms of Use</a>
        <li><a href="/privacy-policy">Privacy Policy</a>
        <li><a href="/shipping">Shipping</a>
        <li><a href="/return-policy">Return Policy</a>
        <li><a href="/sales-tax-policy">Sales Tax Policy</a>
        <li><a href="/accessibility">Accessibility Statement</a>
      </ul>
      <ul id="payment-marks">
        <li><i class="lni lni-amazon-pay lni-lg"></i>
        <li><i class="lni lni-amex lni-lg"></i>
        <li><i class="lni lni-discover lni-lg"></i>
        <li><i class="lni lni-mastercard lni-lg"></i>
        <li><i class="lni lni-paypal lni-lg"></i>
        <li><i class="lni lni-visa lni-lg"></i>
      </ul>
      <div id="copyright">
        Copyright &copy; 2022 Imperial Dog, Inc.
      </div>
    </div>
  </footer>

  <script>
    let togglePanel= (ev) => {
      ev.preventDefault(); ev.stopPropagation();
      let id= ev.currentTarget.dataset.target
      document.querySelectorAll('.open-panel').forEach((panel) => {
        if (panel.id != id) {
          panel.style.display= 'none';
          panel.open= false
          panel.dispatchEvent(new Event('toggle'))
        }
      })
      let panel= document.getElementById(id)
      if (panel.style.display == 'block') {
        panel.style.display= 'none'
        panel.classList.remove('open-panel')
        panel.open= false
      } else {
        panel.style.display= 'block'
        panel.classList.add('open-panel')
        panel.open= true
      }
      panel.dispatchEvent(new Event('toggle'))
    }

    document.querySelectorAll('[data-toggle="panel"]').forEach((button) => {
      button.addEventListener('click', togglePanel);
    })

    window.getCookie= function(name) {
      var match= document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
      if (match) return decodeURIComponent(match[2]);
    }

    /* Fill in cart details */
    var details= getCookie('cartDetails');
    if (details) {
      try {
        details= JSON.parse(details)
        if (details.items > 0) {
          var icon= document.querySelector('#site-cart .bi-cart')
          icon.classList.remove('bi-cart')
          icon.classList.add('bi-cart-full')
          var badge= document.querySelector('#site-cart .badge')
          badge.innerText= details.items
        }
      } catch (err) {
        // don't care
      }
    }

    /* Progressive enhancement: make whole .card clickable */
    function handleCardClick(ev) {
      const isTextSelected = window.getSelection().toString();
      if (!isTextSelected) {
        ev.currentTarget.querySelector('a').click()
      }
    }

    document.querySelectorAll('.card').forEach((card) => {
      if (!card.classList.contains('cold')) {
        card.addEventListener("click", handleCardClick)
        card.classList.add('hot')
      }
    })
  </script>

  {% block script %}{% endblock %}
</body>
</html>
