{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Stripe Checkout @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  {% if person %}
    <h2>
      Welcome back{{ person ? ', ' ~ person.friendly_name }}!
      <small>
        (<a href="{{ url_for('account') }}">view your account</a>
        or <a href="{{ url_for('logout') }}">log out</a>)
      </small>
    </h2>
  {% else %}
    <h2>
      Welcome! <a href="{{ url_for('login')}}">Log in or create an account.</a>
    </h2>
  {% endif %}

  <form id="payment-form">
    <h3>Contact info</h3>
    <div id="link-authentication-element"></div>

    <h3>Shipping</h3>
    <p>
      <strong>Where do you want to us to ship the order?</strong> We can
      prepare your order for pick-up at our store in downtown Los
      Angeles, or we can ship it anywhere in the United States. (Sorry,
      we don't ship internationally.)
    </p>

    {% if cart.shipping_address_id == 1 %}
      <a href="/cart/checkout/stripe-shipped" class="button">
        <i class="lni lni-delivery"></i>
        <span class="label">I want it shipped</span>
      </a>
    {% else %}
      <a href="/cart/checkout/stripe-pickup" class="button">
        <i class="lni lni-apartment"></i>
        <span class="label">Pick it up at the store!</span>
      </a>
      <hr>
      <div id="shipping-address-element"></div>
    {% endif %}

    <h3>Payment</h3>
    <div id="payment-element"></div>

    {% embed 'cart/cart.twig' with { 'editable' : false } %}
      {% block buttons %}
        {% import 'macros.twig' as scat %}
        <div class="pay-button">
          <button id="submit" class="button">Submit</button>
        </div>
        </div>
      {% endblock %}
    {% endembed %}
  </form>

{% endblock %}

{% block extra_header %}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block script %}
  <script>
    const stripe= Stripe('{{ stripe.key }}', {
      betas: ['link_beta_3'],
      apiVersion: "2020-08-27;link_beta=v1"
    });
    const clientSecret= '{{ stripe.payment_intent.client_secret }}';

    const appearance= { /* ... */ };

    const elements= stripe.elements({clientSecret, appearance});

    const linkAuthenticationElement= elements.create("linkAuthentication", {
      {% if cart.email %}
        defaultValues: { email: "{{ cart.email }}" }
      {% endif %}
    });

    linkAuthenticationElement.mount("#link-authentication-element");

    let timeout= null;

    linkAuthenticationElement.on('change', (event) => {
      const email= event.value.email;
      clearTimeout(timeout);
      timeout= setTimeout(() => {
        fetch('{{ url_for('update-cart') }}', {
          'method': 'POST',
          'headers' : {
            'Accept': 'application/json',
            'Content-type': 'application/json',
          },
          body: JSON.stringify({ email : email })
        })
      }, 500);
    });

    const paymentElement= elements.create("payment");
    paymentElement.mount("#payment-element");

    {% if cart.shipping_address_id != 1 %}
      const shippingAddressElement= elements.create("shippingAddress", {
        allowedCountries: ['US'],
        {% if cart.shipping_address %}
          {% set address= cart.shipping_address %}
          defaultValues: {
            name: {{ address.name }},
            address: {
              line1: {{ address.street1 }},
              line2: {{ address.street2 }},
              city: {{ address.city }},
              state: {{ address.state }},
              postal_code: {{ address.zip }},
              country: 'US',
            }
          }
        {% endif %}
      });

      shippingAddressElement.mount("#shipping-address-element");

      shippingAddressElement.on('change', (event) => {
        const details= event.value;
        clearTimeout(timeout);
        timeout= setTimeout(() => {
          fetch('{{ url_for('update-cart') }}', {
            'method': 'POST',
            'headers' : {
              'Accept': 'application/json',
              'Content-type': 'application/json',
            },
            body: JSON.stringify(details)
          })
        }, 500);
      });
    {% endif %}

    const form= document.getElementById('payment-form');

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      const {error}= await stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url:
            '{{ full_url_for('finalize-stripe', {}, { uuid : cart.uuid }) }}',
        }
      });

      if (error) {
        // Show error to your customer (for example, payment details incomplete)
        console.log(error.message);
      } else {
        // Your customer will be redirected to your `return_url`. For some
        // payment methods like iDEAL, your customer will be redirected to an
        // intermediate site first to authorize the payment, then redirected
        // to the `return_url`.
      }
    });
  </script>
{% endblock %}
