{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Amazon Pay Checkout @ Raw Materials Art Supplies
{% endblock %}

{% set no_local_delivery= 1 %}

{% block content %}
<style>
  form#payment-form {
    position: relative;
  }
  form#payment-form[disabled]:after {
    content: " ";
    display: block;
    background: rgba(0,0,0,0.3);
    height: calc(100% + 2em);
    width: calc(100% + 2em);
    position: absolute;
    top: -1em; left: -1em;
    z-index: 1000; /* get over everything */
  }
</style>
  {% if person %}
    <h2>
      Welcome back{{ person ? ', ' ~ person.friendly_name }}!
    </h2>
    {% autoescape 'js' %}
      <script>
        if (window.analytics) {
          window.analytics.identify('{{ person.id }}', {
            name: '{{ person.name }}',
            email: '{{ person.email }}',
            phone: '{{ person.phone }}',
            createdAt: '{{ person.created|date("c") }}',
          })
        }
      </script>
    {% endautoescape %}
  {% endif %}

  <h3>Shipping Address</h3>
  {% set address= cart.shipping_address() %}
  <p>
    <div>{{ address.name }}</div>
    <div>{{ address.company }}</div>
    <div>{{ address.street1 }}</div>
    <div>{{ address.street2 }}</div>
    <div>{{ address.city }}, {{ address.state }} {{ address.zip }}</div>
  </p>
  <button id="change-address" class="button">
    Change
  </button>

  <h3>Payment method</h3>
  <p>
    {{ amzn.paymentPreferences[0].paymentDescriptor }}
  </p>
  <button id="change-payment" class="button">
    Change
  </button>

  <form id="payment-form" class="stacked-form"
        method="POST" action="{{ url_for('pay-amzn') }}">
    {% block shipping_options %}
      {{ include('cart/shipping-options.twig') }}
    {% endblock %}

    <p class="alert alert-danger">
      <b>Orders paid using Amazon Pay must be shipped due to Amazon fraud
      prevention policies.</b> If you would like to pick up your order, <a
      href="/cart/checkout/set-pickup">click here to continue with a different
      payment method.</a>
    </p>

    {% if cart.backordered_items() %}
      {{ include ('cart/backorder-warning.twig') }}
    {% endif %}

    <h3>Comments</h3>
    <label for="comment">Any special requests?</label>
    <textarea class="input" rows="3" name="comment" id="comment"></textarea>
    <small class="help-block">
      Please note that we are unable to pass along detailed delivery
      instructions on orders being shipped.
    </small>

    {% block loyalty %}
      {{ include('cart/loyalty.twig') }}
    {% endblock %}

    <h3>Apply Gift Card</h3>

    <label for="giftcard">Code</label>
    <input type="text" class="input" id="giftcard">
    <button type="button" id="apply-gift-card" class="button">
      {{ bootstrap_icon('gift') }}
      <span class="label">Apply</span>
    </button>

    <hr>

    <div class="pay-button">
      <button id="pay-amazon" type="submit" class="button block"
              {{ not cart.ready_for_payment ? 'disabled' }}>
        Pay {{ scat.amount(cart.due) }}
      </button>
    </div>

    {% block cart %}
      <div id="cart">
        {% embed 'cart/cart.twig' with { 'editable' : false, 'skip_address' : true } %}
        {% endembed %}
      </div>
    {% endblock %}

  </form>

{% endblock %}

{% block script %}
  {% autoescape 'js' %}
    {% set num_items = 0 %}
    <script>
      scat.ecommerce('Checkout Started', {
        checkout_id: '{{ cart.id }}',
        order_id: '{{ cart.uuid }}',
        subtotal: '{{ cart.subtotal }}',
        shipping: '{{ cart.shipping }}',
        tax: '{{ cart.tax }}',
        total: '{{ cart.total }}',
        currency: 'USD',
        products: [
          {% for line in cart.items.find_many() %}
            {% set item= line.item %}
            {% set num_items= num_items + line.quantity %}
            {
              product_id: '{{ line.code }}',
              name: '{{ line.name }}',
              category: '{{ item.category }}',
              brand: '{{ item.brand_name }}',
              price: '{{ line.sale_price }}',
              currency: 'usd',
              quantity: '{{ line.quantity }}',
            },
          {% endfor %}
        ],
        num_items: {{ num_items }}
      })
    </script>
    <script src="https://static-na.payments-amazon.com/checkout.js"></script>
    <script type="text/javascript" charset="utf-8">
      amazon.Pay.bindChangeAction('#change-address', {
        amazonCheckoutSessionId: '{{ cart.amz_order_reference_id }}',
        changeAction: 'changeAddress'
      });

      amazon.Pay.bindChangeAction('#change-payment', {
        amazonCheckoutSessionId: '{{ cart.amz_order_reference_id }}',
        changeAction: 'changePayment'
      });

      {{ include('cart/shared.js') }}

      function disablePayButtons() {
        let amazonButton= document.getElementById('pay-amazon')
        amazonButton.setAttribute('disabled', '')
      }

      function enablePayButtons(due) {
        let amazonButton= document.getElementById('pay-amazon')
        amazonButton.removeAttribute('disabled')
        amazonButton.textContent= 'Pay ' + amount(due);
      }
    </script>
  {% endautoescape %}
{% endblock %}
