{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Checkout @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
<style>
  form#payment-form {
    position: relative;
  }
  form#payment-form[disabled]:after {
    content: " ";
    display: block;
    background: rgba(0,0,0,0.3);
    height: calc(100% + 2em);
    width: calc(100% + 2em);
    position: absolute;
    top: -1em; left: -1em;
    z-index: 1000; /* get over everything */
  }
</style>

  <form id="payment-form" class="stacked-form">
    <h3>Contact info</h3>
    <div id="link-authentication-element"></div>

    <label for="name">
      Name
    </label>
    <input type="text" class="input" name="name" required
            value="{{ cart.name }}"
            placeholder="Vincent Van Gogh">

    <h3>Shipping</h3>
    <p>
      <strong>Where do you want to us to ship the order?</strong> We can
      prepare your order for pick-up at our store in downtown Los
      Angeles, or we can ship it anywhere in the United States. (Sorry,
      we don't ship internationally.)
    </p>

    {% if cart.shipping_address_id == 1 %}
      <p>
        You will be contacted when your order is ready to be picked up at our
        store in downtown Los Angeles. Current pickup hours are Monday through
        Saturday between 10am and 6pm. Orders placed during those hours are
        generally ready to be picked up in fifteen minutes.
      </p>
      <a href="/cart/checkout/set-shipped" class="button">
        <i class="bi bi-truck"></i>
        <span class="label">Change to having it shipped</span>
      </a>
    {% else %}
      <a href="/cart/checkout/set-pickup" class="button">
        <i class="bi bi-shop"></i>
        <span class="label">Change to curbside pickup</span>
      </a>
      <div class="hr">
        or have it shipped to
      </div>
      <div id="shipping-address-element"></div>
    {% endif %}

    {% block shipping_options %}
      {{ include('cart/shipping-options.twig') }}
    {% endblock %}

    <h3>Comments</h3>
    <label for="comment">Any special requests?</label>
    <textarea class="input" rows="3" name="comment" id="comment"></textarea>
    <small class="help-block">
      Please note that we are unable to pass along detailed delivery
      instructions on orders being shipped.
    </small>

    {% block loyalty %}
      {{ include('cart/loyalty.twig') }}
    {% endblock %}

    <h3>Apply Gift Card</h3>

    <label for="giftcard">Code</label>
    <input type="text" class="input" id="giftcard">
    <button type="button" id="apply-gift-card" class="button">
      <i class="bi bi-gift"></i>
      <span class="label">Apply</span>
    </button>

    <h3>Payment</h3>

    <div class="smol-grid">
      <div class="payment-option">
        <div id="payment-element"></div>
        <br>
        <button id="pay-stripe" type="submit" class="button block"
                {{ not cart.ready_for_payment ? 'disabled' }}>
          Pay {{ scat.amount(cart.due) }}
        </button>
      </div>
      <div class="payment-option">
        <div id="paypal-buttons" {{ not cart.ready_for_payment ? 'disabled' }}>
        </div>
      </div>
    </div>

    {% block cart %}
      <div id="cart">
        {% embed 'cart/cart.twig' with { 'editable' : false, 'skip_address' : true } %}
        {% endembed %}
      </div>
    {% endblock %}
  </form>

{% endblock %}

{% block extra_header %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal }}&amp;currency=USD&amp;disable-funding=card&amp;enable-funding=venmo{{ DEBUG ? '&debug=true' }}"></script>
{% endblock %}

{% block script %}
  <script>
    {{ include('cart/shared.js') }}

    function disablePayButtons() {
      let stripeButton= document.getElementById('pay-stripe')
      stripeButton.setAttribute('disabled', '')

      let paypalButtons= document.getElementById('paypal-buttons');
      if (paypalButtons.actions) paypalButtons.actions.disable()
    }

    function enablePayButtons(due) {
      let stripeButton= document.getElementById('pay-stripe')
      stripeButton.removeAttribute('disabled')
      stripeButton.textContent= 'Pay ' + amount(due);

      let paypalButtons= document.getElementById('paypal-buttons');
      if (paypalButtons.actions) paypalButtons.actions.enable()
    }

    const stripe= Stripe('{{ stripe.key }}', {
      betas: ['link_beta_3'],
      apiVersion: "2020-08-27;link_beta=v1"
    });
    const clientSecret= '{{ stripe.payment_intent.client_secret }}';

    const appearance= {
      variables: {
        colorPrimary: 'var(--primary-color)',
      }
    };

    const elements= stripe.elements({clientSecret, appearance});

    const linkAuthenticationElement= elements.create("linkAuthentication", {
      {% if cart.email %}
        defaultValues: { email: "{{ cart.email }}" }
      {% endif %}
    });

    linkAuthenticationElement.mount("#link-authentication-element");

    linkAuthenticationElement.on('change', (event) => {
      const email= event.value.email;
      clearTimeout(timeout);
      timeout= setTimeout(() => {
        fetch('{{ url_for('update-cart') }}', {
          'method': 'POST',
          'headers' : {
            'Accept': 'application/json',
            'Content-type': 'application/json',
          },
          body: JSON.stringify({ email : email })
        })
      }, 500);
    });

    const paymentElement= elements.create("payment");
    paymentElement.mount("#payment-element");

    {% if cart.shipping_address_id != 1 %}
      const shippingAddressElement= elements.create("shippingAddress", {
        allowedCountries: ['US'],
        {% if cart.shipping_address %}
          {% set address= cart.shipping_address %}
          defaultValues: {
            name: '{{ address.name }}',
            address: {
              line1: '{{ address.street1 }}',
              line2: '{{ address.street2 }}',
              city: '{{ address.city }}',
              state: '{{ address.state }}',
              postal_code: '{{ address.zip }}',
              country: 'US',
            }
          }
        {% endif %}
      });

      shippingAddressElement.mount("#shipping-address-element");

      shippingAddressElement.on('change', (event) => {
        const details= event.value;
        clearTimeout(timeout);
        timeout= setTimeout(() => {
          updateCart(details)
        }, 500);
      });
    {% endif %}

    form.elements['name'].addEventListener('change', (event) => {
      const name= event.currentTarget.value;
      clearTimeout(timeout);
      timeout= setTimeout(() => {
        updateCart({ name : name })
      }, 500);
    })

    form.addEventListener('submit', async (event) => {
      event.preventDefault();

      if (form.getAttribute('disabled')) {
        return
      }

      form.setAttribute('disabled', '')

      let formData= new FormData(document.getElementById('payment-form'))
      if (formData.get('comment')) {
        fetch('{{ url_for('comment-cart') }}', {
          method: 'POST',
          body: formData
        })
      }

      const {error}= await stripe.confirmPayment({
        elements,
        confirmParams: {
          return_url:
            '{{ full_url_for('finalize-stripe', {}, { uuid : cart.uuid }) }}',
        }
      });

      if (error) {
        form.removeAttribute('disabled')
        // Show error to your customer (for example, payment details incomplete)
        alert(error.message);
      } else {
        // we should never get here because Stripe will redirect
        alert("Sorry, something went wrong. Please try reloading the page.");
      }
    });

    let paypalButtons= document.getElementById('paypal-buttons');
    if (paypalButtons) {
      paypal.Buttons({
        createOrder: (data, actions) => {
          return fetch("/cart/checkout/paypal-order", {
            headers: {
              'Accept': 'application/json',
            }
          })
          .then((res) => {
            if (!res.ok) {
              return res.json().then((data) => {
                if (data.text == 'Payment already completed.') {
                  window.location.href= '/sale/{{ cart.uuid }}/thanks';
                } else {
                  return Promise.reject(new Error(data.text));
                }
              })
            }
            return res.json()
          })
          .then((order) => {
            return order.id
          });
        },

        onInit: function(data, actions) {
          paypalButtons.actions= actions /* save for later */
          if (paypalButtons.hasAttribute('disabled')) {
            actions.disable()
          }
        },

        // Finalize the transaction on the server after payer approval
        onApprove: (data, actions) => {
          if (form.getAttribute('disabled')) {
            return actions.disabled()
          }

	  return actions.order.capture().then(function(details) {
	    let formData= new FormData(document.getElementById('payment-form'))
	    formData.append('order_id', details.id)
	    return fetch('{{ url_for('finalize-paypal') }}', {
	      method: 'POST',
	      body: formData
	    }).then(function (data) {
	      if (data.ok) {
		window.location.href= '{{ url_for('sale-thanks', { uuid: cart.uuid }) }}'
	      }
	    });
          });
        }
      }).render('#paypal-buttons');
    }
  </script>
{% endblock %}
