{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Shopping Cart @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  {% set items= cart.items.find_many() %}
  {% if not items|length %}

    {% if person %}
      <h2>
        Welcome back!
        <small>
          (<a href="{{ url_for('account') }}">view your account</a>
          or <a href="{{ url_for('logout') }}">log out</a>)
        </small>
      </h2>
    {% else %}
      <h2>
        Welcome!
      </h2>
    {% endif %}

    <div class="alert alert-warning">
      <b>You don't have anything in your cart.</b>
      You can <a href="{{ url_for('catalog') }}">start browsing for art
      supplies</a> or use the search form at the top of the page to find
      what you need.
    </div>

    {# XXX show some popular products #}
  {% else %}
<style>
/*
 * Based on https://smolcss.dev/#card
 */
.card {
  --img-ratio: 3/2;

  display: flex;
  flex-direction: column;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.35);
  border-radius: var(--border-radius);
}
.card.hot {
  cursor: pointer;
}

/* Soon we can replace this with: gap: 1rem; */
.card > * + * {
  margin-top: 1rem;
}

.card > img {
  /* Fallback for `aspect-ratio` of defining
  a height */
  height: max(18vh, 12rem);
  object-fit: cover;
  width: 100%;
}

/* When supported, use `aspect-ratio` */
@supports (aspect-ratio: 1) {
  .card > img {
    aspect-ratio: var(--img-ratio);
    height: auto;
  }
}

.card > img:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card > img:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  margin-top: auto;
}

.card > :not(img) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.card > :not(img):first-child {
  margin-top: 1rem;
}

/* Enhanced `:not()` accepts a selector list,
but as a fallback you can chain `:not()` instead */
.card > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1rem;
}

.card > button {
  align-self: center;
}

.card.hot:hover h2 {
  text-decoration: underline;
  color: var(--primary-color);
}
.card.hot:hover {
  box-shadow: 0.25em 0.25em 1em rgba(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b), 0.8);
}
.card h2 {
  margin-bottom: 0;
}
</style>

    <div class="smol-grid">
      {% if person %}
        <div class="card cold" style="grid-column: 1 / span 2">
          <h2>Welcome back, {{ person.friendly_name }}!</h2>
          {% if person.exemption_certificate_id %}
            <p>We have your exemption certificate on file.</p>
          {% endif %}
          {% if person.giftcard_id %}
            {# TODO say something once we can use it in check out #}
          {% endif %}
          {% if person.points_available >= 50 %}
            <p>
              <b>You have enough points for a loyalty reward on this
              purchase!</b> You will be able to apply it during checkout.
          {% elseif person.points_available + person.points_pending >= 50 %}
            <p>
              <b>You have enough points pending that you'll have access to
              a loyalty reward tomorrow!</b>
          {% else %}
            <p>
              <b>You don't have enough points for a loyalty reward yet.</b>
          {% endif %}

            You will earn {{ max(cart.subtotal // 1, 1) }} points from this
            purchase.
          </p>

          <a class="button" href="/cart/checkout">
            <i class="bi bi-box-arrow-right"></i>
            <span class="label">Start Checkout</span>
          </a>
        </div>
      {% else %}
        <div class="card cold">
          <h2>Log in &amp; Check out</h2>
          <form class="stacked-form"
                method="POST" action="{{ url_for('handleLogin') }}">
            <p>
              Access and add to your <a href="/rewards">loyalty rewards</a>
              by logging in. We'll email or text a link to continue.
            </p>
            <label for="loyalty">
              What is the phone number or email address for your account?
            </label>
            <input type="text" class="input block"
                    name="loyalty" value="{{ loyalty }}"
                    placeholder="213-627-7223 or vincent.van.gogh@example.com">

            <input type="hidden" name="cart_uuid" value="{{ cart.uuid }}">
            <button type="submit" class="button">
              <i class="bi bi-box-arrow-in-right"></i>
              <span class="label">Get Login Link</span>
            </button>
            <div class="help-block">
              (Standard messaging and data rates may apply.)
            </div>
          </form>
        </div>
        <div class="card cold">
          <h2>Guest Checkout</h2>
          <form class="stacked-form"
                method="POST" action="{{ url_for('handleLogin') }}">
            <p>
              Not signed up yet? We'll need your email address to take
              you through the rest of the checkout process. You can pay
              with credit card or PayPal.
            </p>
            <label for="email">
              What is your email address?
            </label>
            <input type="text" class="input block"
                    name="email" value="{{ email }}"
                    placeholder="vincent.van.gogh@example.com">

            <button type="submit" class="button">
              <i class="bi bi-box-arrow-right"></i>
              <span class="label">Start Checkout</span>
            </button>
          </form>
        </div>
      {% endif %}
      {% if amzn.merchant_id %}
        <div class="card cold">
          <h2>Amazon Pay Checkout</h2>
          <p>
            Log in and pay using your Amazon account. You'll also be able to
            access your loyalty rewards, but orders paid via Amazon must be
            shipped, you can't select curbside pickup or local delivery.
          </p>
          <div id="AmazonPayButton"></div>
        </div>
      {% endif %}
    </div>

    {# TODO warnings about stock issues #}

    {% embed 'cart/cart.twig' with { editable: true } %}
      {% block buttons %}
      {% endblock %}
    {% endembed %}
  {% endif %}

  <div class="well">
    <p>Want to retrieve a cart that you saved? Enter your email address and
    we'll email you a link to access it.</p>

    <form class="stacked-form"
          method="POST" action="{# url_for('cart-retrieve') #}">
      <label for="email">
        Email
      </label>
      <input type="email" class="input" name="email">
      <button role="submit" class="button">
        <i class="bi bi-cart"></i>
        <span class="label">Retrieve Saved Cart</span>
      </button>
    </form>
  </div>
{% endblock %}

{% block script %}
  {% if amzn.merchant_id %}
    <script src="https://static-na.payments-amazon.com/checkout.js"></script>
    <script type="text/javascript" charset="utf-8">
      let amazonPayButton= amazon.Pay.renderButton('#AmazonPayButton', {
        merchantId: '{{ amzn.merchant_id }}',
        ledgerCurrency: 'USD',
        {% if DEBUG %}
          sandbox: true,
        {% endif %}
        checkoutLanguage: 'en_US',
        productType: 'PayAndShip',
        placement: 'Cart',
        buttonColor: 'Gold',
      })

      amazonPayButton.onClick(() => {
        /* TODO fire ecommerce event */
        amazonPayButton.initCheckout({
          createCheckoutSessionConfig: {
            payloadJSON: '{{ amzn.payload | raw }}',
            signature: '{{ amzn.signature }}',
            publicKeyId: '{{ amzn.public_key_id }}'
          }
        })
      })
    </script>
  {% endif %}
{% endblock %}
