{% extends 'layout/page.html' %}

{% block title %}
  Shopping Cart @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  {% if person %}
    <h2>
      Welcome back{{ person ? ', ' ~ person.friendly_name }}!
      <small>
        (<a href="{{ url_for('account') }}">view your account</a>
        or <a href="{{ url_for('logout') }}">log out</a>)
      </small>
    </h2>
  {% else %}
    <h2>
      Welcome! <a href="{{ url_for('login')}}">Log in or create an account.</a>
    </h2>
  {% endif %}

  {% set items= cart.items.find_many() %}
  {% if not items|length %}
    <div class="alert alert-warning">
      <b>You don't have anything in your cart.</b>
      You can <a href="{{ url_for('catalog') }}">start browsing for art
      supplies</a> or use the search form at the top of the page to find
      what you need.
    </div>

    {# XXX show some popular products #}
    <p>This is where I'll show some popular products.</p>
  {% else %}

    <pre>{{ items |json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>

  {% endif %}

  <div class="well">
    <p>Want to retrieve a cart that you saved? Enter your email address and
    we'll email you a link to access it.</p>

    <form class="stacked-form"
          method="POST" action="{# url_for('cart-retrieve') #}">
      <label for="email">
        Email
      </label>
      <input type="email" class="input" name="email">
      <button role="submit" class="button">
        <i class="lni lni-cart"></i>
        <span class="label">Retrieve Saved Cart</span>
      </button>
    </form>
  </div>
{% endblock %}
