{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  PayPal Checkout @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  {% if person %}
    <h2>
      Welcome back{{ person ? ', ' ~ person.friendly_name }}!
      <small>
        (<a href="{{ url_for('account') }}">view your account</a>
        or <a href="{{ url_for('logout') }}">log out</a>)
      </small>
    </h2>
  {% else %}
    <h2>
      Welcome! <a href="{{ url_for('login')}}">Log in or create an account.</a>
    </h2>
  {% endif %}


  {% block cart %}
    <div id="cart">
      {% embed 'cart/cart.twig' with { 'editable' : false } %}
        {% block buttons %}
          {% import 'macros.twig' as scat %}
          <div class="pay-button">
            <div id="paypal-buttons"></div>
          </div>
        {% endblock %}
      {% endembed %}
    </div>
  {% endblock %}

{% endblock %}

{% block extra_header %}
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal }}&amp;currency=USD&amp;disable-funding=card&amp;enable-funding=venmo{{ DEBUG ? '&debug=true' }}"></script>
{% endblock %}

{% block script %}
  <script>
    if (document.getElementById('paypal-buttons')) {
      paypal.Buttons({
        createOrder: (data, actions) => {
          return fetch("/cart/checkout/paypal-order", {
            headers: {
              'Accept': 'application/json',
            }
          })
          .then((res) => {
            if (!res.ok) {
              return res.json().then((data) => {
                if (data.text == 'Payment already completed.') {
                  window.location.href= '/sale/{{ cart.uuid }}/thanks';
                } else {
                  return Promise.reject(new Error(data.text));
                }
              })
            }
            return res.json()
          })
          .then((order) => {
            return order.id
          });
        },

        // Finalize the transaction on the server after payer approval
        onApprove: (data, actions) => {
          return actions.reject()
          return fetch(`/api/orders/${data.orderID}/capture`, {
            method: "post",
          })
          .then((response) => response.json())
          .then((orderData) => {
            // Successful capture! For dev/demo purposes:
            console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
            const transaction = orderData.purchase_units[0].payments.captures[0];
            alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
            // When ready to go live, remove the alert and show a success message within this page. For example:
            // const element = document.getElementById('paypal-button-container');
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');
          });
        }
      }).render('#paypal-buttons');
    }
  </script>
{% endblock %}
