<div class="contents" style="max-width: 40ch">
  {% if not person %}
    <div>
      <a href="/login">Log in</a> or <a href="/rewards">Sign up</a>
    </div>
  {% else %}
    <div>
      <b>Welcome back, {{ person.friendly_name }}!</b><br>
      <a href="/account">View your account</a> or <a href="/logout">Log out</a>
    </div>
  {% endif %}
  {% if not cart %}
    <div>
      <b>You don't have anything in your cart yet!</b><br>
      Quick, find something you want to buy and add it to your cart
      so you can start making masterpieces!
    </div>
  {% endif %}
</div>
