{% extends 'layout/page.html' %}

{% block title %}
  Settings
{% endblock %}

{% block content %}

  <h1 class="page-header">Advanced Settings</h1>

  {% include 'settings/nav.twig' %}

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for setting in settings %}
        <tr data-id="{{ setting.id }}">
          <td>
            <span class="editable"
                data-pk="{{ setting.id }}"
                data-name="name">
              {{- setting.name -}}
            </span>
          </td>
          <td>
            <span class="change-type"
                  data-type="select"
                  data-pk="{{ setting.id }}"
                  data-name="type"
                  data-value="{{ setting.type }}">
            </span>
          </td>
          <td>
            {%- if setting.type == 'blob' -%}
              <i class="fa fa-file-image-o"></i>
            {%- else -%}
              <span class="editable"
                  data-type="{{ setting.type == 'text' ? 'textarea' : 'text' }}"
                  data-pk="{{ setting.id }}"
                  data-name="value">
                {%- if setting.type == 'text' -%}
                  {{- setting.value|markdown_to_html -}}
                {%- elseif setting.type == 'password' -%}
                  {{- '********' -}}
                {%- else -%}
                  {{- setting.value -}}
                {%- endif -%}
              </span>
            {%- endif -%}
          </td>
          <td>
            {{ setting.updated_at }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <td colspan="4">
        <button id="create-new" class="btn btn-primary">
          Create New Setting
        </button>
    </tfoot>
  </table>

{% endblock %}

{% block script %}
  <script>
    let update= (params) => {
      return fetch("/settings/" + params.pk, {
        method: 'PATCH',
        headers: {
          'Content-type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify({ [params.name] : params.value })
      })
    }

    $('.editable').editable({
      url: update,
      success: (response, newValue) => {
        if (!response.ok) { return response.statusText }
        if (response.error) { return response.error }
      }
    }).on('shown', function (e, editable) {
      // Can't just do this directly because $input isn't focused yet
      setTimeout(function() {
        editable.input.$input.select()
      }, 1)
    })

    $('.change-type').editable({
      url: update,
      success: (response, newValue) => {
        if (!response.ok) { return response.statusText }
        if (response.error) { return response.error }
      },
      source:
      [
        { value: 'string', text: 'String' },
        { value: 'password', text: 'Password' },
        { value: 'text', text: 'Text' },
        { value: 'blob', text: 'Blob' },
      ]
    }).on('shown', function (e, editable) {
      // Can't just do this directly because $input isn't focused yet
      setTimeout(function() {
        editable.input.$input.select()
      }, 1)
    })

    document.getElementById('create-new').addEventListener('click', (ev) => {
      let name= window.prompt("Setting name", '')
      if (name) {
        scat.call('/settings', { name: name })
            .then((res) => {
              window.location.reload()
            })
      }
    })
  </script>
{% endblock %}
