{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  {{ txn.friendly_type }} {{ txn.formatted_number }}
{% endblock %}

{% block extra_head %}
  <script src="/extern/mousetrap-1.6.2/mousetrap.min.js"></script>
  <script src="/extern/mousetrap-1.6.2/plugins/global-bind/mousetrap-global-bind.min.js"></script>
{% endblock %}

{% block content %}
  <style>
    [data-action~="editable"] {
      border-bottom: 1px solid rgba(255, 0, 0, 0.2);
    }
    [data-action] {
      cursor: pointer;
    }
  </style>
  <div class="row">
    <div class="col-sm-9">
      {{ block('search') }}
      <br>
      <div id="search-results"></div>
      <div data-reload="invoice">
        {{ block('invoice') }}
      </div>
    </div>
    <div data-reload="sidebar" id="sidebar" class="col-md-3">
      {{ block('sidebar') }}
    </div>
  </div>
{% endblock %}

{% block search %}
  <form class="form form-inline" data-action="search">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
      <input type="hidden" name="scope" value="items">
      <input type="text" class="form-control autofocus"
             name="q"
             autocomplete="off" autocorrect="off" autocapitalize="off"
             spellcheck="false"
             placeholder="Scan item or enter search terms"
             value="" size="200">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" value="Find Items">
      </span>
    </div>
  </form>
{% endblock %}

{% block invoice %}
  {% import 'macros.twig' as scat %}
  <div class="panel panel-default"
        data-txn-id="{{ txn.id }}" data-status="{{ txn.status }}">
    <style>
      #txn th:last-child, #txn td:last-child {
        padding-right: 1rem;
      }
    </style>
    <table id="txn" class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Qty</th>
          <th>Rec</th>
          <th>Code</th>
          <th>SKU</th>
          <th width="50%">Name</th>
          <th style="text-align: right">Price</th>
          <th style="text-align: right">Ext</th>
        </tr>
      </thead>
      <tbody>
        {% for line in txn.items.find_many %}
          <tr data-id="{{ line.id }}" data-item-id="{{ line.item_id }}"
              data-editable-base="/sale/{{ txn.id }}/item/{{ line.id }}">
            <td>
              {% if not line.kit_id %}
                <a data-action="remove-item" class="btn btn-link btn-xs">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              {% endif %}
            </td>
            <td>
              <div data-action="editable" data-name="ordered">
                {{- (txn.type == 'correction' ? 1 : -1) * line.ordered -}}
              </div>
            </td>
            <td>
              <div data-action="editable" data-name="allocated"
                   class="{{ (line.allocated < line.ordered) ? 'text-danger' }}">
                {{- (txn.type == 'correction' ? 1 : -1) * line.allocated -}}
              </div>
            </td>
            <td>
              <a data-action="show-item-info" data-code="{{ line.code }}">
                {{ line.code }}
              </a>
            </td>
            <td>
              {{ line.vendor_sku }}
            </td>
            <td>
              <span data-action="editable" data-name="override_name">
                {{- line.name -}}
              </span>
              <div><small>{{ line.pricing_detail }}</small></div>
            </td>
            <td style="text-align: right">
              {% if not line.kit_id %}
                <div data-action="editable" data-name="sale_price">
                  {{- scat.amount(line.sale_price) -}}
                </div>
              {% endif %}
            </td>
            <td style="text-align: right">
              {% if not line.kit_id %}
                {{ scat.amount((txn.type == 'correction' ? 1 : -1) * line.ext_price) }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7" style="text-align: right">
            Total:
          </th>
          <td style="text-align: right">{{ scat.amount(txn.total) }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}

{% block sidebar %}
  {% import 'macros.twig' as scat %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right">
        <button class="btn btn-sm btn-default"
                data-action="show-notes" data-kind="txn"
                data-attach-id="{{ txn.id }}">
          <i class="fa fa-fw fa-sticky-note-o"></i>
          <span class="label label-{{ txn.notes.where('todo',1).count ? 'danger' : 'default' }}">
            {{- txn.notes.count ?: '' -}}
          </span>
        </button>
      </div>
      <h1 class="panel-title">
        {{ block('title') }}
      </h1>
      <small data-toggle="tooltip" title="{{ (txn.filled ? ('Filled: ' ~ txn.filled|date("F j Y g:ia"))) ~ "\n" ~ (txn.paid ? ('Paid: ' ~ txn.paid|date("F j Y g:ia"))) }}">
        {{ txn.created|date("l, F j Y g:ia") }}
      </small>
    </div>
    <div class="panel-body">
      <style>
        .list-group-item.disabled {
          opacity: 40%;
        }
      </style>
      {% if txn.person_id %}
        {% if txn.person.notes %}
          <div class="alert alert-danger" style="max-height: 8em; overflow: scroll">
            {{- txn.person.notes|nl2br -}}
          </div>
        {% endif %}
      {% endif %}
      <div class="btn-group btn-block">
        <button type="button"
                class="btn btn-default btn-block dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false">
          {{ scat.format_txn_status(txn.status) }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            {% set options= ['new','filled','paid','processing','waitingforitems','readyforpickup','shipping','shipped','complete','template'] %}
            {% for opt in options %}
              <a data-action="set-status" data-status="{{ opt }}">
                {{ scat.format_txn_status(opt) }}
              </a>
            {% endfor %}
          </li>
        </ul>
      </div>
      <div class="well">
        <h1 class="text-center {{ txn.due < 0 ? 'text-danger' }}"
            style="margin: 0px; padding: 0px">
          {{ scat.amount(txn.due) }}
        </h1>
      </div>

      <div class="text-center">
        <div class="btn-group btn-group-lg">
         <button type="button" class="btn btn-default" data-action="print-invoice">
           <u>P</u>rint
         </button>
         <button type="button" class="btn btn-default dropdown-toggle"
                 data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
           <span class="sr-only">Toggle Dropdown</span>
          </button>
         <ul class="dropdown-menu" role="menu">
          <li><a data-action="print-invoice">Invoice</a></li>
          <li><a data-action="print-receipt">Receipt</a></li>
          <li>
            <a data-action="print-invoice" data-download="1">
              Download
            </a>
          </li>
          <li>
            <a data-action="email-invoice">
              Email
            </a>
          </li>
         </ul>
        </div>
          {% if not txn.items.count %}
            <button data-action="delete-correction" class="btn btn-lg btn-default">
              Delete
            </button>
          {% endif %}
      </div>

    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('[data-toggle="tooltip"]').tooltip();

    let findAndAddItem= (formData, form= null) => {
      return scat.get('/catalog/search', formData, {
        headers: { 'Accept': 'application/json' }
      })
      .then((res) => {
        if (res.redirected) {
          window.location.href= res.url
        }
        return res.json()
      })
      .then((data) => {
        if (data.items.length == 0) {
          // No items? Highlight the search field and add a note
          form.elements['q'].parentNode.classList.add('has-error');
          let msg=
            document.getElementById('item-not-found').content.cloneNode(true);
          msg.querySelector('.message').innerText=
            "Didn't find anything for '" + formData.get('q') + "'.";
          document.getElementById('search-results').append(msg)
        } else if (data.items.length > 1) {
          // Multiple items? Show the choices
          let msg=
            document.getElementById('multiple-items').content.cloneNode(true);
          let tbody= msg.querySelector('tbody');
          let row= tbody.removeChild(tbody.children[0]);

          data.items.forEach((item) => {
            row.setAttribute('data-id', item.id);
            if (item.stock > 0) {
              row.classList.add('stocked')
            } else {
              row.classList.remove('stocked')
            }
            row.children[0].innerText= item.name
            row.children[1].innerText= item.brand_name ? item.brand_name : ''
            row.children[2].innerText= scat.amount(item.retail_price)
            row.children[2].style.innerTextDecorationLine=
              (item.sale_price ? 'line-through' : 'inherit')
            row.children[3].innerText= scat.amount(item.sale_price)
            tbody.append(row.cloneNode(true))
          })

          document.getElementById('search-results').append(msg)
        } else {
          return addItemById(data.items[0].id)
        }
      })
    }

    let handleFindAndAddItem= (form) => {
      let formData= new FormData(form)
      let q= form.elements['q']

      // clear error
      q.parentNode.classList.remove('has-error');

      // focus and select so more typing will overwrite the query
      q.focus()
      q.select()

      return findAndAddItem(formData, form)
    }

    let addItemById= (item_id) => {
      let status= document.querySelector('[data-txn-id]').getAttribute('data-status')
      // add or allocate?
      if (status == 'waitingforitems') {
        let line= document.querySelector('[data-item-id="' + item_id + '"]')
        if (!line) {
          scat.alert('danger', 'No such item found.')
          return
        }

        let line_id= line.getAttribute('data-id')
        let ordered= parseInt(line.querySelector('[data-name="ordered"]').textContent)
        let allocated= parseInt(line.querySelector('[data-name="allocated"]').textContent)

        if (allocated >= ordered) {
          scat.alert('danger', "Wasn't expecting any more of those!")
          return
        }

        return scat.patch('/sale/{{ txn.id }}/item/' + line_id, {
          allocated: allocated + 1
        })
          .then((res) => res.json())
          .then((data) => {
            scat.reload('invoice','sidebar')
            // set active row to data.id
          })

      } else {
        return scat.post('/sale/{{ txn.id }}/item', { item_id: item_id })
          .then((res) => res.json())
          .then((data) => {
            scat.reload('invoice','sidebar')
            // set active row to data.id
          })
      }
    }

    scat.handleAction('click', 'add-item', (act) => {
      let item_id= act.closest('[data-id]').getAttribute('data-id')

      return addItemById(item_id).then((res) => {
        let choices= act.closest('.choices')
        if (choices) choices.parentElement.removeChild(choices)
      })
    })

    scat.handleAction('click', 'add-item-by-code', (act) => {
      let code= act.closest('[data-code]').getAttribute('data-code')

      let formData= new FormData()
      formData.append('q', 'code:' + code)

      return findAndAddItem(formData)
    })

    scat.handleAction('click', 'remove-item', (act) => {
      let line_id= act.closest('[data-id]').getAttribute('data-id')

      return scat.delete('/sale/{{ txn.id }}/item/' + line_id)
        .then((res) => {
          scat.reload('invoice', 'sidebar')
        })
        .catch((err) => {
          scat.alert('danger', err.message)
        })
    })

    scat.handleAction('click', 'set-status', (act) => {
      let status= act.closest('[data-status]').getAttribute('data-status')
      return scat.patch("/sale/{{ txn.id}}", { status: status })
        .then((res) => {
          scat.reload('sidebar')
        })
    })

    scat.handleAction('click', 'print-invoice', (act) => {
      let data= act.closest('[data-variation]')
      let download= act.closest('[data-download]')
      scat.print( '/sale/{{ txn.id }}/~print-invoice', {
        variation: data ? data.getAttribute('data-variation') : '',
        download: download ? download.getAttribute('data-download') : 0
      })
      return Promise.resolve()
    })

    let printReceipt= (v) => {
      return scat.print('/sale/{{ txn.id }}/~print-receipt', { variation: v })
    }

    scat.handleAction('click', 'print-receipt', (act) => {
      let data= act.closest('[data-variation]')
      let variation= data ? data.getAttribute('data-variation') : undefined
      return printReceipt(variation)
    })

    scat.handleAction('click', 'email-invoice', (act) => {
      return scat.dialog('/sale/{{ txn.id }}/email-invoice-form?full_invoice=1').then(() => {
        let status= act.closest('[data-new-status]').getAttribute('data-new-status')
        return scat.patch("/sale/{{ txn.id}}", { status: status })
          .then((res) => {
            scat.reload('sidebar')
          })
      })
    })

    scat.handleAction('click', 'clear-items', (act) => {
      if (window.confirm("Are you sure you want to delete all items?")) {
        return scat.post('/correction/{{ txn.id }}/~clear-all').then(() => {
          scat.reload('invoice', 'sidebar')
        })
      }
      return Promise.resolve()
    })

    scat.handleQueuedAction('submit', 'search', handleFindAndAddItem)

    scat.handleAction('click', 'show-item-info', (act) => {
      var code= act.closest('[data-code]').getAttribute('data-code')
      return scat.get('/catalog/item/' + code, null, {
        headers: { 'Accept': 'application/json' },
      })
      .then((res) => res.json())
      .then((item) => {
        scat.popover(act, {
          title: item.name,
          content: "<b>Stock:</b> " + item.stock + '<br>' +
                   "<b>On Order:</b> " + item.on_order + '<br>' +
                   "<a href='/catalog/item/" + item.code + "' target='_blank' class='btn btn-default btn-block btn-xs'>Details</a>",
          html: true
        })
      })
    })

    function editableContent() {
      let el= this
      let name= el.getAttribute('data-name')
      let value= el.getAttribute('data-value')
      if (!value) {
        value= this.innerText
      }
      let base_el= el.closest('[data-editable-base]')
      let base= (base_el ?
                  base_el.getAttribute('data-editable-base') :
                  "/sale/{{ txn.id }}")
      let reload_el= el.closest('[data-editable-reload]')
      let html= scat.htmlToElement('<form><div class="form-group" style="margin-bottom: 0"><div class="input-group"><input type="text" name="" class="form-control" value=""><span class="input-group-btn"><button type="submit" class="btn btn-success"><i class="fa fa-fw fa-check"></i></button></span><span class="input-group-btn"><button type="button" class="btn btn-danger cancel"><i class="fa fa-fw fa-ban"></i></button></span></div><span class="help-block hidden" style="margin-bottom: 0"></span></div></form>')
      html.querySelector('input').setAttribute('name', name)
      html.querySelector('input').setAttribute('value', value)
      html.addEventListener('submit', (ev) => {
        ev.preventDefault()
        let formData= new FormData(ev.target)

        let btn= ev.target.querySelector('.fa-check')
        btn.classList.remove('fa-check')
        btn.classList.add('fa-spin','fa-spinner')
        scat.patch(base, formData)
            .then((res) => {
              if (res.redirected) {
                window.location.href= res.url
                return
              }
              return res.json()
            })
            .then((data) => {
              (($(el).popover('hide').data('bs.popover')||{}).inState||{}).click= false;
              return scat.reload('invoice', 'sidebar')
            })
            .catch((err) => {
              let help= ev.target.querySelector('.help-block')
              help.innerText= err.message
              help.classList.remove('hidden')
              ev.target
                .querySelector('.form-group')
                .classList.add('has-error')
              btn.classList.remove('fa-spin','fa-spinner')
              btn.classList.add('fa-check')
            })
      })
      html.querySelector('.cancel').addEventListener('click', (ev) => {
        (($(el).popover('hide').data('bs.popover')||{}).inState||{}).click= false;
      })
      return html
    }

    scat.handleAction('click', 'editable', (act) => {
      scat.popover(act, {
        content: editableContent,
        container: 'body',
        html: true,
        sanitize: false,
        placement: 'auto right',
      })
      return Promise.resolve()
    })

    scat.handleAction('click', 'delete-correction', (act) => {
      return scat.delete('/correction/{{ txn.id }}')
        .then((res) => {
          window.location.href= '/correction'
          return
        })
    })

  </script>

  <template id="item-not-found">
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="message"></span>
    </div>
  </template>

  <style>
    #sidebar h3 {
      margin-top: 1em;
      color: rgb(0,0,0,0.3);
      border-bottom: 1px solid rgb(0,0,0,0.1);
    }

    .choices {
      max-height: 300px;
      overflow: scroll;
      position: relative;
    }

    .choices tr.stocked {
      color: #339;
    }

    .choices tr {
      cursor:pointer;
    }
    .choices tr:hover {
      text-decoration: underline;
    }
  </style>

  <template id="multiple-items">
    <div class="choices alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <table class="table table-condensed">
        <tbody>
          <tr data-action="add-item">
            <td><!-- name --></td>
            <td><!-- brand --></td>
            <td><!-- retail_price --></td>
            <td><!-- sale_price --></td>
          <tr>
        </tbody>
      </table>
    </div>
  </template>
{% endblock %}
