{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Brand
{% endblock %}

{% block body %}
  <div class="modal-body">
    {% if brand.id %}
      <input type="hidden" name="id" value="{{ brand.id }}">
    {% endif %}

    <div class="form-group">
      <label for="active">
        Active
        <select name="active" class="form-control">
          <option value="1" {{ brand.active ? 'selected' }}>Yes</option>
          <option value="0" {{ brand.id and not brand.active ? 'selected' }}>No</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" autofocus
             name="name" value="{{ brand.name }}">
    </div>

    <div class="form-group">
      <label for="slug">Slug</label>
      <input type="text" class="form-control"
             name="slug" value="{{ brand.slug }}">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="10" name="description">
        {{- brand.description -}}
      </textarea>
    </div>

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-default">
    {{- brand.id ? 'Update' : 'Add' -}}
  </button>
{% endblock %}

{% block script %}
  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    scat.call("/catalog/brand{{ brand.id ? '/' ~ brand.slug }}", formData)
        .then((res) => {
          if (res.redirected) {
            window.location.href= res.url
          } else {
            window.location.reload()
          }
        })
  }
{% endblock %}
