{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% if txn.is_firstclass_shipment() %}
  {% set preferred_rates= {
    'USPS': [ 'First' ],
  } %}
{% else %}
  {% if txn.has_hazmat_items() %}
    {% set preferred_rates= {
      'GSO': [ 'CaliforniaParcelService' ],
      'UPS':  [ 'Ground' ],
      'UPSDAP':  [ 'Ground' ],
    } %}
    {#  'FedEx': [ 'FEDEX_GROUND', 'GROUND_HOME_DELIVERY' ], #}
  {% else %}
    {% set preferred_rates= {
      'USPS': [ 'First', 'Priority' ],
      'UPS':  [ 'Ground' ],
      'UPSDAP':  [ 'Ground' ],
    } %}
    {#  'GSO': [ 'CaliforniaParcelService' ], #}
    {#  'FedEx': [ 'FEDEX_GROUND', 'GROUND_HOME_DELIVERY' ], #}
  {% endif %}
{% endif %}

{% block title %}
  Add Shipment
{% endblock %}

{% block body %}
  <div class="modal-body">
    {% if shipment %}
      {% if easypost %}
        {% if txn.is_firstclass_shipment() %}
          <h3>First Class</h3>
        {% endif %}
        <ul class="list-group">
          {% for rate in easypost.rates|sort((a,b) => a.rate <=> b.rate) %}
            <a href="#" data-rate="{{ rate.id }}" class="list-group-item {{ rate.service in preferred_rates[rate.carrier] ? 'preferred' : 'hidden' }}">
              <span class="badge">{{ scat.amount(rate.rate) }}</span>
              {{ scat.format_shipping_carrier(rate.carrier) }}: {{ rate.service }}
              {% if rate.delivery_days %}
                ({{ rate.delivery_days}} day{{ rate.delivery_days > 0 ? 's' }})
              {% endif %}
            </a>
          {% endfor %}
          <a data-action="show-all" class="list-group-item">
            Show All
          </a>
        </ul>
      {% endif %}
    {% else %}
      <div class="form-group">
        <label for="label_date">Label Date</label>
        <input type="text" class="form-control"
               name="label_date"
               value="{{ label_date ?: "now"|date("Y-m-d") }}">
      </div>

      {% if not txn.is_firstclass_shipment() and not txn.has_hazmat_items() %}
        <div class="form-group">
          <label for="predefined_package">Package Type</label>
          <select class="form-control" name="predefined_package">
            <option value=""></option>
            <optgroup label="USPS">
              <option value="Card">Card</option>
              <option value="Letter">Letter</option>
              <option value="Flat">Flat</option>
              <option value="FlatRateEnvelope">Flat-Rate Envelope</option>
              <option value="FlatRateLegalEnvelope">Flat-Rate Legal Envelope</option>
              <option value="FlatRatePaddedEnvelope">Flat-Rate Padded Envelope</option>
              <option value="SmallFlatRateBox">Small Flat-Rate Box</option>
              <option value="MediumFlatRateBox">Medium Flat-Rate Box</option>
              <option value="LargeFlatRateBox">Large Flat-Rate Box</option>
              <option value="LargeFlatRateBoxAPOFPO">Large Flat-Rate Box (APO/FPO)</option>
              <option value="RegionalRateBoxA">Regional Rate Box A</option>
              <option value="RegionalRateBoxB">Regional Rate Box B</option>
            </optgroup>
            <optgroup label="FedEx">
              <option value="FedExEnvelope">Envelope</option>
              <option value="FedExBox">Box</option>
              <option value="FedExPak">Pak</option>
              <option value="FedExTube">Tube</option>
              <option value="FedEx10kgBox">10kg Box</option>
              <option value="FedEx25kgBox">25kg Box</option>
              <option value="FedExSmallBox">Small Box</option>
              <option value="FedExMediumBox">Medium Box</option>
              <option value="FedExLargeBox">Large Box</option>
              <option value="FedExExtraLargeBox">Extra-Large Box</option>
            </optgroup>
            <optgroup label="UPS">
              <option value="UPSLetter">Letter</option>
              <option value="UPSExpressBox">Express Box</option>
              <option value="UPS25kgBox">25kg Box</option>
              <option value="UPS10kgBox">10kg Box</option>
              <option value="Tube">Tube</option>
              <option value="Pak">Pak</option>
              <option value="SmallExpressBox">Small Express Box</option>
              <option value="MediumExpressBox">Medium Express Box</option>
              <option value="LargeExpressBox">Large Express Box</option>
            </optgroup>
          </select>
        </div>
      {% endif %}

      {# Gift card is always letter #}
      {% if txn.items.where('item_id', 11212).find_one %}
        <input type="hidden" name="predefined_package" value="Letter">
      {% endif %}

      <div class="form-group">
        <label for="weight">Weight</label>
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button"
                    data-action="read-scale">
              <i class="fa fa-balance-scale fa-fw"></i>
              <span class="sr-only">Read Scale</span>
            </button>
          </span>
          <input type="text" class="form-control autofocus"
                 name="weight" placeholder="3 lbs">
        </div>
      </div>

      <div class="form-group">
        <label for="dimensions">Dimensions</label>
        <input type="text" class="form-control"
               name="dimensions" placeholder="15 x 10 x 9">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="hazmat" value="1" {{ (shipment.hazmat or txn.has_hazmat_items()) ? 'checked' }}>
          Contains Hazardous Materials
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="signature" value="1">
          Signature Required
        </label>
      </div>

    {% endif %}

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    {{ shipment ? 'Select' : 'Lookup' }}
  </button>
{% endblock %}

{% block script %}
  form.addEventListener('click', (ev) => {
    let rate= ev.target.closest('[data-rate]')
    if (!rate) return;

    ev.preventDefault()
    ev.stopPropagation()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'
    let rate_id= rate.getAttribute('data-rate')

    fetch("/sale/{{ txn.id }}/shipment/{{ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify({ rate_id: rate_id })
    })
    .then((res) => {
      if (!res.ok) {
        return Promise.reject(new Error(res.statusText))
      }
      return res.json()
    })
    .then((data) => {
      scat.alert('info', 'Added shipment.')
      scat.print('/sale/' + {{ txn.id }} + '/shipment/' + data.id + '/~print-label')
      if (typeof viewModel !== 'undefined') { /* XXX old-index.php */
        viewModel.setStatus(null, null, 'shipping')
        Txn.loadId({{ txn.id }})
      }
      $(dialog).modal('hide')
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'

    let formData= new FormData(form)
    fetch("/sale/{{ txn.id }}/shipment{{ shipment.id ? '/' ~ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData))
    })
    .then((res) => scat._handleResponse(res))
    .then((res) => res.json())
    .then((data) => {
      $(dialog).modal('hide')
      scat.dialog('/sale/{{ txn.id }}/shipment/' + data.id)
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  }

  scat.handleActionOn(form, 'click', 'show-all', (act) => {
    act.parentElement.querySelectorAll('.hidden').forEach((el) => {
      el.classList.remove('hidden')
    })
    act.remove()
    return Promise.resolve()
  })

  scat.handleActionOn(form, 'click', 'read-scale', (act) => {
    return fetch('/scale').then((res) => {
      return res.text()
    })
    .then((text) => {
      form.elements['weight'].value= text
      return Promise.resolve()
    })
  })
{% endblock %}
