{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% set vehicle_sizes= {
  'sm': 'Small',
  'md': 'Medium',
  'lg': 'Large',
  'xl': 'XL',
  'xxl': 'XXL',
}%}

{% block title %}
  Add Delivery
{% endblock %}

{% block body %}
  <div class="modal-body">
    {% if delivery %}
      <p>Nothing here yet.</p>
    {% else %}
      {% set method= txn.delivery_details.data().method %}
      <div class="form-group">
        <label for="vehicle">Vehicle Size</label>
        <select class="form-control" name="service">
          <option value=""></option>
          {% for size, name in vehicle_sizes %}
            <option value="{{ size }}"
                    {{ (method == ('local_' ~ size)) ? 'selected' }}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
      </div>

{#
      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control autofocus"
               name="weight" placeholder="3 lbs">
      </div>
#}

      <div class="form-group">
        <label for="dimensions">Cost</label>
        <input type="text" class="form-control"
               name="rate" placeholder="$5.99"
               value="{{ scat.amount(txn.delivery_details.retail_price) }}">
      </div>

      <div class="form-group">
        <label for="dimensions">Instructions</label>
        <textarea class="form-control" name="handling_instructions">{{ delivery.instructions }}</textarea>
      </div>

    {% endif %}

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    {{ delivery ? 'Update' : 'Create' }}
  </button>
{% endblock %}

{% block script %}
  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'

    let formData= new FormData(form)
    fetch("/sale/{{ txn.id }}/delivery{{ delivery.id ? '/' ~ delivery.id }}", {
      method: '{{ delivery ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData))
    })
    .then((res) => scat._handleResponse(res))
    .then((res) => res.json())
    .then((data) => {
      dialog.resolution= data
      $(dialog).modal('hide')
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  }
{% endblock %}
