{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Email {{ txn.type == 'vendor' ? 'PO' : 'Invoice' }} {{ txn.formatted_number }}
{% endblock %}

{% block body %}
  <div class="modal-body">

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" autofocus
             name="email" value="{{ txn.person.email }}">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control"
             name="name" value="{{ txn.person.name }}">
    </div>

    <div class="form-group">
      <label for="name">Subject</label>
      <input type="text" class="form-control"
             name="subject"
             value="{% if subject %}{{ subject }}{% else %}{{ txn.person.company }} {{ (txn.type == 'vendor') ? 'PO' : 'Invoice' }} {{ txn.formatted_number }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="description">Content</label>
      <textarea class="form-control" rows="10" name="content">{{ content }}</textarea>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="include_details" {{ txn.type == 'vendor' ? 'checked' }}>
          Include {{ txn.type == 'vendor' ? 'Purchase Order' : 'Invoice' }} PDF
        </label>
      </div>
    </div>

  </div>
{% endblock %}

{% block submit %}
  {% if new_status %}
    <input type="hidden" name="new_status" value="{{ new_status }}">
  {% endif %}
  <button type="submit" class="btn btn-primary">
    Send
  </a>
{% endblock %}

{% block script %}
  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)

    if (formData.get('content').match(/XXX/g)) {
      scat.alert('warning', 'Placeholder text not updated!')
      return
    }

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'

    scat.call("/sale/{{ txn.id }}/email-invoice", formData)
    .then((res) => res.json())
    .then((data) => {
      scat.alert('success', data.message)
      if (formData.get('new_status')) {
        Txn.loadId(Txn.id())
      }
      $(dialog).modal('hide')
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  }
{% endblock %}
