{% extends body_only ? 'layout/body.html' : 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block size 'modal-lg' %}

{% block title %}
  <a onclick="event.currentTarget.closest('form').loadNotes(0)">
    Notes
  </a>
{% endblock %}

{% block body %}
  {# TODO hardcoded height in here, should be smarter #}
  <table class="table table-striped"
         style="display: block; width: 100%;
                max-height: 500px; overflow: auto; margin-bottom: 0px">
    {% for note in notes %}
      <tr>
        <td class="text-right" width="20%">
          {% if note.kind == 'txn' %}
            {% set txn= note.txn %}
            <a href="{{ path_for('sale', { 'id' : txn.id }) }}">
              Invoice {{ txn.formatted_number }}
            </a>
          {% endif %}
          {% set about= note.about %}
          {% if about %}
            <a class="clearfix" href="{{ path_for('person', { 'id' : about.id() }) }}">
              {{ about.friendly_name }}
            </a>
            {% if about.phone %}
              <a class="clearfix" href="{{ path_for('person', { 'id' : about.id() }) }}">
                {{ about.phone | phone_number_format }}
              </a>
            {% endif %}
          {% endif %}
          {% if note.kind == 'item' %}
            {% set item= note.item %}
            <a href="{{ path_for('catalog-item', { 'code' : item.code }) }}">
              {{ item.name }}
            </a>
          {% endif %}
        </td>
        <td width="100%">
          <small>
            {{ note.added | date("l, F j") }}
            {% set person= note.person.find_one() %}
            {% if person %}
              ({{ person.friendly_name }})
            {% endif %}
          </small>
          <p style="padding-left: 1em">{{ note.content }}</p>
          {% if not note.parent_id %}
            <div class="small">
              <a onclick="event.currentTarget.closest('form').loadNotes({{ note.id }})">
              {% if note.children %}
                View {{ note.children }}
                repl{{ note.children != '1' ? 'ies' : 'y' }}
              {% else %}
                Reply
              {% endif %}
              </a>
            </div>
          {% endif %}
        </td>
        <td width="10%">
          {% if not note.parent_id %}
            <a data-id="{{ note.id }}" data-todo="{{ note.todo }}"
               class="todo-link label
                      {{ note.todo ? 'label-primary' : 'label-success' }}">
              {{ note.todo ? 'TODO' : 'DONE' }}
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block form_class 'form-inline' %}

{% block footer %}
  <div class="modal-footer">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="content"
               placeholder="Enter your comment..." size="500">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    {% if parent_id > 0 %}
      Replying...
    {% endif %}
    <input type="hidden" name="parent_id" value="{{ parent_id }}">
    <input type="hidden" name="todo" value="1">
    <div class="form-group">
      <select class="form-control input-sm" name="person_id">
        <option value="">Select...</option>
        {% for person in staff %}
          <option value="{{ person.id }}">{{ person.name }}</option>
        {% endfor %}
      </select>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="1" name="sms">
          SMS
        </label>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  const enableTodoLinks= (form) => {
    let todoLink= form.querySelector('.todo-link')
    todoLink.addEventListener('click', (ev) => {
      ev.preventDefault()
      ev.stopPropagation()

      const id= ev.currentTarget.attributes['data-id'].value
      const todo= ev.currentTarget.attributes['data-todo'].value

      let formData= new FormData();
      formData.append('todo', todo == '1' ? 0 : 1);
      fetch('/notes/' + id + '/update', {
        method: 'POST',
        headers: { 'Accept': 'application/json' },
        body: formData
      })
      .then((res) => {
        return res.json()
      })
      .then((note) => {
        todoLink.attributes['data-todo'].value= note.todo
        todoLink.text= note.todo ? 'TODO' : 'DONE'
        todoLink.classList.remove('label-primary','label-success')
        todoLink.classList.add(note.todo ? 'label-primary' : 'label-success')
      })
    })
  }

  enableTodoLinks(form)

  form.loadNotes= (id) => {
    fetch('/notes/?body_only=1' + (id ? '&parent_id=' + id : ''), {
      method: 'GET',
      headers: { 'Accept': 'application/json' }
    })
    .then((res) => {
      return res.text()
    })
    .then((text) => {
      let body= scat.htmlToElement(text)
      let old= form.getElementsByTagName('table')[0]
      old.replaceWith(body)
      form.parent_id.value= id
      enableTodoLinks(form)
    })
  }

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    fetch("/notes/add", {
      method: 'POST',
      headers: { 'Accept': 'application/json' },
      body: formData
    })
    .then((res) => {
      return res.json()
    })
    .then((note) => {
      form.reset()
      form.loadNotes(note.parent_id)
    })
  }
{% endblock %}
