{% extends body_only ? 'layout/body.html' : 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block size 'modal-lg' %}

{% block title %}
  <a onclick="event.currentTarget.closest('form').loadNotes(0)">
    Notes
  </a>
{% endblock %}

{% block body %}
  {# TODO hardcoded height in here, should be smarter #}
  <table class="table table-striped"
         style="display: block; width: 100%;
                max-height: 500px; overflow: auto; margin-bottom: 0px">
    {% for note in notes %}
      <tr>
        <td class="text-right" width="20%">
          {% if note.kind == 'txn' %}
            {% set txn= note.txn %}
            <a href="{{ path_for('sale', { 'id' : txn.id }) }}">
              Invoice {{ txn.formatted_number }}
            </a>
            <a class="clearfix" href="{{ path_for('person', { 'id' : txn.person_id }) }}">
              {{ txn.owner.friendly_name }}
            </a>
          {% endif %}
        </td>
        <td width="100%">
          <small>
            {{ note.added | date("l, F j") }}
            {% set person= note.person.find_one() %}
            {% if person %}
              ({{ person.friendly_name }})
            {% endif %}
          </small>
          <p style="padding-left: 1em">{{ note.content }}</p>
          {% if not note.parent_id %}
            <div class="small">
              <a onclick="event.currentTarget.closest('form').loadNotes({{ note.id }})">
              {% if note.children %}
                View {{ note.children }}
                repl{{ note.children != '1' ? 'ies' : 'y' }}
              {% else %}
                Reply
              {% endif %}
              </a>
            </div>
          {% endif %}
        </td>
        <td width="10%">
          {% if not note.parent_id %}
            {% if note.todo %}
              <a onclick="event.currentTarget.closest('form').markDone({{ note.id }})"
                 class="label label-primary">
                TODO
              </a>
            {% else %}
              <a onclick="event.currentTarget.closest('form').markDone({{ note.id }})"
                 class="label label-success">
                DONE
              </a>
            {% endif %}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block form_class 'form-inline' %}

{% block footer %}
  <div class="modal-footer">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="content"
               placeholder="Enter your comment..." size="500">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    <div class="checkbox">
      <span data-bind="text: parent_id() != '0' ? 'Replying...' : ''"></span>
      <input type="hidden" name="parent_id" value="{{ parent_id }}">
      <input type="hidden" name="todo" value="1">
      <div class="form-group">
        <select class="form-control input-sm" name="person_id">
          <option value="">Select...</option>
          {% for person in staff %}
            <option value="{{ person.id }}">{{ person.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  form.loadNotes= (id) => {
    fetch('/notes/?body_only=1' + (id ? '&parent_id=' + id : ''), {
      method: 'GET',
      headers: { 'Accept': 'application/json' }
    })
    .then((res) => {
      return res.text()
    })
    .then((text) => {
      let body= scat.htmlToElement(text)
      let old= form.getElementsByTagName('table')[0]
      old.replaceWith(body)
      form.parent_id.value= id
    })
  }

  form.markDone= (id) => {
    let formData= new FormData();
    formData.append('todo', 0);
    fetch('/notes/' + id + '/update', {
      method: 'POST',
      headers: { 'Accept': 'application/json' },
      body: formData
    })
    .then((res) => {
      return res.json()
    })
    .then((note) => {
      debugger
    })
  }

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    fetch("/notes/add", {
      method: 'POST',
      headers: { 'Accept': 'application/json' },
      body: formData
    })
    .then((res) => {
      return res.json()
    })
    .then((note) => {
      form.reset()
      form.loadNotes(note.parent_id)
    })
  }
{% endblock %}
