{% extends body_only ? 'layout/body.html' : 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Notes
{% endblock %}

{% block body %}
  {# TODO hardcoded height in here, should be smarter #}
  <table class="table table-striped"
         style="display: block;
                max-height: 500px; overflow: auto; margin-bottom: 0px">
    {% for note in notes %}
      <tr>
        <td class="col-xs-4 text-right">
          {% if note.kind == 'txn' %}
            {% set txn= note.txn %}
            <a href="{{ path_for('sale', { 'id' : txn.id }) }}">
              Invoice {{ txn.formatted_number }}
            </a>
            <a class="clearfix" href="{{ path_for('person', { 'id' : txn.person_id }) }}">
              {{ txn.owner.friendly_name }}
            </a>
          {% endif %}
        </td>
        <td class="col-xs-8">
          <small>
            {{ note.added | date("l, F j") }}
            {% set person= note.person.find_one() %}
            {% if person %}
              ({{ person.friendly_name }})
            {% endif %}
          </small>
          <p style="padding-left: 1em">{{ note.content }}</p>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block form_class 'form-inline' %}

{% block footer %}
  <div class="modal-footer">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="content"
               placeholder="Enter your comment..." size="500">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
    <div class="checkbox">
      <span data-bind="text: parent_id() != '0' ? 'Replying...' : ''"></span>
      <input type="hidden" name="parent_id" value="{{ parent_id }}">
      <div class="form-group">
        <select class="form-control input-sm" name="person_id">
          <option value="">Select...</option>
          {% for person in staff %}
            <option value="{{ person.id }}">{{ person.name }}</option>
          {% endfor %}
        </select>
      </div>

      <label>
        <input type="checkbox" name="todo" value="1">
        Todo?
      </label>
      <label>
        <input type="checkbox" name="public" value="1">
        Public?
      </label>
    </div>
  </div>
{% endblock %}

{% block script %}
  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    fetch("/notes/add", {
      method: 'POST',
      headers: { 'Accept': 'application/json' },
      body: formData
    })
    .then((res) => {
      fetch('/notes/?body_only=1')
      .then((res) => {
        return res.text()
      })
      .then((text) => {
        let body= scat.htmlToElement(text)
        let old= form.getElementsByTagName('table')[0]
        old.replaceWith(body)
      })
    })
  }
{% endblock %}
