{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Choose Payment Method
{% endblock %}

{% block size 'modal-sm' %}

{% block body %}
  <div class="modal-body">

    <button type="button" class="btn btn-primary btn-lg btn-block"
            data-action="choose-pay-method" data-method="cash">
      Cash
    </button>

    {% if txn.due > 0 %}
      <button type="button" class="btn btn-primary btn-lg btn-block"
              data-action="choose-pay-method" data-method="credit">
        Credit Card
      </button>
    {% endif %}

    {% set return_methods= {
          'amazon' : 'Amazon Pay',
          'credit' : 'Credit Card',
          'paypal' : 'PayPal',
          'stripe' : 'Stripe',
        } %}

    {% if txn.due < 0 and txn.returned_from_id %}
      {% for pay in txn.returned_from.payments.find_many %}
        {% if pay.method in return_methods|keys %}
          <button type="button" class="btn btn-default btn-lg btn-block"
                  data-action="choose-pay-method"
                  data-other-method="{{ pay.method }}"
                  data-method="refund">
            Refund {{ return_methods[pay.method] }}
          </button>
        {% endif %}
      {% endfor %}
    {% endif %}

    <br>

    <button type="button" class="btn btn-default btn-lg btn-block"
            data-action="choose-pay-method"
            data-method="gift">
      Gift Card
    </button>
    <button type="button" class="btn btn-default btn-lg btn-block"
            data-action="choose-pay-method"
            data-method="discount">
      Discount
    </button>

    <br>

    <button type="button" class="btn btn-default btn-lg btn-block"
            data-action="show-other-methods">
      Other
    </button>

    {% set other= {
      'bad' : 'Bad Debt',
      'check' : 'Check',
      'credit' : 'Credit',
      'donation' : 'Donation',
      'amazonpay' : 'Amazon Pay',
      'paypal' : 'PayPal',
      'square' : 'Square',
      'stripe' : 'Stripe',
      'venmo' : 'Venmo',
    } %}

    <div class="other-methods hidden">
      {% for method, name in other %}
        <button type="button" class="btn btn-default btn-lg btn-block"
                data-action="choose-pay-method"
                data-method="other"
                data-other-method="{{ method }}">
          {{ name }}
        </button>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block submit %}
{% endblock %}

{% block script %}
  {
    let choose= (ev) => {
      ev.preventDefault()

      var method= ev.target.closest('[data-method]').getAttribute('data-method')

      if ($.smodal) {
        $(dialog).modal('hide')

        // old payment handling
        var id= "#pay-" + method;
        var due= Txn.due();
        $(".amount", id).val(due);
        $.smodal($(id), { persist: true, overlayClose: false });
        $(".amount", id).focus().select();
      } else {
        var other= ev.target.closest('[data-other-method]')
        dialog.resolution= scat.dialog('/sale/{{ txn.id }}/payment', {
          method: method,
          other_method: other ? other.getAttribute('data-other-method') : null,
        })
        $(dialog).modal('hide')
      }
    }

    dialog.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'choose-pay-method') {
        return choose(ev)
      }
      if (act && act.getAttribute('data-action') === 'show-other-methods') {
        act.classList.add('hidden')
        dialog.querySelector('.other-methods').classList.remove('hidden')
      }
    })
  }
{% endblock %}
