{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Loyalty Activity for {{ person.friendly_name }}
{% endblock %}

{% block body %}
  <div class="modal-body">
    <div style="max-height: 30em; overflow: scroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Points</th>
            <th>Note</th>
          </tr>
        </thead>
        <tbody>
          {% for act in activity %}
            <tr>
              <td>{{ act.processed }}</td>
              <td>{{ act.points }}</td>
              <td>{{ act.note }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block submit %}
{% endblock %}
