{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Product
{% endblock %}

{% block body %}
  <div class="modal-body">
    {% if product.id %}
      <input type="hidden" name="id" value="{{ product.id }}">
    {% endif %}

    <div class="form-group">
      <label for="active">
        Active
        <select name="active" class="form-control">
          <option value="1" {{ product.active ? 'selected' }}>Yes</option>
          <option value="0" {{ product.id and not product.active ? 'selected' }}>No</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" autofocus
             name="name" value="{{ product.name }}">
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      <select class="form-control" name="brand_id" required>
        <option value=""></option>
        {% for brand in brands %}
          <option value="{{ brand.id }}"
                  {{ brand.id == product.brand_id ? 'selected' }}>
            {{ brand.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="slug">Slug</label>
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"
                  data-action="generate-slug">
            <i class="fa fa-cog"></i>
          </button>
        </span>
        <input type="text" class="form-control"
               name="slug" value="{{ product.slug }}">
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="10" name="description">
        {{- product.description -}}
      </textarea>
    </div>
    <div class="form-group">
      <label for="parent">Department</label>
      <select class="form-control" name="department_id">
        {% for d in depts %}
          <optgroup label="{{ d.name }}">
            {% for sub in d.departments.find_many() %}
              <option value="{{ sub.id }}"
                      {{ sub.id == (product.department_id ?: department_id) ? 'selected' }}>
                {{ sub.name }}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    {{- product.id ? 'Update' : 'Add' -}}
  </a>
{% endblock %}

{% block script %}
  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]
    let formData= new FormData(form)
    scat.call("/catalog/product{{ product.id ? '/' ~ product.id }}", formData)
        .then((res) => {
          if (res.redirected) {
            window.location.href= res.url
          } else {
            window.location.reload()
          }
        })
  }

  scat.handleAction('click', 'generate-slug', (event) => {
    return scat.generateSlug(
      form.brand_id.options[form.brand_id.selectedIndex].text,
      form.name.value
    )
    .then((val) => {
      form.slug.value= val
    })
  })
{% endblock %}
