{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Add Shipment
{% endblock %}

{% block body %}
  <div class="modal-body">

    {% if shipment %}
      {% if easypost %}
        <ul class="list-group">
          {% for rate in easypost.rates %}
            <a href="#" data-rate="{{ rate.id }}" class="list-group-item">
              <span class="badge">{{ scat.amount(rate.rate) }}</span>
              {{ rate.carrier }}: {{ rate.service }}
              {% if rate.delivery_days %}
                ({{ rate.delivery_days}} day{{ rate.delivery_days > 0 ? 's' }})
              {% endif %}
            </a>
          {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      <div class="form-group">
        <label for="predefined_package">Package Type</label>
        <select class="form-control" name="predefined_package">
          <option value=""></option>
          <option value="Card">Card</option>
          <option value="Letter">Letter</option>
          <option value="Flat">Flat</option>
          <option value="FlatRateEnvelope">Flat-Rate Envelope</option>
          <option value="FlatRateLegalEnvelope">Flat-Rate Legal Envelope</option>
          <option value="FlatRatePaddedEnvelope">Flat-Rate Padded Envelope</option>
          <option value="SmallFlatRateBox">Small Flat-Rate Box</option>
          <option value="MediumFlatRateBox">Medium Flat-Rate Box</option>
          <option value="LargeFlatRateBox">Large Flat-Rate Box</option>
          <option value="LargeFlatRateBoxAPOFPO">Large Flat-Rate Box (APO/FPO)</option>
          <option value="RegionalRateBoxA">Regional Rate Box A</option>
          <option value="RegionalRateBoxB">Regional Rate Box B</option>
        </select>
      </div>

      <div class="form-group">
        <label for="weight">Weight</label>
        <input type="text" class="form-control"
               name="weight" placeholder="3 lbs">
      </div>

      <div class="form-group">
        <label for="dimensions">Dimensions</label>
        <input type="text" class="form-control"
               name="dimensions" placeholder="15 x 10 x 9">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="ormd" value="1">
          ORM-D
        </label>
      </div>

    {% endif %}

  </div>
{% endblock %}

{% block submit %}
  <button type="submit" class="btn btn-primary">
    {{ shipment ? 'Select' : 'Lookup' }}
  </button>
{% endblock %}

{% block script %}
  form.addEventListener('click', (ev) => {
    let rate= ev.target.closest('[data-rate]')
    if (!rate) return;

    ev.preventDefault()
    ev.stopPropagation()

    let rate_id= rate.getAttribute('data-rate')

    fetch("/sale/{{ txn.id }}/shipment/{{ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify({ rate_id: rate_id })
    })
    .then((res) => {
      if (!res.ok) {
        return Promise.reject(new Error(res.statusText))
      }
      return res.json()
    })
    .then((data) => {
      scat.alert('info', 'Added shipment.')
      // TODO print label and set status = 'shipping'
      Txn.loadId({{ txn.id }})
      $(dialog).modal('hide')
    })
  })

  form.onsubmit= (event) => {
    event.preventDefault()

    let form= dialog.getElementsByTagName('form')[0]

    if (form.disabled) return;

    form.disabled= true
    form.style.filter= 'brightness(80%)'

    let formData= new FormData(form)
    fetch("/sale/{{ txn.id }}/shipment{{ shipment.id ? '/' ~ shipment.id }}", {
      method: '{{ shipment ? 'PATCH' : 'POST' }}',
      headers: {
        'Accept' : 'application/json',
        'Content-type' : 'application/json',
      },
      body: JSON.stringify(Object.fromEntries(formData))
    })
    .then((res) => scat._handleResponse(res))
    .then((res) => res.json())
    .then((data) => {
      $(dialog).modal('hide')
      scat.dialog([], '/sale/{{ txn.id }}/shipment/' + data.id)
    })
    .catch((err) => {
      scat.alert('danger', err.message)
    })
    .finally(() => {
      form.disabled= false
      form.style.filter= ''
    })
  }
{% endblock %}
