{% extends 'layout/dialog.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Report for {{ txn.formatted_number }}
{% endblock %}

{% block body %}
  {% set total= txn.subtotal %}
  {% set cogs= -txn.cost_of_goods %}
  {% set shipping= -txn.cost_of_shipping %}
  {% set processing= -txn.cost_of_processing %}
  {% set discount= 0 %}
  {% set rewards= 0 %}
  {% for payment in txn.payments.find_many %}
    {% if payment.method == 'discount' %}
      {% set discount= discount - payment.amount %}
    {% else %}
      {% if payment.method == 'loyalty' %}
        {% set rewards= rewards - payment.amount %}
      {% endif %}
    {% endif %}
  {% endfor %}
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Total</th>
        <td>{{ scat.amount(total) }}</td>
      </tr>
      <tr>
        <th>Cost of Goods</th>
        <td>{{ scat.amount(cogs) }}</td>
      </tr>
      {% if shipping %}
        <tr>
          <th>Shipping Cost</th>
          <td>{{ scat.amount(shipping) }}</td>
        </tr>
      {% endif %}
      {% if rewards %}
        <tr>
          <th>Loyalty Rewards</th>
          <td>{{ scat.amount(rewards) }}</td>
        </tr>
      {% endif %}
      {% if discount %}
        <tr>
          <th>Discount</th>
          <td>{{ scat.amount(discount) }}</td>
        </tr>
      {% endif %}
      {% if processing %}
        <tr>
          <th>Processing Cost</th>
          <td>{{ scat.amount(processing) }}</td>
        </tr>
      {% endif %}
      <tr style="border-top: 2px double white">
        <th>Profit</th>
        <td>{{ scat.amount(total + cogs + shipping + rewards + discount + processing) }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block submit %}
{% endblock %}

{% block script %}
{% endblock %}
