{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Sale {{ sale.id }} @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  <h1 class="page-header">
    Thanks for your order!
  </h1>

  <div class="alert alert-danger">
    We will email updates about your order, you may want to add <a
    href="mailto:info@rawmaterialsla.com">info@rawmaterialsla.com</a>
    to your address book to prevent them being miscategorized as spam.
    The emails may also end up in the "Promotions" tab for Gmail users.
  </div>

  <p class="lead">
    We will let you know when your order
    {% if sale.shipping_address_id == 1 %}
      is ready for pickup,
    {% else %}
      has shipped,
    {% endif %}
    or contact you if there are any issues.

    {# TODO merchant center survey #}
  </p>

  {% embed 'cart/cart.twig' with { cart: sale } %}
  {% endembed %}
{% endblock %}

{% block script %}
  <script>
    zaraz.ecommerce('Order Completed', {
      checkout_id: '{{ cart.id }}',
      order_id: '{{ cart.uuid }}',
      subtotal: '{{ cart.subtotal }}',
      shipping: '{{ cart.shipping }}',
      tax: '{{ cart.tax }}',
      total: '{{ cart.total }}',
      currency: 'usd',
      products: [
        {% for line in cart.items.find_many() %}
          {% set item= line.item %}
          {
            product_id: '{{ line.code }}',
            name: '{{ line.name }}',
            category: '{{ item.category }}',
            brand: '{{ item.brand_name }}',
            price: '{{ line.sale_price }}',
            currency: 'usd',
            quantity: '{{ line.quantity }}',
          },
        {% endfor %}
      ]
    })
  </script>
{% endblock %}
