{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Sale {{ "%07d"|format(sale.id) }}
{% endblock %}

{% block content %}
  <h1 class="page-header">
    Thanks for your order!
  </h1>

  <div class="alert alert-danger">
    We will email updates about your order, you may want to add <a
    href="mailto:info@rawmaterialsla.com">info@rawmaterialsla.com</a>
    to your address book to prevent them being miscategorized as spam.
    The emails may also end up in the "Promotions" tab for Gmail users.
  </div>

  <p class="lead">
    We will let you know when your order
    {% if sale.shipping_address_id == 1 %}
      is ready for pickup,
    {% else %}
      has shipped,
    {% endif %}
    or contact you if there are any issues.
  </p>

  {% embed 'cart/cart.twig' with { cart: sale } %}
  {% endembed %}
{% endblock %}

{% block script %}
  {% autoescape 'js' %}
    {% if report_sale %}
      <script>
        scat.ecommerce('Order Completed', {
          checkout_id: '{{ sale.id }}',
          order_id: '{{ sale.uuid }}',
          subtotal: '{{ sale.subtotal }}',
          shipping: '{{ sale.shipping }}',
          tax: '{{ sale.tax }}',
          total: '{{ sale.total }}',
          currency: 'USD',
          products: [
            {% for line in sale.items.find_many() %}
              {% set item= line.item %}
              {
                product_id: '{{ line.code }}',
                name: '{{ line.name }}',
                category: '{{ item.category }}',
                brand: '{{ item.brand_name }}',
                price: '{{ line.sale_price }}',
                currency: 'usd',
                quantity: '{{ line.quantity }}',
              },
            {% endfor %}
          ]
        })
      </script>
    {% endif %}

    {% if config('google.merchant_center_id') and sale.eta %}
      <script src="https://apis.google.com/js/platform.js?onload=renderOptIn" async defer></script>
      <script>
        window.renderOptIn = function() {
          window.gapi.load('surveyoptin', function() {
            window.gapi.surveyoptin.render(
              {
                "merchant_id": {{ config('google.merchant_center_id') }},
                "order_id": "{{ sale.uuid }}",
                "email": "{{ sale.email }}",
                "delivery_country": "US",
                "estimated_delivery_date": "{{ sale.eta|date('Y-m-d') }}",

                // OPTIONAL FIELDS
                "products": [
                  {% for line in sale.items.find_many %}
                    { "gtin" : "{{ line.item.barcode }}" },
                  {% endfor %}
                ]
              });
          });
        }
      </script>
    {% endif %}
  {% endautoescape %}
{% endblock %}
