{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  {{ txn.friendly_type }} {{ txn.formatted_number }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-9">
      {{ block('search') }}
      <br>
      <div id="search-results"></div>
      <div data-reload="invoice">
        {{ block('invoice') }}
      </div>
    </div>
    <div data-reload="sidebar" id="sidebar" class="col-md-3">
      {{ block('sidebar') }}
    </div>
  </div>
{% endblock %}

{% block search %}
  <form class="form form-inline" data-action="search">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-fw fa-barcode"></i></span>
      <input type="hidden" name="scope" value="items">
      <input type="text" class="form-control autofocus"
             name="q"
             autocomplete="off" autocorrect="off" autocapitalize="off"
             spellcheck="false"
             placeholder="Scan item or enter search terms"
             value="" size="200">
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" value="Find Items">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle"
                  data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            Custom <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a data-action="add-item-by-code" data-code="ZZ-GIFT">
                Gift Card
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a data-action="add-item-by-code" data-code="ZZ-FLOAT">
                Floater Frame
              </a>
            </li>
            <li>
              <a data-action="add-item-by-code" data-code="ZZ-CANVAS">
                Canvas
              </a>
            </li>
            <li>
              <a data-action="add-item-by-code" data-code="ZZ-PANEL">
                Panel
              </a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </form>
{% endblock %}

{% block invoice %}
  {% import 'macros.twig' as scat %}
  <div class="panel panel-default">
    <style>
      #txn th:last-child, #txn td:last-child {
        padding-right: 1rem;
      }
    </style>
    <table id="txn" class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Qty</th>
          <th>Code</th>
          <th width="50%">Name</th>
          <th style="text-align: right">Price</th>
          <th style="text-align: right">Ext</th>
        </tr>
      </thead>
      <tbody>
        {% for line in txn.items.find_many %}
          <tr data-id="{{ line.id }}">
            <td>
              {% if not line.kit_id %}
                <a data-action="remove-item" class="btn btn-link btn-xs">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              {% endif %}
            </td>
            <td>{{ (txn.type == 'vendor' ? 1 : -1) * line.ordered }}</td>
            <td>
              <a data-action="show-item-info" data-code="{{ line.code }}">
                {{ line.code }}
              </a>
            </td>
            <td>
              {{ line.name }}<br>
              <small>{{ line.pricing_detail }}</small>
            </td>
            <td style="text-align: right" data-action="edit-price">
              {% if not line.kit_id %}
                {{ scat.amount(line.sale_price) }}
              {% endif %}
            </td>
            <td style="text-align: right">
              {% if not line.kit_id %}
                {{ scat.amount((txn.type == 'vendor' ? 1 : -1) * line.ext_price) }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5" style="text-align: right">
            Subtotal:
          </th>
          <td style="text-align: right">{{ scat.amount(txn.subtotal) }}</td>
        </tr>
        <tr>
          <th colspan="5" style="text-align: right">
            Tax:
          </th>
          <td style="text-align: right">{{ scat.amount(txn.tax) }}</td>
        </tr>
        <tr>
          <th colspan="5" style="text-align: right">
            Total:
          </th>
          <td style="text-align: right">{{ scat.amount(txn.total) }}</td>
        </tr>
        {% for payment in txn.payments.find_many %}
          <tr>
            <th colspan="5" style="text-align: right">
              {{ payment.pretty_method }}:
            </th>
            <td style="text-align: right">
              {{ scat.amount(-1 * payment.amount) }}
            </td>
          </tr>
        {% endfor %}
        <tr>
          <th colspan="5" style="text-align: right">
            Due:
          </th>
          <td style="text-align: right">{{ scat.amount(txn.due) }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
{% endblock %}

{% block sidebar %}
  {% import 'macros.twig' as scat %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="/?id={{ txn.id }}" class="btn btn-link btn-sm pull-right">
        <i class="fa fa-life-ring"></i>
      </a>
      <h1 class="panel-title">
        {{ block('title') }}
        {% if txn.online_sale_id %}
          ({{ "%07d"|format(txn.online_sale_id) }})
        {% endif %}
      </h1>
      <small data-toggle="tooltip" title="{{ (txn.filled ? ('Filled: ' ~ txn.filled|date("F j Y g:ia"))) ~ "\n" ~ (txn.paid ? ('Paid: ' ~ txn.paid|date("F j Y g:ia"))) }}">
        {{ txn.created|date("l, F j Y g:ia") }}
      </small>
    </div>
    <div class="panel-body">
      <div class="btn-group btn-block">
        <button type="button"
                class="btn btn-default btn-block dropdown-toggle"
                data-toggle="dropdown" aria-expanded="false">
          {{ scat.format_txn_status(txn.status) }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            {% set options= ['new','filled','paid','processing','waitingforitems','readyforpickup','shipping','shipped','complete','template'] %}
            {% for opt in options %}
              <a data-action="set-status" data-status="{{ opt }}">
                {{ scat.format_txn_status(opt) }}
              </a>
            {% endfor %}
          </li>
        </ul>
      </div>
      <div class="well">
        <h1 class="text-center {{ txn.due < 0 ? 'text-danger' }}"
            style="margin: 0px; padding: 0px">
          {{ scat.amount(txn.due) }}
        </h1>
        {% if 0 and txn.change %}
          <h4 class="text-center text-success"
              style="margin: 0px; padding: 0px">
            Change: {{ scat.amount(txn.change) }}
          </h4>
        {% endif %}
      </div>

      <div class="text-center">
        <div class="btn-group btn-group-lg">
         <button type="button" class="btn btn-default">
          <u>P</u>rint
         </button>
         <button type="button" class="btn btn-default dropdown-toggle" 
                 data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
         </button>
         <ul class="dropdown-menu" role="menu">
          <li><a data-action="print-invoice">Invoice</a></li>
          <li><a data-action="print-receipt">Receipt</a></li>
          <li>
            <a data-action="print-receipt" data-variation="gift">
              Gift Receipt
            </a>
          </li>
          <li>
            <a data-action="print-invoice" data-variation="packing-slip">
              Packing Slip
            </a>
          </li>
          <li>
            <a data-action="print-invoice" data-variation="download">
              Download
            </a>
          </li>
          <li>
            <a data-action="email-invoice">
              Email
            </a>
          </li>
         </ul>
        </div>

        <button class="btn btn-lg btn-default">
          Pa<u>y</u>
        </button>
      </div>

      {% if txn.returned_from_id %}
        <h4>Returned From</h4>
        <ul class="list-group">
          <a class="list-group-item" href="/sale/{{ txn.returned_from_id }}">
            {{ txn.returned_from.friendly_type }}
            {{ txn.returned_from.formatted_number }}
          </a>
        </ul>

        {% if txn.status in [ 'paid', 'complete' ] %}
          <a data-action="send-canned-message" data-message="refunded"
              class="btn btn-block btn-primary">
            <i class="fa fa-envelope-o"></i>
            Refund Processed
          </a>
        {% endif %}

      {% endif %}

      {% set returns= txn.returns.find_many() %}
      {% if returns|length %}
        <h4>Returns</h4>
        <ul class="list-group">
          {% for return in returns %}
            <a class="list-group-item" href="/sale/{{ return.id }}">
              {{ return.friendly_type ~ " " ~ return.formatted_number }}
            </a>
          {% endfor %}
        </ul>
      {% endif %}


      <h3>
        <a data-action="change-person"
           class="btn btn-default btn-sm pull-right">
          <i class="fa fa-user-o"></i>
        </a>
        {{ txn.type == 'customer' ? 'Customer' : 'Vendor' }}
      </h3>

      <a data-action="edit-person" data-id="{{ txn.person_id }}">
        {{ txn.person.friendly_name ?: 'Anonymous' }}
      </a>

      {% set person= txn.person %}

      {% if person.id %}
        <div>{{ person.email }}</div>
        <div>{{ person.pretty_phone }}</div>
        <a data-action="show-loyalty">
          <i class="fa fa-star"></i>
          {{ person.points_available }}
        </a>
        {% if person.points_pending %}
          + <i class="fa fa-star"></i> {{ person.points_pending }}
          = {{ person.points_available + person.points_pending }}
        {% endif %}
        {% if txn.due > 0 %}
          {# subtract points being used #}
          {% if not txn.no_rewards %}
            + <i class="fa fa-star"></i> {{ txn.points_earned }}
            = {{ person.points_available + person.points_pending + txn.points_earned }}
          {% endif %}
        {% endif %}
      {% endif %}

      <div class="clearfix"></div>

      <h3>
        <div class="btn-group pull-right">
         <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                 data-toggle="dropdown" aria-expanded="false">
          <i class="fa fa-truck"></i>
          <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" role="menu">
          <li>
            <a data-action="edit-shipping-address">
              {{ txn.shipping_address_id > 1 ? 'Edit' : 'Add' }}
              Shipping Address
            </a>
            {% if txn.shipping_address_id != 1 %}
              <a data-action="set-in-store-pickup">
                Set for In-Store Pickup
              </a>
            {% endif %}
            <a data-action="create-dropship">Create Drop Shipment</a>
            <a data-action="create-shipment">Create Shipment</a>
            <a data-action="add-tracker">Add Tracker</a>
          </li>
         </ul>
        </div>

        Shipping
      </h3>

      {% if txn.shipping_address_id == 1 %}
        <h4>Curbside Pickup</h4>
      {% elseif txn.shipping_address_id %}
        <h4>{{ txn.is_bike_delivery ? 'Deliver to' : 'Ship to' }}:</h4>
        {% set shipping_address= txn.shipping_address() %}
        <div>{{ shipping_address.name }}</div>
        <div>{{ shipping_address.company }}</div>
        <div>{{ shipping_address.email }}</div>
        {% if shipping_address.phone %}
          <div>{{ shipping_address.phone | phone_number_format }}</div>
        {% endif %}
        <div>{{ shipping_address.street1 }}</div>
        <div>{{ shipping_address.street2 }}</div>
        <div>
          {% if shipping_address.city %}
            {{ shipping_address.city }},
          {% endif %}
          {{ shipping_address.state }}
          {{ shipping_address.zip }}
        </div>
      {% endif %}

      {% if txn.status in [ 'paid' ] %}
        <a data-action="print-packing-slip-and-process"
            class="btn btn-block btn-success">
          <i class="fa fa-print"></i>
          Print Packing Slip
        </a>
      {% endif %}

      {% if txn.status in [ 'readyforpickup' ] %}
        <a data-action="send-canned-message" data-message="pickup-reminder"
            class="btn btn-block btn-info">
          <i class="fa fa-envelope-o"></i>
          Pickup Reminder
        </a>
      {% endif %}

      {% if txn.status in [ 'paid', 'processing', 'waitingforitems' ] %}
        {% if txn.shipping_address_id > 1 %}
          <a data-action="create-shipment"
              class="btn btn-block btn-primary">
            <i class="fa fa-truck"></i>
            Create Shipment
          </a>
        {% endif %}

        {% if txn.shipping_address_id == 1 %}
          <a data-action="send-canned-message" data-message="pickup"
              class="btn btn-block btn-primary">
            <i class="fa fa-envelope-o"></i>
            Ready for Pickup
          </a>
        {% endif %}

        {% if txn.shipping_address_id == 1 %}
          <a data-action="send-canned-message" data-message="pickupmost"
              class="btn btn-block btn-warning">
            <i class="fa fa-envelope-o"></i>
            Ready for Pickup (Most)
          </a>
        {% endif %}
      {% endif %}

      {% if txn.status in [ 'paid', 'processing', 'waitingforitems', 'readyforpickup' ] and txn.shipping_address_id == 1 %}
        <a data-action="set-status" data-status="complete"
            class="btn btn-block btn-primary">
          <i class="fa fa-check-square-o"></i>
          Complete
        </a>
      {% endif %}

      {% for shipment in txn.shipments.find_many() %}
        <h4>Shipments</h4>
        <ul class="list-group">
          <a class="list-group-item"
             data-action="shipment-action" data-id="{{ shipment.id }}">
            {{ shipment.created|date("l, F j") }}
            {{ shipment.status }}
          </a>
        </ul>
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    $('[data-toggle="tooltip"]').tooltip();

    let findAndAddItem= (form) => {
      let formData= new FormData(form)
      let q= form.elements['q']

      // clear error
      q.parentNode.classList.remove('has-error');

      // focus and select so more typing will overwrite the query
      q.focus()
      q.select()

      return scat.get('/catalog/search', formData, {
        headers: { 'Accept': 'application/json' }
      })
      .then((res) => res.json())
      .then((data) => {
        if (data.items.length == 0) {
          // No items? Highlight the search field and add a note
          form.elements['q'].parentNode.classList.add('has-error');
          let msg=
            document.getElementById('item-not-found').content.cloneNode(true);
          msg.querySelector('.message').innerText=
            "Didn't find anything for '" + formData.get('q') + "'.";
          document.getElementById('search-results').append(msg)
        } else if (data.items.length > 1) {
          // Multiple items? Show the choices
          let msg=
            document.getElementById('multiple-items').content.cloneNode(true);
          let tbody= msg.querySelector('tbody');
          let row= tbody.removeChild(tbody.children[0]);

          data.items.forEach((item) => {
            row.setAttribute('data-id', item.id);
            if (item.stock > 0) {
              row.classList.add('stocked')
            } else {
              row.classList.remove('stocked')
            }
            row.children[0].innerText= item.name
            row.children[1].innerText= item.brand_name ? item.brand_name : ''
            row.children[2].innerText= scat.amount(item.retail_price)
            row.children[2].style.innerTextDecorationLine=
              (item.sale_price ? 'line-through' : 'inherit')
            row.children[3].innerText= scat.amount(item.sale_price)
            tbody.append(row.cloneNode(true))
          })

          document.getElementById('search-results').append(msg)
        } else {
          return addItemById(data.items[0].id)
        }
      })
    }

    let addItemById= (item_id) => {
      return scat.post('/sale/{{ txn.id }}/item', { item_id: item_id })
        .then((res) => res.json())
        .then((data) => {
          scat.reload('invoice','sidebar')
          // set active row to data.id
        })
    }

    scat.handleAction('click', 'add-item', (act) => {
      let item_id= act.closest('[data-id]').getAttribute('data-id')

      return addItemById(item_id).then((res) => {
        let choices= act.closest('.choices')
        if (choices) choices.parentElement.removeChild(choices)
      })
    })

    scat.handleAction('click', 'remove-item', (act) => {
      let line_id= act.closest('[data-id]').getAttribute('data-id')

      return scat.delete('/sale/{{ txn.id }}/item/' + line_id)
        .then((res) => {
          scat.reload('invoice', 'sidebar') // XXX reload less of sidebar?
        })
    })

    scat.handleAction('click', 'set-status', (act) => {
      let status= act.closest('[data-status]').getAttribute('data-status')
      return scat.patch("/sale/{{ txn.id}}", { status: status })
        .then((res) => {
          scat.reload('sidebar')
        })
    })

    scat.handleAction('click', 'print-invoice', (act) => {
      let data= act.closest('[data-variation]')
      let variation= data ? data.getAttribute('data-variation') : undefined
      scat.print( '/sale/{{ txn.id }}/~print-invoice', { variation: variation })
      return Promise.resolve()
    })

    scat.handleAction('click', 'print-packing-slip-and-process', (act) => {
      scat.print(
        '/sale/{{ txn.id }}/~print-invoice',
        {
          variation: 'packing-slip'
        }
      )
      return scat.patch("/sale/{{ txn.id }}", { status: 'processing' })
        .then((res) => {
          scat.reload('sidebar')
        })
    })

    scat.handleAction('click', 'send-canned-message', (act) => {
      var message= act.closest('[data-message]').getAttribute('data-message')
      return scat.dialog(
        '/sale/{{ txn.id }}/email-invoice-form',
        { canned: message }
      )
    })

    scat.handleAction('click', 'create-shipment', (act) => {
      return scat.dialog('/sale/{{ txn.id }}/shipment')
    })

    let changePerson= () => {
      return scat.dialog('/person/search').then((res) => {
        if (res > 0) {
          return scat.patch("/sale/{{ txn.id}}", { person_id: res })
            .then((res) => {
              scat.reload('sidebar')
            })
        }
      })
    }

    scat.handleAction('click', 'change-person', (act) => {
      return changePerson()
    })

    scat.handleAction('click', 'edit-person', (act) => {
      var id= act.closest('[data-id]').getAttribute('data-id')
      if (id) {
        return scat.dialog('/person/' + id)
      } else {
        return changePerson()
      }
    })

    scat.handleQueuedAction('submit', 'search', findAndAddItem)

    scat.handleAction('click', 'show-item-info', (act) => {
      var code= act.closest('[data-code]').getAttribute('data-code')
      return scat.get('/catalog/item/' + code, null, {
        headers: { 'Accept': 'application/json' },
      })
      .then((res) => res.json())
      .then((item) => {
        $(act).popover({
          title: item.name,
          content: "<b>Stock:</b> " + item.stock +
                   "<div class='pull-right'><a href='/catalog/item/" + item.code + "' target='_blank' class='btn btn-default btn-xs'>Details</a></div>",
          html: true
        })
        .popover('show')
        .on('shown.bs.popover', (ev) => {
          let target= ev.target
          let id= ev.target.getAttribute('aria-describedby')
          let popover= document.getElementById(id)
          target.dismisser= (ev) => {
            if (!popover.contains(ev.target)) {
              ev.stopPropagation(); ev.preventDefault();
              (($(target).popover('hide').data('bs.popover')||{}).inState||{}).click= false;
            }
          }
          document.addEventListener('click', target.dismisser, true)
        })
        .on('hide.bs.popover', (ev) => {
          if (ev.target.dismisser)
            document.removeEventListener('click', ev.target.dismisser, true)
            ev.target.dismisser= null
        })
      })
    })
  </script>

  <template id="item-not-found">
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <span class="message"></span>
    </div>
  </template>

  <style>
    #sidebar h3 {
      margin-top: 1em;
      color: rgb(0,0,0,0.3);
      border-bottom: 1px solid rgb(0,0,0,0.1);
    }

    .choices {
      max-height: 300px;
      overflow: scroll;
      position: relative;
    }

    .choices tr.stocked {
      color: #339;
    }

    .choices tr {
      cursor:pointer;
    }
    .choices tr:hover {
      text-decoration: underline;
    }

    .choices .close {
      position: sticky;
    }
  </style>

  <template id="multiple-items">
    <div class="choices alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <table class="table table-condensed">
        <tbody>
          <tr data-action="add-item">
            <td><!-- name --></td>
            <td><!-- brand --></td>
            <td><!-- retail_price --></td>
            <td><!-- sale_price --></td>
          <tr>
        </tbody>
      </table>
    </div>
  </template>
{% endblock %}
