<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}Scat{% endblock %}
    {% if not (block('title') matches '/Scat/') %}
      @ Scat
    {% endif %}
  </title>

  <link rel="shortcut icon" href="/ui/icon.iconset/icon_16x16.png">
  <link rel="apple-touch-icon" href="/ui/icon.iconset/icon_256x256.png">
  <link rel="stylesheet" type="text/css" href="/extern/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/forkawesome/fork-awesome/css/fork-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/extern/x-editable-1.5.1/bootstrap3-editable/css/bootstrap-editable.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2/dist/css/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/extern/select2-bootstrap-theme-0.1.0-beta.10/dist/select2-bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/css/scat.css">
  <style type="text/css">
    body.page {
      padding-top: 70px;
    }
    div#notification-holder {
      position: absolute;
      top: 4em;
      right: 2em;
      width:25%;
      z-index: 2000;
    }
    @keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
    }
    div#notification-holder div.alert {
      animation: fadeIn 0.5s;
    }
    div#notification-holder .fade-out {
      opacity: 0;
      transition: 1s ease;
    }
  </style>

  <script src="/components/jquery/jquery.min.js"></script>
  <script src="/extern/bootstrap/js/bootstrap.min.js"></script>
  <script src="/extern/x-editable-1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <script>
    $.fn.editableform.buttons= '<button type="submit" class="btn btn-primary btn-submiteditable-submit btn-sm"><i class="fa fa-check"></i></button><button type="button" class="btn btn-default btn-sm editable-cancel"><i class="fa fa-ban"></i></button>'
    $.fn.editable.defaults.emptytext= '&nbsp; '.repeat(20);
  </script>
  <script src="/vendor/select2/select2/dist/js/select2.min.js"></script>
  <script>
    $.fn.select2.defaults.set("theme", "bootstrap");
  </script>
  <script src="/js/scat.main.js"></script>
  <script src="/js/polyfills.js"></script>

  {% block extra_head %}
  {% endblock %}
  {% if DEBUG %}
    <style>
      .navbar {
        background: #fcc;
      }
      .navbar-default .navbar-nav>.active>a,
      .navbar-default .navbar-nav>.active>a:hover {
        background: #caa;
      }
    </style>
  {% endif %}
</head>

<body class="page">

<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-barcode"></i>
        Scat
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{ current_url() starts with '/catalog' ? 'active' }}">
          <a href="/catalog">
            Catalog
          </a>
        </li>
        <li class="{{ current_url() starts with '/person' ? 'active' }}">
          <a href="/person">
            People
          </a>
        </li>
        <li class="{{ current_url() starts with '/sale' ? 'active' }}">
          <a href="/sale">
            Sales
          </a>
        </li>
        <li class="{{ current_url() starts with '/purchase' ? 'active' }}">
          <a href="/purchase">
            Purchases
          </a>
        </li>
        <li class="{{ current_url() starts with '/gift-card' ? 'active' }}">
          <a href="/gift-card">
            Gift Cards
          </a>
        </li>
        <li class="{{ current_url() starts with '/clock' ? 'active' }}">
          <a href="/clock">
            Clock
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/report/summary">
                Summary
              </a>
            </li>
            <li>
              <a href="/report/brand">
                Brand
              </a>
            </li>
            <li>
              <a href="/report/daily">
                Cashflow
              </a>
            </li>
            <li>
              <a href="/report/category">
                Category
              </a>
            </li>
            <li>
              <a href="/report/dogs">
                Dogs
              </a>
            </li>
            <li>
              <a href="/report/empty-products">
                Empty Products
              </a>
            </li>
            <li>
              <a href="/report/items">
                Items
              </a>
            </li>
            <li>
              <a href="/report/sales">
                Sales
              </a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Money</li>
            <li>
              <a href="/till">
                Till
              </a>
            </li>
            <li>
              <a href="/quickbooks">
                QuickBooks
              </a>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
              <a href="/settings">
                Settings
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a onclick="scat.dialog(this, '/note')">
            <i class="fa fa-sticky-note-o"></i>
            <span class="badge">{{ notes()|length }}</span>
          </a>
        </li>
        <li>
          <a onclick="scat.dialog(this, '/report/quick')">
            <i class="fa fa-line-chart"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<div id="scat-page" class="container">
  {% block content %}{% endblock %}
</div>

<footer id="page-footer">
 <span id="status">{% block status "" %}</span>
 <span class="pull-right">Scat &copy; 2010-2020 Jim Winstead Jr.</span>
</footer>

<div id="notification-holder"></div>

{% block script %}{% endblock %}

</body>
</html>
