{% extends 'layout/print.html' %}
{% import 'macros.twig' as scat %}
{% import _self as s %}

{% block title %}
  {{ txn.type == 'vendor' ? 'PO' : 'Invoice' }}
  {{ txn.formatted_number }}
{% endblock %}

{% block extra_head %}
<link href="/print/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="doc_header">
  <a href="https://rawmaterialsla.com/">
    <img src="/ui/logo.svg" width="100%" alt="Raw Materials Art Supplies">
  </a>
  <div id="doc_info">
    <span id="doc_name">{{ block('title') }}</span><br>
    <b>Created: {{ txn.created|date('F j, Y g:i A') }}<br>
    {% if txn.paid %}
      <b>Paid: {{ txn.paid|date('F j, Y g:i A') }}<br>
    {% endif %}
  </div>
  <div id="store_info">
    <small>{{ txn.type == 'vendor' ? 'Ship To' : 'From' }}:</small><br>
    {% if txn.type == 'vendor' and txn.shipping_address_id > 1 %}
      {% set addr= txn.shipping_address %}
      <b>
        {{ addr.company }}
        {% if addr.company and addr.name %}<br>{% endif %}
        {{ addr.name }}<br>
      </b>
      {{ addr.street1 }}<br>
      {% if addr.street2 %} {{ addr.street2 }}<br>{% endif %}
      {{ addr.city }}, {{ addr.state }}
      {{ addr.zip }}<br>
      {% if addr.phone %} {{ addr.phone|phone_number_format }}<br>{% endif %}
    {% else %}
      <b>Raw Materials Art Supplies</b><br>
      645 South Los Angeles Street<br>
      Los Angeles, CA 90014<br>
      (800) 729-7060<br>
      info@RawMaterialsLA.com<br>
      http://RawMaterialsLA.com/
    {% endif %}
  </div>
  <div id="client_info">
  {% if txn.person_id %}
    <small>{{ txn.type == 'vendor' ? 'From' : 'To' }}:</small><br>
    {% set person= txn.person %}
    <b>
      {{ person.company }}
      {% if person.company and person.name %}<br>{% endif %}
      {{ person.name }}
    </b><br>
    {% if person.phone %}
      {{ person.phone|phone_number_format }}<br>
    {% endif %}
    {% if person.email %}
      {{ person.email }}<br>
    {% endif %}
    {% if txn.type == 'customer' and txn.shipping_address_id > 1 %}
      <br>
      {% set addr= txn.shipping_address %}
      <b>
        {{ addr.company }}
        {% if addr.company and addr.name %}<br>{% endif %}
        {{ addr.name }}<br>
      </b>
      {{ addr.street1 }}<br>
      {% if addr.street2 %} {{ addr.street2 }}<br>{% endif %}
      {{ addr.city }}, {{ addr.state }}
      {{ addr.zip }}<br>
      {% if addr.phone %} {{ addr.phone|phone_number_format }}<br>{% endif %}
    {% elseif txn.type == 'vendor' and txn.shipping_address_id == 1 %}
      <br><b>CURBSIDE PICKUP</b>
    {% endif %}
  {% endif %}
  {% for note in txn.notes.find_many %}
    {% if note.content starts with 'PO ' %}
      {{ note.content }}
    {% endif %}
  {% endfor %}
  </div>
  <div style="clear:both;"></div>
</div>
<table id="products" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th class="right">#</th>
      {% if txn.type == 'vendor' %}
        <th class="left">SKU</th>
      {% endif %}
      <th class="left">Code</th>
      <th class="left">Name</th>
      {% if variation != 'packing-slip' %}
        <th class="right">Price</th>
        <th class="right">Total</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for line in txn.items.find_many() %}
    {% set item= line.item() %}
    {% if variation != 'packing-slip' or not (item.code starts with 'ZZ-SHIP') %}
      <tr valign="top">
        <td class="right">{{ line.ordered * (txn.type == 'customer' ? -1 : 1) }}</td>
        {% if txn.type == 'vendor' %}
          <td class="left" nowrap>{{ line.vendor_sku }}</td>
        {% endif %}
        <td class="left" nowrap>
          {{ item.purchase_quantity ? item.code }}
        </td>
        <td class="left">
          {{ line.name }}
          {% if variation != 'packing-slip' and line.discount %}
            <br><small>{{ line.pricing_detail }}</small>
          {% endif %}
        </td>
        {% if variation != 'packing-slip' %}
          <td class="right">{{ scat.amount(line.sale_price) }}</td>
          <td class="right">{{ scat.amount(line.sale_price * line.ordered * (txn.type == 'customer' ? -1 : 1)) }}</td>
        {% endif %}
      </tr>
    {% endif %}
  {% endfor %}
  {% set span= txn.type == 'vendor' ? 5 : 4 %}
  {% if variation != 'packing-slip' %}
    <tr class="sub">
      <td class="right" colspan="{{ span }}">Subtotal:</td>
      <td class="price">{{ scat.amount(txn.subtotal) }}</td>
    </tr>
    <tr>
      <td class="right" colspan="{{ span }}">
        Sales Tax {% if txn.tax_rate %}({{ txn.tax_rate }}%){% endif %}:
      </td>
      <td class="price">{{ scat.amount(txn.total - txn.subtotal) }}</td>
    </tr>
    <tr class="total">
      <td class="right" colspan="{{ span }}">Total:</td>
      <td class="price">{{ scat.amount(txn.total) }}</td>
    </tr>
    {% set payments= txn.payments.find_many() %}
    {% for p in payments %}
      <tr>
        <td class="right" colspan="{{ span }}">
          {{ p.pretty_method }} ({{ p.processed}}):
        </td>
        <td class="price">{{ scat.amount(p.amount) }}</td>
      </tr>
    {% endfor %}
    {% if payments %}
      <tr class="total">
        <td class="right" colspan="{{ span }}">Total Due:</td>
        <td class="price">{{ scat.amount(txn.total - txn.total_paid) }}</td>
      </tr>
    {% endif %}
  {% endif %}
</table>

{% for note in txn.notes.find_many %}
  {% if note.public %}
    <p>
      {{ note.content }}
      <small>({{ note.added }})</small>
    </p>
  {% endif %}
{% endfor %}

<div id="store_footer">
  {% if txn.type != 'vendor' %}
    Items purchased from stock may be returned in original condition and
    packaging within 30 days with receipt. All easels are subject to a 50%
    restocking fee. No returns without original receipt.
  {% endif %}
</div>

{% endblock %}

{% block page_footer %}
  <barcode code="@INV-{{ txn.id }}" type="C128B" class="barcode" />
{% endblock %}
