body {
 padding-bottom: 28px;
}

footer {
  width: 98%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  color: #666;
  background: #ddd;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 4px 16px;
}
footer #time {
  float: right;
}

/* prettier tables */
td.num {
  vertical-align:middle;
  font:small-caps bold x-small sans-serif;
  text-align: center;
}
td.dollar, td.right, td.bool {
  text-align: center;
}
td.percent:after {
  content: '%';
}

#simplemodal-overlay { 
  background-color:#000;
}
#simplemodal-container {
  background: #CEB996;
  -webkit-box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.simplemodal-data {
  padding: 12px;
}
