{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title -%}
  Internal Ads @ Raw Materials Art Supplies
{%- endblock %}

{% block content %}
  <h1 class="page_title">Internal Ads</h1>

  <h2>Hero Ads</h2>

  <div style="white-space: nowrap">
    {% for ad in heros %}
      <div style="width: 75vw; white-space: normal; display: inline-block; margin-right: 2em">
        {{ include('ad.twig') }}
      </div>
    {% endfor %}
  </div>

  <h2>Basic Ads</h2>

  <div style="white-space: nowrap">
    {% for ad in basics %}
      <div style="width: 25vw; white-space: normal; display: inline-block; margin-right: 2em">
        {{ include('ad.twig') }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
