{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Account @ Raw Materials Art Supplies
{% endblock %}

{% block content %}
  <h1 class="page-header">
    Welcome back!
    <small>
      (<a href="{{ url_for('logout') }}">log out</a>)
    </small>
  </h1>

  {% if success == 'login' %}
    <div class="alert alert-success">
      <b>Success!</b> You have been logged in to your account successfully.
    </div>
    {% autoescape 'js' %}
      <script>
        if (window.analytics) {
          window.analytics.identify('{{ person.id }}', {
            name: '{{ person.name }}',
            email: '{{ person.email }}',
            phone: '{{ person.phone }}',
            createdAt: '{{ person.created|date("c") }}',
          })
        }
      </script>
    {% endautoescape %}
  {% endif %}

  <dl>
    <dt>Name
    <dd>{{ person.name }}

    <dt>Company
    <dd>{{ person.company }}

    <dt>Email
    <dd>{{ person.email }}

    <dt>Phone
    <dd>{{ person.pretty_phone }}
  </dl>

  {% if person.subscriptions|length > 0 %}
    <p><b>Congratulations!</b> You are subscribed to our newsletter.</p>
  {% elseif newsletter %}
    <p>
      <b>Check your email!</b> We've sent a confirmation message with a link
      you'll need to click to complete your newsletter signup. Thanks!
    </p>
  {% else %}
    <p>
      <b>Oh no, it looks like you're not signed up for our newsletter!</b>
      That means you may be missing out on the newest deals and new arrivals.
      Just mash the button below to fix this. (Don't worry, you can
      unsubscribe at any time.)
    </p>
    <form method="post" action="/account/signup-for-newsletter">
      <button type="submit" class="button">
        Sign me up!
      </button>
    </form>
  {% endif %}

  {% if person.tax_exemption_certificate_id %}
    <p>We have a tax exemption certificate on file for this account. You can
    apply it during checkout.</p>
  {% endif %}

  {% if wishlist %}
    <h2>Wishlist</h2>

    <a class="button" href="/wishlist">
      View Wishlist
    </a>
  {% endif %}

  <h2>Cart</h2>

  <a class="button" href="/cart">
    Resume Shopping
  </a>

  {% if orders|length %}
    <h2>Orders</h2>

    <table class="order-list">
      <thead>
        <tr>
          <th>#</th>
          <th>Invoice</th>
          <th>Created</th>
          <th>Status</th>
          <th>Items</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
          <tr>
            <td>{{ loop.index + page * limit }}</td>
            <td>
              <a href="sale/{{ order.uuid ?: order.id }}">
                {{ order.formatted_number }}
              </a>
            </td>
            <td>{{ order.created }}</td>
            <td>{{ scat.format_txn_status(order.status) }}</td>
            <td>{{ order.items|length }}</td>
            <td>{{ scat.amount(order.total) }}</td>
            <td>
              {% for shipment in order.shipments %}
                {% if shipment.status != 'pending' %}
                  <a class="button small"
                    href="sale/{{ order.uuid }}/shipment/{{ shipment.id }}/track">
                    {{ bootstrap_icon('truck') }}
                    <span class="label">Track</span>
                  </a>
                {% endif %}
              {% endfor %}
              <a class="button small" href="sale/{{ order.uuid ?: order.id }}">
                {{ bootstrap_icon('receipt') }}
                <span class="label">View</span>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <td colspan="7">
          <div class="pager">
            {% if page > 0 %}
              <a class="button small" href="/account?page={{ page - 1 }}">
                {{ bootstrap_icon('arrow-left') }}
                <span class="label">Previous</span>
              </a>
            {% else %}
              <span></span>
            {% endif %}
            Showing {{ 1 + (page * limit) }} to {{ min(page * limit + limit, orders[0].records) }} of {{ orders[0].records }}
            {% if page * limit + limit < orders[0].records %}
              <a class="button small" href="/account?page={{ page + 1 }}">
                {{ bootstrap_icon('arrow-right') }}
                <span class="label">Next</span>
              </a>
            {% else %}
              <span></span>
            {% endif %}
          </div>
        </td>
      </tfoot>
    </table>
  {% endif %}

  <style>
    table.order-list {
      empty-cells: show;
      border-collapse: collapse;
      width: 100%;
      margin: 2em 0;
      text-overflow: ellipsis;
    }
    .order-list thead {
      border-bottom: var(--border-width) solid #ddd;
    }
    .order-list td, .order-list th {
      padding: 0.5rem;
      vertical-align: top;
    }
    .order-list th {
      text-align: left;
    }
    table.order-list tbody tr:nth-child(odd) {
      background: #f9f9f9;
    }
    table.order-list tbody tr {
      border-bottom: calc(var(--border-width) / 2) solid #ddd;
    }
    table.order-list tfoot tr {
      border-top: var(--border-width) solid #ddd;
      background: #f9f9f9;
    }
    table.order-list .pager {
      display: grid;
      place-content: center;
      text-align: center;
      grid-template-columns: auto 1fr auto;
      grid-column-gap: 0.25em;
    }
  </style>

{% endblock %}
