{% extends 'layout/page.html' %}
  
{% block title %}
  Reorder
{% endblock %}

{% block content %}

  <form class="form-inline">
    <div class="pull-right">
      <button type="button" class="btn btn-default" id="zero">
        Zero
      </button>
      <button type="button" class="btn btn-default" id="optimize">
        Optimize
      </button>
    </div>
    <h2>
      <a tabindex="0" data-toggle="popover" data-placement="bottom" data-trigger="focus" title="Notes" data-content="{{ person.notes }}">{{ person.friendly_name }}</a>
    </h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th width="3%" class="num">#</th>
          <th>Code</th>
          <th>Name</th>
          <th width="5%" class="text-center">Stock</th>
          <th width="5%" class="text-center">Min</th>
          <th width="5%" class="text-center">Last 3</th>
          <th width="5%" class="text-center">MOQ</th>
          <th width="5%" class="text-center">Best?</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for item in items %}
          <tr>
            <td class="num">{{ loop.index }}</td>
            <td>
              {% if vendor_id in [ 7, 3757 ] %}
                <button type="button" class="btn btn-default btn-xs"
                      data-id="{{ item.vendor_item_id }}"
                      data-action="check-vendor-stock">
                  <i class="fa fa-search"></i>
                </button>
              {% endif %}
              <a href="{{ url_for('catalog-item', { 'code' : item.code }) }}">
                {{- item.vendor_code ?: item.code -}}
              </a>
            </td>
            <td>{{ item.name }}</td>
            <td align="center">{{ item.stock }}</td>
            <td align="center">{{ item.minimum_quantity }}</td>
            <td align="center">{{ item.last3months }}</td>
            <td align="center">{{ item.minimum_order_quantity }}</td>
            <td align="center">
              {% if item.cheapest is null %}
                <i class="fa fa-check-square-o text-success"></i>
              {% else %}
                <i class="fa {{ item.cheapest < 0 ? 'fa-check-square-o' :
                                 (item.cheapest == 0 ? 'fa-minus-square-o' :
                                   'fa-square-o') }}"></i>
              {% endif %}
            </td>
            <td>
              <div class="input-group input-group-sm">
                <input class="form-control text-center"
                       type="text" size="4" name="item[{{ item.id }}]"
                       data-moq="{{ item.minimum_order_quantity }}"
                       data-cost="{{ item.cost }}"
                       data-opt="{{ item.cheapest <= 0 ?
                                     max(item.minimum_order_quantity,
                                         item.minimum_quantity >
                                           item.minimum_quantity - item.stock ?
                                           item.minimum_quantity :
                                           item.minimum_quantity - item.stock)
                                 }}">
                <span class="input-group-addon" style="min-width: 7em"></span>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9">
            <input type="hidden" name="vendor_id" value="{{ vendor_id }}">
            <select name="txn_id">
              <option value="">New Purchase Order</option>
              {% for order in person.open_orders %}
                <option value="{{ order.id }}">
                  {{ order.formatted_number }}
                </option>
              {% endfor %}
            </select>
            <button role="submit" class="btn btn-primary">
              Create Order
            </button>
          </td>
        </tr>
      </tfoot>
    </table>

    <script>
      const form= document.currentScript.parentNode
      const inputs= form.querySelectorAll('input[type="text"]')

      $('[data-toggle="popover"]').popover();

      const focusNextInput= (document, direction= 1) => {
	// all the elements that can be focused
	const focusableElements=
          'button:not([disabled]), ' +
          'input[type=text]:not([disabled]), ' +
          '[tabindex]:not([disabled]):not([tabindex="-1"])';

        if (document.activeElement && document.activeElement.form) {
          let elements=
            Array.prototype.filter.call(
              document.activeElement.form.querySelectorAll(focusableElements),
              (element) => {
                //check for visibility, but always include activeElement
                return element.offsetWidth > 0 ||
                       element.offsetHeight > 0 ||
                       element === document.activeElement
              }
            )

          const index= elements.indexOf(document.activeElement);
          if (index > -1) {
           let nextElement= elements[index + direction] ||
                            elements[direction < 0 ? elements.length - 1 : 0];
           nextElement.focus();
          }                    
        }
      }
      const focusPrevInput= (document) => {
        focusNextInput(document, -1)
      }

      const handleKeyDown= (ev) => {
        const val= ev.currentTarget.value ? parseInt(ev.currentTarget.value) : 0
        let handled= true

        switch (ev.key) {
        case "ArrowLeft":
          if (!ev.shiftKey && !ev.metaKey && !ev.altKey && !ev.ctrlKey) {
            ev.currentTarget.value= Math.max(0,-1 + val)
          } else {
            handled= false
          }
          break;
        case "ArrowRight":
          if (!ev.shiftKey && !ev.metaKey && !ev.altKey && !ev.ctrlKey) {
            ev.currentTarget.value= 1 + val
          } else {
            handled= false
          }
          break;
        case "ArrowUp":
          if (!ev.shiftKey && !ev.metaKey && !ev.altKey && !ev.ctrlKey) {
            focusPrevInput(document)
          } else {
            handled= false
          }
          break;
        case "ArrowDown":
          if (!ev.shiftKey && !ev.metaKey && !ev.altKey && !ev.ctrlKey) {
            focusNextInput(document)
          } else {
            handled= false
          }
          break;
        case "o":
          ev.currentTarget.value= ev.currentTarget.attributes['data-opt'].value
          focusNextInput(document)
          break;
        case "x":
          ev.currentTarget.value= '';
          focusNextInput(document)
          break;
        case " ":
        case "Enter":
          focusNextInput(document, ev.shiftKey ? -1 : 1)
          break;
        default:
          handled= false
        }
        if (handled) {
          ev.preventDefault()
          ev.stopPropagation()
          handleChange(ev.currentTarget)
        }
      }

      const updateTotal= (form) => {
        let total= 0.00
        let units= 0
        for (let input of inputs) {
          total+= input.attributes['data-cost'].value * input.value
          units+= input.value * 1
        }
        document.querySelector('#total').innerHTML=
          scat.amount(total)
        document.querySelector('#units').innerHTML= units
      }

      const handleChange= (input, doUpdateTotal= true) => {
        const val= input.attributes['data-cost'].value * input.value
        input.nextElementSibling.innerHTML= scat.amount(val)
        if (doUpdateTotal) {
          updateTotal(input.form)
        }
      }

      const handleChangeEvent= (ev) => {
        handleChange(ev.currentTarget)
      }

      const handleFocus= (ev) => {
        ev.currentTarget.closest('tr').classList.add('active')
      }
      const handleBlur= (ev) => {
        ev.currentTarget.closest('tr').classList.remove('active')
      }

      for (let input of inputs) {
        input.addEventListener('keydown', handleKeyDown)
        input.addEventListener('input', handleChangeEvent)
        // XXX performance killer on large orders
        //input.addEventListener('focus', handleFocus)
        //input.addEventListener('blur', handleBlur)
      }

      form.querySelector('#zero').addEventListener('click', (ev) => {
        for (let input of inputs) {
          input.value= 0
          handleChange(input, false)
        }
        updateTotal(inputs[0].form)
      })

      form.querySelector('#optimize').addEventListener('click', (ev) => {
        for (let input of inputs) {
          input.value= input.attributes['data-opt'].value
          handleChange(input, false)
        }
        updateTotal(inputs[0].form)
      })

      form.addEventListener('submit', (ev) => {
        ev.preventDefault()

        let formData= new FormData(form)
        let txn_id= formData.get('txn_id')

        scat.call('/purchase' + (txn_id ? '/' + txn_id : ''), formData)
        .then((res) => {
          if (res.redirected) {
            window.location.href= res.url
            return
          }
          alert("Unexpected response.")
        })
      })
    </script>
  </form>

{% endblock %}

{% block status %}
  <strong>Total: &nbsp;</strong>
  <span id="total">$0.00</span>
  (<span id="units">0</span>)
{% endblock %}

{% block script %}
  <script>
  {
    document.addEventListener('click', (ev) => {
      let act= ev.target.closest('[data-action]')
      if (act && act.getAttribute('data-action') === 'check-vendor-stock') {
        let id= ev.target.closest('[data-id]').getAttribute('data-id')
        let icon= act.querySelector('i')
        icon.classList.remove('fa-search')
        icon.classList.add('fa-spin','fa-spinner')
        return scat.get('/catalog/vendor-item/' + id + '/stock')
        .then((res) => res.json())
        .then((data) => {
          message= "";
          for (const [key, value] of Object.entries(data)) {
            message+= `${value} in ${key}` + "\n";
          }
          alert(message);
        })
        .finally(() => {
          icon.classList.remove('fa-spin','fa-spinner')
          icon.classList.add('fa-search')
        })
      }
    })
  }
  </script>
{% endblock %}
