{% extends 'catalog/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Custom
{% endblock %}

{% block catalog_content %}
  <form id="dims" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="w" class="col-sm-2 control-label">Width</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="width">
      </div>
      <div class="col-sm-2">
        <p class="form-control-static" id="w_in"></p>
      </div>
    </div>
    <div class="form-group">
      <label for="h" class="col-sm-2 control-label">Height</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="height">
      </div>
      <div class="col-sm-2">
        <p class="form-control-static" id="h_in"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Canvas</h3></div>
          <div class="panel-body">
            <div class="form-group">
              <label for="slim" class="col-sm-6 control-label">
                Slim (&frac34;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 48)
                               ? 'Too big!'
                               : scat.amount(ui * 0.90)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="thick" class="col-sm-6 control-label">
                Thick (1&frac12;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 40)
                               ? 'Too big!'
                               : scat.amount(ui * 1.25)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="chunky" class="col-sm-6 control-label">
                Chunky (1&frac12;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="scat.amount(ui * 2.50)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="epic" class="col-sm-6 control-label">
                Epic (2&frac12;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="scat.amount(ui * 3.75)"></p>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Maximum size for <b>Slim</b> canvases is 48"&nbsp;&times;&nbsp;48".
            Maximum size for <b>Thick</b> canvases is 40"&nbsp;&times;&nbsp;40".
            Maximum size for <b>Chunky</b> and <b>Epic</b> canvases is 114"&nbsp;&times;&nbsp;168".
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-4 -->
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Floater Frame</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="slim" class="col-sm-7 control-label">
                Natural Slim (&frac34;")
              </label>
              <div class="col-sm-5">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 48)
                               ? 'Too big!'
                               : scat.amount(ui * 1.25)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="slim-finished" class="col-sm-7 control-label">
                Finished Slim (&frac34;")
              </label>
              <div class="col-sm-5">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 48)
                               ? 'Too big!'
                               : scat.amount(ui * 1.90)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="thick" class="col-sm-7 control-label">
                Natural Thick (1&frac12;")
              </label>
              <div class="col-sm-5">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 48)
                               ? 'Too big!'
                               : scat.amount(ui * 1.90)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="thick-finished" class="col-sm-7 control-label">
                Finished Thick (1&frac12;")
              </label>
              <div class="col-sm-5">
                <p class="form-control-static"
                   data-calc="(Math.max(w, h) > 48)
                               ? 'Too big!'
                               : scat.amount(ui * 3.13)"></p>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Maximum size for floater frames is 36"&nbsp;&times;&nbsp;48".
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-4 -->

      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Birch Panel</h3></div>
          <div class="panel-body">
            <div class="form-group">
              <label for="uncradled" class="col-sm-6 control-label">
                Uncradled (&frac14;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="(Math.min(w, h) > 60 || (Math.max(w, h) > 60 && Math.min(w, h) > 48))
                               ? 'Too big!'
                               : scat.amount(ui * 0.75)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="thick" class="col-sm-6 control-label">
                Thick (1&frac34;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="(Math.min(w, h) > 60 || (Math.max(w, h) > 60 && Math.min(w, h) > 48))
                               ? 'Too big!'
                               : (Math.min(w, h) > 48)
                                  ? scat.amount(ui * 2.5)
                                  : scat.amount(ui * 1.9)"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="epic" class="col-sm-6 control-label">
                Epic (2&frac34;")
              </label>
              <div class="col-sm-6">
                <p class="form-control-static"
                   data-calc="(Math.min(w, h) > 60 || (Math.max(w, h) > 60 && Math.min(w, h) > 48))
                               ? 'Too big!'
                               : (Math.min(w, h) > 48)
                                  ? scat.amount(ui * 3.75)
                                  : scat.amount(ui * 2.50)"></p>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            Maximum size for panels is 48"&nbsp;&times;&nbsp;96" or 60"&nbsp;&times;&nbsp;60".
          </div>
        </div><!-- /.panel -->
      </div><!-- /.col-sm-4 -->
    </div><!-- /.row -->
  </form>
{% endblock %}

{% block script %}
  <script>
    let dims= document.querySelector('#dims')

    let recalculate= () => {
      let w= dims.elements['width'].value
      let h= dims.elements['height'].value

      // We work in imperial, so calculate that
      if (w.match(/cm/)) {
        w= (parseFloat(w) / 2.54).toFixed(3)
      }
      if (h.match(/cm/)) {
        h= (parseFloat(h) / 2.54).toFixed(3)
      }

      // Highlight fields if they aren't a number
      dims.elements['width'].closest('.form-group').classList.remove('has-error')
      dims.elements['height'].closest('.form-group').classList.remove('has-error')
      if (isNaN(Number(w))) {
        dims.elements['width'].closest('.form-group').classList.add('has-error')
      }
      if (isNaN(Number(h))) {
        dims.elements['height'].closest('.form-group').classList.add('has-error')
      }

      dims.querySelector('#w_in').innerText= Number(w) + '"'
      dims.querySelector('#h_in').innerText= Number(h) + '"'

      let ui= Number(w) + Number(h)

      // Not a number? Clear the outputs and give up
      if (w == 0 || h == 0 || isNaN(ui)) {
        dims.querySelectorAll('[data-calc]').forEach((el) => {
          el.innerText= ''
        })
        return
      }

      dims.querySelectorAll('[data-calc]').forEach((el) => {
        let calc= el.getAttribute('data-calc')
        el.innerText= eval(calc)
      })
    }

    dims.querySelectorAll('input').forEach((input) => {
      input.addEventListener('change', recalculate)
      input.addEventListener('keyup', recalculate)
    })
  </script>
{% endblock %}
