{% extends 'catalog/page.html' %}

{% block title %}
  New Products
{% endblock %}

{% block catalog_crumb %}
  <div class="row">
    <div class="col-xs-11">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('catalog') }}">Catalog</a></li>
        <li class="active">
          <a href="{{ url_for('catalog-whats-new') }}">What's New</a>
        </li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block catalog_content %}

<h1 class="title">What's New</h1>

{% if products %}
  {% include 'catalog/products.twig' %}
{% endif %}

{% endblock %}

