{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Media
{% endblock %}

{% block pager %}
  <nav aria-label="Page navigation">
    <ul class="pager">
      {% if page > 0 %}
        <li class="previous">
          <a href="media?page={{ page - 1 }}" aria-label="Previous">
            <i class="fa fa-arrow-left"></i> Previous
          </a>
        </li>
      {% else %}
        <li class="previous disabled">
          <span><i class="fa fa-arrow-left"></i> Previous</span>
        </li>
      {% endif %}
      <li>
        {{ page * page_size + 1 }} -
        {{ min((page + 1) * page_size, total) }}
        of {{ total }}
      </li>
      {% if page < (total / page_size)|round(0,'floor') %}
        <li class="next">
          <a href="media?page={{ page + 1 }}" aria-label="Next">
            Next <i class="fa fa-arrow-right"></i>
          </a>
        </li>
      {% else %}
        <li class="next disabled">
          <span>Next <i class="fa fa-arrow-right"></i></span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}

{% block content %}

  {{ block('pager') }}

  <div class="row">
    {% for i in media %}
      <div class="col-sm-3">
        <div class="thumbnail" data-id="{{ i.id }}">
          <div style="position: relative; width: 100%; height: 100%">
            <a href="/media/{{ i.id }}">
              <img class="img-responsive"
                   src="{{ i.medium ?: i.thumbnail }}"
                   {{ i.alt_text ? 'alt="' ~ i.alt_text ~ '"' }}>
            </a>
            <div class="caption">{{ i.caption }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {{ block('pager') }}

{% endblock %}

{% block script %}
  {{ scat.file_upload('/media') }}
{% endblock %}
