{% extends 'layout/page.html' %}

{% block title %}
  {{ image.alt_text }} - {{ image.width }}&times;{{ image.height}}
{% endblock %}

{% block content %}
  <div class="pull-right">
    <button id="delete-image" class="btn btn-danger">
      Delete
    </button>
  </div>
  <h1 class="page-header">{{ block('title') }}</h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form">
            <div class="form-group">
              <label for="alt_text" class="control-label">
                Text description
              </label>
              <p class="form-control-static editable"
                 data-name="alt_text">
                {{- image.alt_text -}}
              </p>
            </div>

            <div class="form-group">
              <label for="caption" class="control-label">
                Caption
              </label>
              <p class="form-control-static editable"
                 data-type="textarea"
                 data-name="caption">
                {{- image.caption -}}
              </p>
            </div>

          </form>
        </div>
      </div>

      {% set products= image.productsUsedBy.find_many %}
      {% if products|length %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Referenced by Products
            </h3>
          </div>
          <ul class="list-group">
            {% for product in products %}
              <a class="list-group-item"
                 href="/catalog/{{ product.full_slug }}">
                {{- product.name -}}
              </a>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>
    <div class="col-sm-6">
      <figure>
        <img class="img-responsive center-block"
             src="{{ image.medium }}" alt="{{ image.alt_text }}">
      </figure>
    </div>
  </div>

{% endblock %}

{% block script %}
  <script>
    $('.editable', document.currentScript.parentNode).editable({
      url: (params) => {
        return fetch("/media/{{ image.id }}", {
          method: 'PATCH',
          headers: {
            'Content-type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify({ [params.name] : params.value })
        })
      },
      success: (response, newValue) => {
        if (response.error) { return response.error }
      }
    }).on('shown', function (e, editable) {
      // Can't just do this directly because $input isn't focused yet
      setTimeout(function() {
        editable.input.$input.select()
      }, 1)
    })

    document.getElementById('delete-image').addEventListener('click', (ev) => {
      if (window.confirm("Are you sure that you want to delete this?")) {
        return fetch("/media/{{ image.id }}", {
          method: 'DELETE',
          headers: {
            'Accept': 'application/json'
          }
        })
        .then((res) => {
          if (!res.ok) {
            return Promise.reject(new Error(res.statusText))
          }
          window.location.href= '/media'
        })
      }
    })
  </script>
{% endblock %}
