{% extends 'layout/email.html' %}

{% block title -%}
  It looks like you left something behind...
{%- endblock %}

{% block preheader %}
  Still looking? How can we help?
{% endblock %}

{% block content_top %}
  <p>Thanks for stopping by RawMaterialsLA.com.</p>
  <p>Looks like you forgot something in your shipping cart. Let's go make it yours!</p>
{% endblock %}

{% block call_to_action %}
  return to your cart
{% endblock %}

{% block content_bottom %}
<p>
  Have any questions? Just reply to this email and we'll get back to you with
  some answers!
</p>
{% endblock %}

{% block content_very_bottom %}
<hr>
<p>
  Let’s be besties.
</p>

<ul>
  <li><a href="https://www.instagram.com/rawmaterialsartsupplies/">Follow us on Instagram</a></li>
  <li><a href="https://www.facebook.com/RawMaterialsLA">Like us on Facebook</a></li>
  <li><a href="https://www.twitter.com/RawMaterials">Follow us on Twitter</a></li>
  <li><a href="https://www.pinterest.com/rawmaterialsla/">Follow us on Pinterest</a></li>
  <li><a href="https://www.youtube.com/@RawMaterialsArtSupplies">Subscribe to our YouTube channel</a></li>
</ul>
{% endblock %}
