{% extends 'layout/email.html' %}
{% import 'macros.twig' as scat %}

{% block title -%}
  Your order has been delivered!
{%- endblock %}

{% set person= txn.person %}

{% block content_top %}
  <p>
    {% if person.name %}
      Dear {{ person.name }},
    {% else %}
      Dear,
    {% endif %}
  </p>

  <p>
    Thank you for your order from Raw Materials Art Supplies!
  </p>
  <p>
    We wanted to let you know that your order ({{ txn.formatted_number }}) was
    reported to be delivered by {{ scat.format_shipping_carrier(tracker.carrier) }} on
    {{ (delivered ?: tracker.updated_at) | date("c", "UTC") | date("l, F j", txn.shipping_address.timezone) }}.
    {% if delivered and delivered|date("Y-m-d") != tracker.updated_at|date("Y-m-d") %}
      (Sorry for the slow update, we just got the news!)
    {% endif %}
  </p>
  <p>
    If there were any problems with your delivery or you did not receive
    it, please let us know right away so we can get it sorted out!
  </p>

  {% if 0 and person.points_available() > 50 %}
    <p>
      <b>Did you know that you have a reward waiting?</b> You have enough
      points for a reward on your next purchase, just make sure to
      <a href="https://rawmaterialsla.com/login?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=delivered">log in</a> on the website
      during checkout so you can take advantage of it.
    </p>
  {% else %}
    {% if 0 and not person.suppress_loyalty %}
      <p>
        <b>Keep going to earn a reward for future purchases.</b> You don't have
        enough points yet for a reward on your next purchase, but make sure to
        <a href="https://rawmaterialsla.com/login?utm_source=internal&amp;utm_medium=email&amp;utm_campaign=delivered">log in</a> on the website
        during checkout so you can keep accumulating points.
      </p>
    {% endif %}
  {% endif %}

{% endblock %}

{% set call_to_action_url= tracker.public_url %}
{% block call_to_action "Track Your Shipment" %}

{% block content_bottom %}
  <p>
    Thank you for your business!
  </p>
{% endblock %}
