{% extends 'layout/email.html' %}
{% import 'macros.twig' as scat %}

{% block title -%}
  Your order has been shipped!
{%- endblock %}

{% block content_top %}
  <p>
    {% if txn.person.name %}
      Dear {{ txn.person.name }},
    {% else %}
      Dear,
    {% endif %}
  </p>

  <p>
    Thank you for your order from Raw Materials Art Supplies!
  </p>
  <p>
    We wanted to let you know that your order ({{ txn.formatted_number }}) was
    shipped via {{ scat.format_shipping_carrier(tracker.carrier) }} on {{ shipped | date("c", "UTC") | date("l, F j") }}.
    {% if tracker.est_delivery_date %}
      The estimated delivery date is {{ tracker.est_delivery_date | date("l, F j", "UTC") }}.
    {% endif %}
  </p>
  {% if tracker.carrier in [ 'UPS', 'UPSDAP' ] %}
    <p>
      We recommend signing up for <a href="https://www.ups.com/us/en/track/ups-my-choice.page">UPS My
      Choice</a> if you need more flexibility in receiving your package. You
      can leave specific delivery instructions for the driver, have them
      leave packages with a neighbor, deliver your package another day, or
      reroute your package to a UPS Access Point. The basic level of this
      service is free, but extra fees may apply for some services.
    </p>
  {% elseif tracker.carrier == 'USPS' %}
    <p>
      We recommend signing up for <a href="https://informeddelivery.usps.com/box/pages/intro/start.action">USPS Informed Delivery</a>
      if you need more flexibility in receiving your package. You can leave
      specific delivery instructions for your mail carrier and schedule
      redelivery online. This service is free.
    </p>
  {% endif %}

{% endblock %}

{% set call_to_action_url= tracker.public_url %}
{% block call_to_action "Track Your Shipment" %}

{% block content_bottom %}
  <p>
    Thank you for your business!
  </p>
{% endblock %}
