{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title -%}
  {{ content.title }}
{%- endblock %}

{% block content %}

  {% if DEBUG %}
    <style>
      .page-editor {
        position: fixed;
        right: 1em;
        top: 1em;
      }
      @media (max-width: 599.98px) {
        .page-editor {
          display: none;
        }
      }
    </style>
    <div class="page-editor">
      <a class="button" href="{{ current_url() }}?edit=1">
        <i class="lni lni-pencil-alt"></i>
        Edit Page
      </a>
    </div>
  {% endif %}

  <main>
    {% if content.format == 'markdown' %}
      {{ include(template_from_string(content.content)) | markdown }}
    {% else %}
      {{ include(template_from_string(content.content)) | raw }}
    {% endif %}
  </main>

{% endblock %}
