{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title -%}
  {{ content.title }}
{%- endblock %}

{% block extra_header %}
  {% if content.description %}
    <meta name="description" content="{{ content.description|e('html_attr') }}">
  {% endif %}
{% endblock %}

{% block content %}

  {% if DEBUG %}
    <style>
      .page-editor {
        position: fixed;
        right: 1em;
        top: 1em;
      }
      @media (max-width: 599.98px) {
        .page-editor {
          display: none;
        }
      }
    </style>
    <div class="page-editor">
      <a class="button" href="{{ current_url() }}?edit=1">
        {{ bootstrap_icon('pencil-square') }}
        Edit Page
      </a>
    </div>
  {% endif %}

  {% if content.format == 'markdown_to_html' %}
    {{ include(template_from_string(content.content)) | markdown_to_html }}
  {% else %}
    {{ include(template_from_string(content.content)) | raw }}
  {% endif %}

{% endblock %}
