<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        {{ item.name }}
      </p>
      <a class="delete" aria-label="close" href="./"></a>
    </header>
    <section class="modal-card-body">
      Content.
    </section>
    <footer class="modal-card-foot">
      <a href="./" class="button">Close</a>
    </footer>
  </div>
</div>
