{% extends 'catalog-layout.html' %}

{% block title %}
  Catalog Brand
{% endblock %}

{% block catalog_crumb %}
  <ol class="breadcrumb">
    <li><a href="{{ path_for('catalog') }}">Catalog</a></li>
    <li class="{{ not brand ? 'active' }}">
      <a href="{{ path_for('catalog-brand') }}">Brands</a>
    </li>
    {% if brand %}
      <li class="active">
        <a href="{{ path_for('catalog-brand', { 'brand' : brand.slug }) }}">
          {{ brand.name }}
        </a>
      </li>
    {% endif %}
  </ol>
{% endblock %}

{% block catalog_content %}

{% if brands|length %}
  <ul style="column-count: 3" class="list-group">
    {% for b in brands %}
      <li class="list-group-item" style="break-inside: avoid-column">
        <a href="{{ path_for('catalog-brand', { 'brand' : b.slug }) }}">
          {{ b.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if brand %}
  <h1 class="title">{{ brand.name }}</h1>
{% endif %}

{% if products %}
  {% include 'catalog-products.twig' %}
{% endif %}

{% endblock %}
