{% extends 'layout.html' %}

{% block title %}
  Catalog
{% endblock %}

{% block content %}

<div class="columns">
  {% block catalog_sidebar %}
    <div class="column is-one-quarter">
      {% include 'catalog-sidebar.twig' %}
    </div>
  {% endblock %}

  <div class="column">
    {% include 'catalog-searchform.twig' %}

    <section class="section">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="{{ path_for('catalog') }}">Catalog</a></li>
          {% block catalog_crumb %}
            {% if dept %}
              <li class="{{ not subdept ? 'is-active' }}">
                <a href="{{ path_for('catalog', { 'dept' : dept.slug }) }}">
                  {{ dept.name }}
                </a>
              </li>
            {% endif %}
            {% if subdept %}
              <li class="{{ not product ? 'is-active' }}">
                <a href="{{ path_for('catalog', {'dept': dept.slug,
                                                 'subdept': subdept.slug }) }}">
                  {{ subdept.name }}
                </a>
              </li>
            {% endif %}
            {% if product %}
              <li class="{{ not item ? 'is-active' }}">
                <a href="{{ path_for('catalog', { 'dept': dept.slug,
                                                  'subdept': subdept.slug,
                                                  'product': product.slug}) }}">
                  {{ product.name }}
                </a>
              </li>
            {% endif %}
          {% endblock %}
        </ul>
      </nav>
    </section>

    {% block catalog_content %}
      {% if products and not product %}
        {% include 'catalog-products.twig' %}
      {% endif %}

      {% if product %}
        {% include 'catalog-product.twig' %}
      {% endif %}

      {# Item(s) #}
      {% if items|length %}
        {% include 'catalog-items.twig' %}
      {% endif %}

      {% if item %}
        {% include 'catalog-item.twig' %}
      {% endif %}

    {% endblock %}
  </div>
</div>

{% endblock %}
