<form method="GET" action="/catalog/search">
  <div class="field has-addons">
    <div class="control is-expanded has-icons-left">
      <input class="input" type="text" name="q" value="{{ q }}"
             autocomplete="off" autocorrect="off" autocapitalize="off"
             spellcheck="false"
             placeholder="Enter keywords or an item number or scan barcode">
      <span class="icon is-small is-left">
        <i data-feather="search"></i>
      </span>
    </div>
    <div class="control">
      <a class="button is-info">
        Search
      </a>
    </div>
  </div>
</form>
