<form method="GET" action="/catalog/search">
  <div class="input-group">
    <input class="form-control" type="text" name="q" value="{{ q }}" autofocus
           autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false"
           placeholder="Enter keywords or an item number or scan barcode">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </span>
  </div>
</form>
