{% extends 'catalog-layout.html' %}

{% block title %}
  Catalog Search
{% endblock %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet"
        href="/extern/lightslider-1.1.6/dist/css/lightslider.min.css" />
  <script src="/extern/lightslider-1.1.6/dist/js/lightslider.min.js"></script>
{% endblock %}

{% block catalog_sidebar %}
{% endblock %}

{% block catalog_crumb %}
{% endblock %}

{% block catalog_width "12" %}

{% block catalog_content %}
  {# Product(s) #}
  {% if products|length %}
    <ul id="product-slider">
      {% for p in products %}
        {% set slug = path_for('catalog') ~ '/' ~ p.full_slug %}
        <li>
          <a href="{{ slug }}" class="thumbnail">
            <div class="caption">
              <small>{{ p.name }}</small>
            </div>
            {% if p.media|length %}
              {% set i = p.media[0] %}
              <img class="media-object"
                   style="width:120px; max-width: 120px"
                   src="{{ STATIC ~ i.thumbnail }}"
                   alt="{{ i.alt_text }}">
            {% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

<script>
$(function() {
  $('#product-slider').lightSlider({
    item: 6,
    auto: false
  });
});
</script>

  {# Item(s) #}
  {% if items|length %}
    {% include 'catalog-items.twig' %}
  {% endif %}

  {% if not items|length and not products|length %}
    <p class="lead">
      <strong>No results found.</strong>
      Nothing was found for those search parameters.
      {% if not (q matches '/active:0/') %}
        <a href="{{ current_path(true) ~ ' active:0' }}">Try again with inactive items.</a>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
