{% extends 'layout/page.html' %}

{% block title %}
  Catalog
{% endblock %}

{% block content %}

<style>
.breadcrumb>.active>a { color: #333 }
</style>

<div class="row">
  <div class="col-md-{% block catalog_width "9 col-md-push-3" %}">
    {% include 'catalog-searchform.twig' %}
    <hr style="border-color: rgba(0,0,0,0.1)">
    {% block catalog_crumb %}
      {% if dept %}
        <div class="row">
          <div class="col-xs-11">
            <ol class="breadcrumb">
              <li><a href="{{ path_for('catalog') }}">Catalog</a></li>
              <li class="{{ not subdept ? 'active' }}">
                <a href="{{ path_for('catalog', { 'dept' : dept.slug }) }}">
                  {{ dept.name }}
                </a>
              </li>
              {% if subdept %}
                <li class="{{ not product ? 'active' }}">
                  <a href="{{ path_for('catalog', {'dept': dept.slug,
                                                   'subdept': subdept.slug }) }}">
                    {{ subdept.name }}
                  </a>
                </li>
              {% endif %}
              {% if product %}
                <li class="{{ not item ? 'active' }}">
                  <a href="{{ path_for('catalog', { 'dept': dept.slug,
                                                    'subdept': subdept.slug,
                                                    'product': product.slug}) }}">
                    {{ product.name }}
                  </a>
                </li>
              {% endif %}
            </ol>
          </div>
          <div class="col-xs-1">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle"
                      type="button" id="settingsMenu" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="true">
                <i class="fa fa-cog"></i>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right"
                  aria-labelledby="settingsMenu">
                {% if product %}
                  <li>
                    <a onclick="scat.dialog(this, '/catalog/product-form',
                                            { id : {{ product.id }} })">
                      Edit Product
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a onclick="scat.dialog(this, '/catalog/department-form',
                                            { id : {{ subdept ?
                                                       subdept.id :
                                                       dept.id }} })">
                      Edit Department
                    </a>
                  </li>
                  {% if subdept %}
                    <li>
                      <a onclick="scat.dialog(this, '/catalog/product-form',
                                              { department_id:
                                                 {{ subdept.id }} })">
                        Add Product
                      </a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
    {% endblock %}

    {% block catalog_content %}
      {% if products and not product %}
        {% include 'catalog-products.twig' %}
      {% endif %}

      {% if product %}
        {% include 'catalog-product.twig' %}
      {% endif %}

      {# Item(s) #}
      {% if items|length %}
        {% include 'catalog-items.twig' %}
      {% endif %}

      {% if item %}
        {% include 'catalog-item.twig' %}
      {% endif %}

      {% if brands|length %}
        <div style="column-count: 3" class="list-group">
          <a class="list-group-item list-group-item-info"
             onclick="scat.dialog(this, '/catalog/brand-form')">
            Add Brand
          </a>
          {% for b in brands %}
            <a class="list-group-item" style="break-inside: avoid-column"
               href="{{ path_for('catalog-brand', { 'brand' : b.slug }) }}">
              {{ b.name }}
            </a>
          {% endfor %}
        </div>
      {% endif %}

    {% endblock %}
  </div>

  {% block catalog_sidebar %}
    <div class="col-md-3 col-md-pull-9">
      {% include 'catalog-sidebar.twig' %}
    </div>
  {% endblock %}

</div>

{% endblock %}

{% block extra_head %}
  {% if product %}
    <script src="/js/jquery.html5uploader.js"></script>
    <script>
    $(function() {
      var uploaderOptions= {
        name: 'src',
        postUrl: function() {
          return '/catalog/product/add-image?id={{ product.id }}'
        },
        /* Progress */
        onClientLoadStart: function (e, file, response) {
          $('#status').text("Reading...")
        },
        onClientLoadEnd: function (e, file, response) {
          $('#status').text("Preparing...")
        },
        onServerLoadStart: function (e, file, response) {
          $('#status').text("Uploading...")
        },
        onServerLoad: function (e, file, response) {
          $('#status').text("Processing...")
        },
        onSuccess: function(e, file, response) {
          try {
            data= JSON.parse(response);
          } catch (e) {
            data= { error : e };
          }
          if (data.error) {
            alert(data);
            return;
          }
          $('#status').text("Uploaded!")
          window.location.reload();
        },
        onServerError: function(e, file) {
          alert("File upload failed.");
          $('#status').text('Failed.');
        },
      };
      $(document).html5Uploader(uploaderOptions);

      /*
      $(document).bind("drop", function (e) {
        var items= e.originalEvent.dataTransfer.items;
        if (e.originalEvent.dataTransfer.files.length) return;
        for (var i= 0; i < items.length; i++) {
          if (items[i].kind == 'string' && items[i].type == 'text/uri-list') {
            items[i].getAsString(function (s) {
              Scat.api('image-add', { url: s })
                  .done(function (data) {
                    viewModel.addImage(data);
                  });
            });
          }
        }
        return false;
      });
      */
    });
    </script>
  {% endif %}
{% endblock %}
