{% extends 'catalog-layout.html' %}

{% block title %}
  Catalog Search
{% endblock %}

{% block extra_head %}
  <link type="text/css" rel="stylesheet"
        href="/extern/lightslider-1.1.6/dist/css/lightslider.min.css" />
  <script src="/extern/lightslider-1.1.6/dist/js/lightslider.min.js"></script>
{% endblock %}

{% block catalog_sidebar %}
  {# Product(s) #}
  {% if products|length %}
    <div class="col-md-3 col-md-pull-9">
      {% for p in products %}
        {% set slug = path_for('catalog') ~ '/' ~ p.full_slug %}
        <figure class="thumbnail is-square">
          <a href="{{ slug }}">
            {% if p.media|length %}
              {% set i = p.media[0] %}
              <img src="{{ i.thumbnail }}" alt="{{ i.alt_text }}">
            {% endif %}
            <div class="caption">
              <small>{{ p.name }}</small>
            </div>
          </a>
        </figure>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block catalog_crumb %}
{% endblock %}

{% block catalog_width products|length ? "9 col-md-push-3" : "12" %}

{% block catalog_content %}
  {# Error(s) #}
  {% if errors|length %}
    {% for e in errors %}
      <div class="alert alert-danger">
        {{ e }}
      </div>
    {% endfor %}
  {% endif %}

  {# Item(s) #}
  {% if items|length %}
    {% include 'catalog-items.twig' %}
  {% endif %}

  {% if not items|length and not products|length %}
    <p class="lead">
      <strong>No results found.</strong>
      Nothing was found for those search parameters.
      {% if not (q matches '/active:0/') %}
        <a href="{{ current_path(true) ~ ' active:0' }}">Try again with inactive items.</a>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
