{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}
{% import _self as s %}

{% block title %}
  Scat POS
{% endblock %}

{% block content %}
  <style>
    [data-action] {
      cursor: pointer;
    }
    tr[data-action]:hover {
      text-decoration: underline;
      color: rgba(128, 0, 0, 0.8);
    }
  </style>

  <div class="row">
    <div class="col-sm-10">
      <form id="search" method="GET" action="/">
        <div class="input-group">
          <input class="form-control autofocus"
                 type="text" name="q" value="{{ q }}"
                 autocomplete="off" autocorrect="off" autocapitalize="off"
                 spellcheck="false"
                 placeholder="Enter name or other details or scan barcode">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">
              Search
            </button>
          </span>
        </div>
      </form>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" data-action="create-sale">
        New Sale
      </button>
    </div>
  </div>

  <hr style="border-color: rgba(0,0,0,0.1)">

  <div data-reload="results">
    {{ block('results') }}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Open Invoices
          </h2>
        </div>
        {{ s.sales(open_invoices) }}
      </div>
    </div>
    <div class="col-sm-6">
      <div data-reload="orders">
        {{ block('orders') }}
      </div>
    </div>
  </div>
{% endblock %}

{% block results %}
  <div>
    {% import 'macros.twig' as scat %}
    {% if results %}
      {% if results.items|length == 1 %}
        {% set item= results.items[0] %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">
              <a href="{{ url_for('catalog-item', { 'code' : item.code }) }}">
                {{ item.name }}
                <small>{{ item.code }}</small>
              </a>
            </h1>
          </div>
          <div class="panel-body">
            <div class="col-sm-2">
              <a href="{{ url_for('catalog-item', { 'code' : item.code }) }}">
                {% set media= item.media %}
                {% if media is not empty %}
                  {{ include('carousel.twig', { images: media }) }}
                {% endif %}
              </a>
            </div>
            <div class="col-sm-10">
              {% if item.product_id %}
                <p>
                  <a href="{{ url_for('catalog', { 'dept' : i.product.dept.parent.slug, 'subdept' : i.product.dept.slug, 'product' : i.product.slug }) }}">
                    See all {{ item.product.name }}
                    from {{ item.product.brand.name }}
                    <i class="fa fa-arrow-right"></i>
                  </a>
                </p>
              {% endif %}
              <h3>
                {{ scat.amount(item.sale_price) }}
                {% if item.sale_price != item.retail_price %}
                  <small style="white-space: nowrap;">List Price {{ scat.amount(item.retail_price) }}</small>
                {% endif %}
              </h3>
              {% if item.sale_price != item.retail_price %}
                <h4>Save {{ "%.0f"|format((item.retail_price - item.sale_price) / item.retail_price * 100) }}% off list</h4>
              {% endif %}
              <p>
                {{ item.stock }} available,
                {% if item.minimum_quantity %}
                  minimum stock {{ item.minimum_quantity }}
                {% else %}
                  not stocked
                {% endif %}
              </p>
            </div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary"
                    id="single-match"
                    data-action="create-sale" data-item-id="{{ item.id }}">
              Start Sale
            </button>
          </div>
        </div>
      {% elseif not results.items|length %}
        <h2>Nothing found.</h2>
      {% else %}
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Brand</th>
              <th>Price</th>
              <th>Stock</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in results.items %}
              <tr data-action="view-item" data-code="{{ item.code }}">
                <td>
                  {{ item.code }}
                </td>
                <td>
                  {{ item.name }}
                </td>
                <td>
                  {% if item.product_id %}
                    {{ item.product.brand.name }}
                  {% endif %}
                </td>
                <td>
                  {{ scat.amount(item.sale_price) }}
                </td>
                <td>
                  {{ item.stock }}
                </td>
                <td>
                  <button class="btn btn-xs btn-default"
                          data-action="create-sale"
                          data-item-id="{{ item.id }}">
                    Start Sale
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if results.items|length < results.items[0].records %}
          <p>
            <a href="/catalog/search?q={{ q }}">
              See all {{ results.items[0].records }} results
              <i class="fa fa-arrow-right"></i>
            </a>
        {% endif %}
      {% endif %}

      <hr style="border-color: rgba(0,0,0,0.1)">
    {% endif %}
  </div>
{% endblock %}

{% block orders %}
  {% import _self as s %}
  <div>
    {% if orders_to_print|length %}
      <div class="panel panel-default orders-to-print">
        <div class="panel-heading">
          <div class="pull-right">
            <button data-action="print-orders"
                    class="btn btn-default btn-xs">
              <i class="fa fa-print"></i> Print All
            </button>
          </div>
          <h2 class="panel-title">
            Orders to Print
          </h2>
          <div class="clearfix"></div>
        </div>
        {{ s.sales(orders_to_print) }}
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          Orders to Process
        </h2>
      </div>
      {{ s.sales(orders_to_process) }}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    scat.handleAction('click', 'view-sale', (act) => {
      let id= act.closest('[data-id]').getAttribute('data-id')
      window.location.href= "/sale/" + id
      return Promise.resolve()
    })

    scat.handleAction('click', 'view-item', (act) => {
      let code= act.closest('[data-code]').getAttribute('data-code')
      window.location.href= "/catalog/item/" + code
      return Promise.resolve()
    })

    scat.handleAction('click', 'create-sale', (act) => {
      let data= act.closest('[data-item-id]')
      let item_id= data ? data.getAttribute('data-item-id') : 0
      return scat.post('/sale', { item_id: item_id })
              .then((res) => res.json())
              .then((data) => {
                window.location.href= '/sale/' + data.id
                return
              })
              .catch((err) => {
                scat.alert('danger', err.message || "Failed!")
              })
    })

    scat.handleAction('click', 'print-orders', (act) => {
      let orders= document.querySelectorAll('.orders-to-print tr[data-id]')

      return Promise.all(Array.from(orders).map((row) => {
        let id= row.getAttribute('data-id')
        return scat.print('/sale/' + id + '/~print-invoice', {
          variation: 'packing-slip'
        })
        .then((res) => {
          return scat.patch("/sale/" + id, { status: 'processing' })
        })
      }))
      .then((res) => {
        scat.reload('orders')
      })
    })

    document.getElementById('search').addEventListener('submit', (ev) => {
      ev.preventDefault()

      let q= ev.target['q'].value

      let url= new URL(window.location.href)

      // when we're searching for the same thing again and there was
      // one match, create a new sale with it
      // TODO refine this before enabling
      if (0 && q == url.searchParams.get('q')) {
        let match= document.getElementById('single-match')
        if (match) {
          match.click()
          return
        }
      }

      // stuff progress bar into results
      let results= document.querySelector('[data-reload="results"]')
      results.children[0].replaceWith(scat.htmlToElement('<div class="progress progress-striped active" style="width: 100%; height: 1.5em"><div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Searching&hellip;.</div></div>'))

      // update window.location and use scat.reload() to just reload results
      url.searchParams.set('q', q)
      window.history.replaceState(null, null, url)
      scat.reload('results')

      // focus and select so new typing/scan overwrites existing
      ev.target['q'].focus()
      ev.target['q'].select()
      return false
    })
  </script>
{% endblock %}

{% macro sales(sales) %}
  {% import 'macros.twig' as scat %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Created</th>
        <th>Person</th>
        <th style="text-align: right">Items</th>
        <th style="text-align: right">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
        <tr data-action="view-sale" data-id="{{ sale.id }}">
          <td>{{ sale.number }}</td>
          <td>{{ sale.created|date("M j g:ia") }}</td>
          <td>
            <div class="pull-right text-muted">
              {% if sale.shipping_address_id %}
                <i class="fa {{ sale.shipping_address_id == 1 ? 'fa-building': 'fa-truck' }}"></i>
              {% endif %}
            </div>
            {{ sale.person.friendly_name }}
          </td>
          <td style="text-align: right">
            {{ sale.items.sum('ordered') * -1 }}
          </td>
          <td style="text-align: right">{{ scat.amount(sale.total) }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
