<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}Scat{% endblock %}
    {% if not (block('title') matches '/Scat/') %}
      @ Scat
    {% endif %}
  </title>

  <link rel="stylesheet" type="text/css" href="/extern/bootstrap/css/bootstrap.min.css">
  {# TODO import this into our repo #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/scat.css">
  <style type="text/css">
    body.page {
      padding-top: 70px;
    }
  </style>

  <script src="/components/jquery/jquery.min.js"></script>
  <script src="/extern/bootstrap/js/bootstrap.min.js"></script>

  {% block extra_head %}
  {% endblock %}
</head>

<body class="page">

<header class="navbar navbar-default navbar-fixed-top" role="navigation"
        style='{{ DEBUG ? "background: #fcc" }}'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-barcode"></i>
        Scat
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul id="navbar" class="nav navbar-nav">
        <li>
          <a class="{{ current_path() starts with '/sale' ? 'is-active' }}"
             href="/sale">
            Sales
          </a>
        </li>
        <li>
          <a class="{{ current_path() starts with '/catalog' ? 'is-active' }}"
             href="/catalog">
            Catalog
          </a>
        </li>
        <li>
          <a class="{{ current_path() starts with '/person' ? 'is-active' }}"
             href="/person">
            People
          </a>
        </li>
        <li>
          <a class="{{ current_path() starts with '/clock' ? 'is-active' }}"
             href="/clock">
            Clock
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/report/summary">
                Summary
              </a>
            </li>
            <li>
              <a href="/report/brand">
                Brand
              </a>
            </li>
            <li>
              <a href="/report/daily">
                Cashflow
              </a>
            </li>
            <li>
              <a href="/report/category">
                Category
              </a>
            </li>
            <li>
              <a href="/report/dogs">
                Dogs
              </a>
            </li>
            <li>
              <a href="/report/items">
                Items
              </a>
            </li>
            <li>
              <a href="/report/underpriced">
                Underpriced
              </a>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Money</li>
            <li>
              <a href="/till">
                Till
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<div id="scat-page" class="container">
  {% block content %}{% endblock %}
</div>

<footer>
 <span id="status">&nbsp;</span>
 <span class="pull-right">Scat &copy; 2010-2019 Jim Winstead Jr.</span>
</footer>

</body>
</html>
