<form method="GET" action="/person/search">
  <div class="input-group">
    <input class="form-control" type="text" name="q" value="{{ q }}" autofocus
           autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false"
           placeholder="Enter name or other details or scan barcode">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Search
      </button>
    </span>
  </div>
</form>
<hr style="border-color: rgba(0,0,0,0.1)">
