{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Test page
{% endblock %}

{% block content %}
  <button class="btn btn-primary btn-block" id="test">
    Do it
  </button>

  <div id="one" class="well" data-reload="/test/~one">
    One
  </div>

  <div id="two" class="well" data-reload="/test/~two">
    Two
  </div>
{% endblock %}

{% block script %}
  <script>
    document.querySelector('#test').addEventListener('click', (ev) => {
      scat.call('/test', { one: 1, two: 2 })
    })
  </script>
{% endblock %}
