{% extends 'layout/page.html' %}
{% import 'macros.twig' as scat %}

{% block title %}
  Clock
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="alert alert-info">
        <strong>Click</strong> on a name to clock in or out.
      </div>
      <div class="list-group" data-loaded="{{ 'now'|date("U") }}">
        {% for person in people %}
          <a data-id="{{ person.id }}"
              data-action="punch"
              class="list-group-item
                      {{ person.punched ? 'list-group-item-success' }}">
            <i class="fa fa-fw fa-clock-o"></i>
            {{ person.name }}
            <span class="badge {{ not person.punched ? 'faded' }}">
              {{- person.punched ?? person.last_punch_out -}}
            </span>
          </a>
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <style>
    .faded { opacity: 50% }
  </style>
  <script>
    let reload= () => {
      return fetch('/clock?block=content')
        .then((res) => {
          if (!res.ok) {
            throw new Error('Network response was not ok')
          }
          return res.text()
        })
        .then((data) => {
          document.querySelector('#scat-page').innerHTML= data
          console.log("reloaded")
          return data
        })
    }

    let reloadStale= scat.serialize(() => {
      let loaded= document.querySelector('[data-loaded]').getAttribute('data-loaded')
      let now= Math.floor(Date.now() / 1000)
      if (!window.reloading && loaded < now - 15) {
        window.reloading= true
        console.log("reloading - stale")
        reload().then(() => {
          window.reloading= false
        })
      }
    })

    window.addEventListener('focus', reload);
    window.addEventListener('pageshow', reload);
    window.addEventListener('mousemove', reloadStale);

    scat.handleAction('click', 'punch', (act) => {
      let formData= new FormData()
      formData.append('id', act.getAttribute('data-id'))
      fetch('/clock/~punch', {
        method: 'POST',
        headers: { 'Accept': 'application/json' },
        body: formData
      })
      .then((res) => {
        if (!res.ok) {
          throw new Error('Network response was not ok')
        }
        reload()
      })
    })
  </script>
{% endblock %}
